[2017-11-09 21:05] grampelberg opened #11 "Implement a release process"
We need a full release process.

- auto-builds
- binary publishing
- container publishing

[2017-11-09 21:07] pyronicide opened #12 "Implement a ksync developer workflow"
- Environments should be completely isolated.
- Images should be uploaded to something the developer has access to.

# Details

- Specify the image to use via. (hidden?) flag in `ksync` persistent flags.

[2017-11-09 21:21] pyronicide opened #13 "Create a `doctor` command to output telemetry and debugging"
- Local
  - Can connect to k8s cluster
  - RBAC is permissive enough

- Remote
  - Radar installed
  - Healthy on every node
  - time is in sync between remote and local

[2017-11-09 21:25] grampelberg opened #14 "Monitor k8s via. watch, not just the local config."
For Specs, watch the K8s API.

# Creations

Spin up `run` for every pod matched.

## Questions

- Is there a state that should be waited for? eg. Ready?

# Removals

Stop local runs instead of just letting them loop indefinitely.

## Questions

- Trigger on termination instead of waiting for the container to stop?

[2017-11-09 21:29] grampelberg opened #15 "Show status in the task bar"
With watch running in the background, it is hard to know what's happening. Surface status to a task bar menu. ex. https://github.com/cratonica/trayhost

# Icon

- Files being uploaded
- Run starting up

# Menu

- `get` output
- `doctor` output

[2017-11-09 21:32] grampelberg opened #16 "Hot reload remote container"
When files are updated remotely, "hot reload" the remote container.

- Restart the container the same way mirror is for new connections (via. `docker restart`).
- Debounce the file updates so that it isn't being constantly restarted.

[2017-11-09 21:34] grampelberg opened #17 "Add a `version` command that returns local and remote versions"
# Local

- Version
- Go Version
- Git Commit
- Git Tag
- Built

# Remote

- Version
- Go Version
- Git Commit
- Git Tag
- Built
- Healthy

[2017-11-09 21:36] pyronicide opened #18 "Enable configuration of `init` background processes"
There need to be flags that disable creation of:

- radar on the remote cluster
- local watch background container

The defaults should be to create both of these at once.

[2017-11-09 21:39] pyronicide opened #19 "Wait for healthiness during `init`"
- radar installed
- radar healthy on every node (progress bar?)
- watch running

[2017-11-09 21:42] grampelberg opened #20 "Verify configured run user can write to localPath"
During `create` and before `run` is launched by `watch`, verify that localPath is writeable.

The run command is run as a specific user (with the container also run as user). `mirror` will fail in unfortunate ways if this user doesn't have permissions to write (or read) to localPath.

[2017-11-09 21:43] pyronicide opened #21 "Enable standalone usage of `watch`"
Watch assumes that it is run inside a container. End users should be able to run it on their own.

[2017-11-09 21:43] pyronicide opened #22 "Enable standalone usage of `run`"
Run assumes that it is run from inside a container. End users should be able to run it standalone.

[2017-11-09 21:44] grampelberg opened #23 "TLS for radar connection"
The radar connection should be encrypted.

- Is this already taken care of by kubectl proxy for us?

[2017-11-09 21:45] pyronicide opened #24 "TLS for mirror connection"
Is this already taken care of by the tunnel?

[2017-11-09 21:48] pyronicide opened #25 "Validate specs on load"
It is possible to just edit `.ksync.yaml` and add to the specs. It is also possible to do this incorrectly. Validate that a spec is valid after loading.

[2017-11-09 21:53] pyronicide opened #26 "Command to remove radar DaemonSet"
`init` puts the DaemonSet on your cluster, we should also have a way to clean that up.

[2017-11-09 21:54] pyronicide opened #27 "Command to stop background `watch`"
`init` starts `watch` in the background, we need a command to stop it.

[2017-11-09 21:56] pyronicide opened #28 "Build state machine for spec lifecycle"

[2017-11-09 21:57] pyronicide opened #29 "Expand spec status criteria"
Take the state machine and use it to report spec status to the end user.

[2017-11-10 15:44] grampelberg opened #30 "Pull images locally when not found"

[2017-11-10 19:59] #30 closed, assigned to grampelberg

[2017-11-14 19:01] grampelberg opened #32 "`--force` only works once"
If you add similar specs, `--force` works the first time and then stops working.

[code]

[2017-11-14 19:05] pyronicide opened #33 "Watch container name can collide"
If the watch background container is not cleaned up correctly, the name collides with the old (possibly not running) container. We should catch this error and just remove the old one.

[2017-11-16 15:01] pyronicide opened #36 "Error executing access token command"
For GKE (and I assume others), access to the k8s cluster is governed by access tokens that get refreshed automatically by the client when expired. Inside the watch and run containers, there is nothing to do this with and it ends up being a permanent error. There needs to be a way to refresh these tokens when the error is experienced.

[2017-11-16 18:01] pyronicide opened #37 "Add `restarting` to spec lifecycle"

[2017-11-16 18:48] grampelberg opened #38 "Allow reloading for globs"
Currently, if any file changes and you're reloading, the remote container is restarted. It would be nice to only do this on a glob.

[2017-11-16 19:02] #17 closed, assigned to timfallmk

[2017-11-16 19:11] #14 closed, assigned to grampelberg

[2017-11-16 19:28] pyronicide opened #40 "Reduce number of cross-compilations"
As of right now, we probably only support:

- linux/amd64
- darwin/amd64

`ksync` is dependent on docker running locally, so it makes sense to restrict to that at least. Windows might work, it just hasn't been tested.

[2017-11-16 19:29] grampelberg opened #41 "Build radar container with CI"
We're building the binaries for radar, but not the container (and pushing it). That should change.

Note: we also don't need to build radar binaries outside of the container (as they'll just not get used by anyone).

[2017-11-16 19:38] #16 closed, assigned to grampelberg

[2017-11-16 23:28] timfallmk opened #42 "radarCheck looks for `test` app instance"
`radarCheck()` should check for the presence of the `radar` pod itself, not the test app.

In order to do this we'll have to add context to the `GetContainers()` function, or make `nodeName` optional in `IsHealthy(nodename string)`.

[2017-11-17 16:04] pyronicide opened #44 "Test for goroutine leaks"
`Spec` and `Mirror` can both leak goroutines, let's make sure they're being cleaned up correctly.

[2017-11-17 16:13] pyronicide opened #45 "Introduce `patch` command"
There should be a way to update existing specs without delete/create. This will require updates to how `watch` works.

[2017-11-17 17:04] grampelberg opened #46 "Download `mirror-all.jar` to `~/.ksync` directory"
- Download during init
- Check before starting watch

[2017-11-17 17:05] pyronicide opened #47 "Implement `run` command"
All the functionality has been moved into `watch`. I'm not sure this is actually required anymore as `create` does it for you (assuming you're running watch).

[2017-11-17 22:42] grampelberg opened #49 "Leaking tunnels"
Each radar query starts a tunnel, which leaks because we're not cleaning tunnels up. They should be cleaned up when the requests are done.

[2017-11-17 23:01] #42 closed, assigned to nobody

[2017-11-20 15:02] #46 closed, assigned to grampelberg

[2017-11-21 23:53] timfallmk opened #52 "More aggressive caching of vendored packages in CI"
Right now caching of the `vendor/` directory in CircleCI is done via hashing of:

`vendor-{{ checksum "Gopkg.toml" }}-{{ checksum "Gopkg.lock" }}`

Which falls back to to this, in the event of not finding a matching cache:

`vendor-{{ checksum "Gopkg.toml" }}`

In addition, we only trigger caching on _successful_ runs, whether the dependency operation completed successfully or not. This causes *mo

[2017-11-27 22:14] #52 closed, assigned to nobody

[2017-11-28 22:02] #41 closed, assigned to nobody

[2017-11-28 22:22] timfallmk opened #55 "Investigate setting both paths to remote objects."
We should check how feasible it is to set both the `remotePath` (the in-cluster path) and the `localPath` (some out-of-cluster path) to "remote" locations, that is locations that are not on the local machine `watch` is being run on.

A possible example of this scenario might be one where someone wants to sync a `gs` bucket to a k8s pod, in which case the `localPath` would resolve to a `gs://` URI.

[2017-11-29 14:19] #20 closed, assigned to timfallmk

[2017-12-04 13:41] #11 closed, assigned to nobody

[2017-12-05 01:20] timfallmk opened #60 "`ksync version` pulls pre-populated version info for `radar` component"
I'm not entirely sure why this is the case, but running `ksync version` populates both the `ksync` and `radar` version info strings with the stamps from the `ksync` binary build.

To see the difference, use an old (i.e. not current) `ksync` binary and run `ksync version`. Now using a current `ksync` binary (i.e. one that matches the `radar` version currently deployed) run `ksync version again`. Yo

[2017-12-06 23:09] timfallmk opened #62 "Allow macOS builds to use the proper stamps"
Currently, only CI (or linux with some manual steps) properly stamps the binaries with the correct version info. Fix this to allow macOS (and other local builds) to get properly stamped.

[2017-12-08 14:38] #60 closed, assigned to nobody

[2017-12-09 00:55] timfallmk opened #65 "CI pushes stale radar container image to cluster"
CircleCI launches objects into the cluster (in the [launching objects into cluster](https://github.com/vapor-ware/ksync/blob/master/.circleci/config.yml#L63) step) for use in subsequent tests. This leaves the version of the radar container running in the cluster at `HEAD^1`, which could cause possible conflicts when testing recent changes.

One solution might be to _re_ launch the radar container

[2017-12-11 14:15] #62 closed, assigned to nobody

[2017-12-11 14:16] pyronicide opened #67 "Bash install script"
I'm thinking it'd be nice to have a one liner in the docs for install.

[code]

It'd get the latest release and plop it in `/usr/local/bin`.

[2017-12-11 22:39] timfallmk opened #68 "Repo description and tags"
Before release we should add a good (short) description and tags for the repository.
<img width="584" alt="screen shot 2017-12-11 at 2 39 24 pm" src="https://user-images.githubusercontent.com/5316117/33857585-22e5af0e-de81-11e7-9e4e-2caf436d03df.png">

[2017-12-12 15:21] grampelberg opened #69 "Better error messages"
- Detect when something else is listening on the ksync port and provide an explanation (watch is running elsewhere, stop it first).

[2017-12-13 00:05] timfallmk opened #71 "Fix CI tag stamping and triggers"
Circle only seems to support the `CIRCLECI_TAG` env var in workflows at the moment. It also doesn't trigger on tag pushes outside of workflows. For the meantime we'll need to figure out a workaround to trigger on tag pushes and properly stamp the binaries with tags.

[2017-12-13 14:21] #71 closed, assigned to nobody

[2017-12-14 21:37] pyronicide opened #74 "Show the version correctly in the binaries (for releases)"
Now that we have the release process working off tags through CI, the version needs to be set correctly.

[2017-12-14 21:38] pyronicide opened #75 "Tag the docker image on release"
When we upload the binaries to github for a release, we also need to tag a docker image.

[2017-12-14 21:39] pyronicide opened #76 "Move docker images to docker hub"
Instead of hosting on a private github project, move the docker images over to docker hub.

[2017-12-15 00:05] timfallmk commented on #75
We also currently upload a new `canary` image for *each* build. We should tag a "release" build that's stable at a tag as well.

[2017-12-15 00:08] timfallmk opened #79 "Overlap in `update` and `init --upgrade` commands"
Not sure how we should deal with this, but these functions feel like they should be logically grouped together.

[2017-12-15 00:42] #67 closed

[2017-12-15 04:57] timfallmk commented on #28
Looks like this needs closing

[2017-12-15 04:58] timfallmk commented on #40
I’m going to close this for now since the container for radar is being built automatically. Re-open if needed.

[2017-12-15 04:58] #40 closed

[2017-12-15 18:01] pyronicide opened #80 "Make watch a service on OSX and linux"
It would be nice to have watch be a background service instead of something to run on the command line. We should have some service files put together (and eventually an installer, via. homebrew perhaps).

[2017-12-15 18:07] pyronicide opened #81 "Add `restarting` to the status"
Once we've sent a file and a container is restarted, we should show that in the status (and change back once it has actually completed).

[2017-12-15 20:00] pyronicide opened #82 "Allow more than one test to run at once"
We're not name spacing anything, so only one test can run on CI at once. Should be able to have parallel tests run.

[2017-12-15 20:04] timfallmk commented on #82
Ooooo neat! Be careful that some tests assume state from previous tests. This is only the case within a single file.

[2017-12-15 20:10] #74 closed

[2017-12-15 21:26] timfallmk commented on #68
*Sigh* I'll add the tags then.

[2017-12-15 21:26] #68 closed

[2017-12-18 15:16] pyronicide opened #83 "Add success text to init output"
Right now, init just completes. It would be nice to have some success text that explains what happened.

- download progress for syncthing
- installation of ksync onto the cluster.

[2017-12-18 15:20] pyronicide opened #84 "Non-debug output for watch"
Right now, it just sits there. At least walk through some of the important steps (connecting to the cluster for example).

[2017-12-18 15:27] pyronicide opened #85 "Remove local directory check"
Instead of checking for a local directory on create, just create it for the user.

[2017-12-18 15:29] pyronicide opened #86 "Output friendly error when get can't talk to watch"
Before running get, check to make sure watch is running. If it isn't error out immediately with a friendly error.

If watch *is* running and a timeout occurs, output a friendly error.

[2017-12-18 16:05] pyronicide opened #87 "Version issues"
Using the release binary, it appears that there are a couple problems currently.

<img width="886" alt="screenshot 2017-12-18 09 11 23" src="https://user-images.githubusercontent.com/47992/34115315-ea0994de-e3da-11e7-9bf3-25b7bec0bc4c.png">

<img width="549" alt="screenshot 2017-12-18 10 04 27" src="https://user-images.githubusercontent.com/47992/34115319-ec348ac0-e3da-11e7-885c-49079b3ad9d8.png">

[2017-12-18 16:06] pyronicide commented on #87
@timfallmk just a heads up, there's only a couple blockers to getting `tutorial` merged, so I'll start tackling this one soonish.

[2017-12-18 18:15] timfallmk commented on #87
Ill take a look today as well.

[2017-12-18 18:46] timfallmk opened #89 "Only release `ksync` now"
We should only upload `ksync` binaries now, given that users should not be downloading `radar`.

FYI: @pyronicide

[2017-12-18 18:47] #85 closed

[2017-12-18 18:47] #87 closed

[2017-12-18 19:05] #89 closed

[2017-12-18 19:44] pyronicide opened #91 "Image version and create have unwanted implications"
When create is run, it adds a spec to the config and saves it to disk. This saves all of the current config to disk. One of these items is `image`. This ends up basically fixing the image version to whatever it was when you *first* ran create.

We're removing image from the config on create for now, but that means that anyone setting a custom image will have to do it every call instead of relying

[2017-12-18 20:48] pyronicide opened #93 "Watch isn't catching ctrl-c"
For whatever reason, ctrl-c isn't propagating anymore with watch.

[2017-12-18 20:48] timfallmk opened #94 "`Update` doesn't pass sanity check."
I think the only solution for this might be to fork and remove the sanity check.

https://github.com/jpillora/overseer/issues/14

[2017-12-18 21:42] timfallmk commented on #94
Instead we'll use https://github.com/timfallmk/overseer/commit/3f6a00445e03d0f00215ea454d3940ff9f91abc4 for now.

[2017-12-18 21:56] #94 closed

[2018-01-11 14:41] pyronicide opened #100 "Minikube support"
It looks like there are a couple problems with minikube support. So far, the most obvious is:

[code]

Minikube is running docker 1.12 instead of the GKE version of 1.13. See [versioning](https://docs.docker.com/engine/api/v1.26/#section/Versioning) for some more details.

It looks like we might need to do some daemon version detection and picking of API version. I'm wondering if it is possible to

[2018-01-22 18:46] pyronicide opened #101 "`init` status checks"
When running `watch`, we need to handle some of the edge cases better.

- Tell users to run `init` when:

[code]

- Check for java and fail out if it isn't there.

[2018-01-22 18:49] pyronicide opened #102 "`get` needs to output something if `watch` isn't` running"
If watch isn't running, instead of just timing out, return a helpful error.

[2018-01-22 18:50] mhausenblas commented on #100
I'm using minikube version: v0.21.0 and have this problem

[2018-01-22 19:23] timfallmk opened #103 "Replace mirror"
Placemarker for investigations into replacing `mirror.jar` with something more streamlined and native.

- https://github.com/fsnotify/fsnotify
- https://github.com/tillberg/gut
- https://github.com/Redundancy/go-sync

[2018-01-23 20:38] pyronicide commented on #101
It looks like we're already checking for java. Unfortunately, on macs `java` is on the path (just not installed). Probably not worth putting a ton of work into this if we can find a fast way to just get rid of java entirely in the first place.

[2018-01-23 20:39] pyronicide commented on #100
Tested on v0.23.* and it works. There are numerous problems with v0.20 - v0.22 and so those versions won't be supported for the time being. If there's some interest, it is doable and just need some love.

[2018-01-23 21:05] #93 closed

[2018-01-23 21:05] #100 closed

[2018-01-23 21:31] timfallmk commented on #75
Done.

[2018-01-23 21:31] #75 closed

[2018-01-23 21:41] pyronicide commented on #103
https://github.com/syncthing/syncthing

[2018-01-24 00:35] timfallmk opened #107 "Add bash/zsh autocompletion"
It should be fairly easy to add vanilla autocompletion out of the box.

https://github.com/spf13/cobra/blob/master/bash_completions.md

[2018-01-24 18:11] #76 closed

[2018-01-24 18:12] #28 closed

[2018-01-24 18:12] #22 closed

[2018-01-24 18:13] #21 closed

[2018-01-24 18:13] #18 closed

[2018-01-24 18:13] #27 closed

[2018-01-24 18:13] #12 closed

[2018-01-24 18:16] pyronicide opened #108 "Radar development"
Right now, the default image is `vaporio/ksync:git-commit`. If you branch off a release and push that image naively to docker hub, you'll clobber the image everyone's using.

As an alternative, have releases with tags use that as an image `vaporio/ksync:0.0.1` and for releases that don't, default to `git-commit`.

[2018-01-25 00:22] timfallmk opened #110 "Daemonize `watch`"
Make `ksync watch` daemonize the watcher process into the background by default.

Related: #103

[2018-01-26 16:57] pyronicide opened #112 "Implement friendly error for `NewServer`"
It can take syncthing awhile to startup. This can cause the connection retries to expire and have everything stop with an odd error. Instead of "could not connect to random REST URL", the error should explain that syncthing didn't startup and what to do instead.

[2018-01-30 20:46] pyronicide opened #113 "Folders fail when there is a write protected directory"
If you sync a folder that is rw by the current user, but has a ro directory underneath it, the sync fails.

[2018-01-31 15:19] pyronicide opened #114 "Docker API Version Support"
This has been coming up a couple times. We're using a pretty modern version of the docker api for client communications in radar. There's nothing special that we need there, so it should be bumped back a couple versions to make this whole thing easier.

[2018-01-31 15:25] pyronicide opened #115 "Enhance init to check for compatibility with the cluster"
There's a list of things we need to verify to make sure that a cluster is supported:

- can connect to the api server
- k8s cluster is a supported version
- docker is installed on the cluster
- docker supports the api version
- overlayfs is being used

These should be checks that happen during init as well as added to the doctor command.

[2018-01-31 15:27] pyronicide opened #116 "Add state for "not running on cluster""
Right now we have a single state - waiting. This works when you know you got the selector right and less so if you don't. We need another state that makes it obvious there's nothing that matches on the cluster right now.

There should be "waiting on the cluster for a matching container" and "waiting for files to change" states.

[2018-01-31 15:29] pyronicide opened #117 "Sync debugging"
I just created my first sync, the files aren't showing up where I expected. There should be debugging tools to help with this.

[2018-01-31 15:29] pyronicide commented on #117
@timfallmk any good ideas on what we could provide here? #116 is a good first step but there's definitely issues where there could be an error (maybe the remote directory not being created).

[2018-01-31 20:38] timfallmk commented on #114
As long as it's temporary until the docker api disseminates into the stable branch, that should be fine.

[2018-02-01 00:22] timfallmk commented on #117
If I had to think too much about this, I'd break "debugging" into two categories:

1. Can I run this?
 - This would test if I had to complete setup to get things working. Off the top of my head:
    - Is there a cluster
    - Is the cluster the right version, does it have the right components
    - Do I have access?
    - Do I have the needed tools/access locally.
- We could check all of this, mak

[2018-02-01 15:47] pyronicide opened #119 "Relative paths are *too* relative"
When displaying paths via. `get`, they get a little weird:

[code]

It should be `/tmp/ksync`

[2018-02-01 15:57] #44 closed

[2018-02-01 16:25] pyronicide opened #120 "Add a screenshot for the visualization demo"
The README should have a screenshot of the visualization demo.

[2018-02-01 16:40] #110 closed

[2018-02-01 16:40] #24 closed

[2018-02-01 16:40] #103 closed

[2018-02-01 17:01] #120 closed

[2018-02-01 17:23] #36 closed

[2018-02-01 17:24] #102 closed

[2018-02-01 17:24] #119 closed

[2018-02-01 17:24] #86 closed

[2018-02-01 17:25] pyronicide opened #123 "Update docs for syncthing"
By removing mirror, most of the "how it works" docs are invalid now and need to be updated.

[2018-02-01 19:33] #123 closed

[2018-02-01 20:36] timfallmk opened #125 "Re-enable Windows build support"
#118 Removed Windows builds due to bugs in the underlying daemonization library. Those bugs need to be fixed, probably via the fork, and windows support re-enabled.

[2018-02-02 19:19] #81 closed

[2018-02-02 19:20] #47 closed

[2018-02-02 19:20] #45 closed

[2018-02-02 19:20] #37 closed

[2018-02-02 19:21] #29 closed

[2018-02-02 19:21] #26 closed

[2018-02-02 19:21] #25 closed

[2018-02-02 22:42] #13 closed

[2018-02-02 22:42] #19 closed

[2018-02-02 22:42] #83 closed

[2018-02-02 22:42] #101 closed

[2018-02-02 22:42] #114 closed

[2018-02-02 22:42] #115 closed

[2018-02-05 15:38] pyronicide commented on #113
This was an error with the mirror backend, might be fixed with syncthing.

[2018-02-05 15:44] #33 closed

[2018-02-05 15:45] pyronicide opened #127 "Ignore files in the folder"
A lot of the time, you don't want to sync all the files in a folder (just some of them, ex. `.git`). Make it possible to ignore in the specification.

[2018-02-05 16:01] pyronicide opened #128 "Watch output needs some love"
- Output some more around specs:

    - When a spec begins watching
    - When a spec starts a new service

- No output that syncthing is ready. Should there be?
- Portforward errors are concerning (in default log level), even when it is working correctly:

[code]

- Connection errors are concerning (in default log level), even when it is working correctly:

[code]

- There seem to always be two `

[2018-02-05 16:14] pyronicide opened #129 "Provide some debugging assistance during create"
Run through a simple pre/post flight on create that is a warning:

- Checks the configuration currently matches.
- Waits for the spec to start and outputs success (but only if it currently matches).

[2018-02-05 17:30] pyronicide opened #130 "Syncthing is creating odd conflicts"
Running through getting started, everything works if the local directory does not have any files. Unfortunately, if you start up with files locally (and nothing in the container has been updated), syncthing creates a `*.conflict.*` file because the files are different.

We need to have a better conflict policy in place as this behavior is pretty frustrating.

[2018-02-05 18:02] timfallmk commented on #130
Are we not doing remounting on filesystem changes?

[2018-02-05 18:12] pyronicide commented on #130
Nope.

[2018-02-05 19:03] pyronicide commented on #127
https://docs.syncthing.net/users/ignoring.html

[2018-02-05 19:04] pyronicide commented on #127
@timfallmk what do you think the best way to integrate this in is?

- Add it to `create`
- Make a `.ksync-ignore` file

[2018-02-05 19:07] pyronicide opened #132 "Need to detect interactive mode"
The logs for spinners are awful if running non-interactively. Need to detect and disable.

[2018-02-05 19:18] timfallmk commented on #127
I would go with both actually. Similar structure to `.gitignore` syntax (including with `!`)

[2018-02-05 19:36] #84 closed

[2018-02-05 19:36] #128 closed

[2018-02-05 19:36] #130 closed

[2018-02-05 19:36] #132 closed

[2018-02-06 17:02] #125 closed

[2018-02-06 17:03] #116 closed

[2018-02-08 00:22] timfallmk opened #135 "Add dry-run to `clean`"
Add a "dry run" option to `clean` that prints files to be deleted without removing them.

[2018-02-08 15:37] pyronicide opened #136 "Update README"
- Note the presence of binaries and platform support and expand the install instructions slightly.

[code]

- Explain the problem a little bit better and what ksync enables you to do.
- Put an animated example together
- Add a demo video

Other suggestions:

- Add a TOC at the top
- Add some more shields (godoc, latest release) - http://shields.io/

[2018-02-08 15:37] pyronicide commented on #136
@timfallmk any suggestions?

[2018-02-08 18:56] timfallmk commented on #136
I hate to say it but there might need to be some higher level (marketing) fluff, hopefully minimal, to counter the common "Ok, so what?" reaction.

Document the contribution/verification for pull request steps?

[2018-02-09 14:57] pyronicide opened #137 "Add katacoda scenario for getting-started"

[2018-02-09 20:55] pyronicide opened #139 "Allow configuration of restart timeout on a per-spec basis"
We force container restart immediately, it might be desirable for folks to configure that on a per-spec basis.

[2018-02-22 18:08] #137 closed

[2018-02-22 18:09] #136 closed

[2018-03-09 14:56] lad opened #141 "Add ability to use a private repository"
This looks like a really useful tool but we cannot use it at work because "ksync init" seems to pull from the internet by default - which we cannot do for security reasons.

Please add the ability to configure the remote location to a private container repository and please document which images we would need to mirror locally.

[2018-03-09 17:51] timfallmk commented on #141
@lad There are a couple of components that reach out to the public internet, always to pull something. If you want to, it should be relatively easy to replace (most) of the things that are being fetched with local copies.
Here's the list of things that are currently grabbed:

**Remote**
1. The nodes in the remote cluster attempt to pull the docker image `vaporio/ksync` from [Docker Hub](https://hu

[2018-03-09 18:28] grampelberg commented on #141
There's also a hidden flag to override the image to use (`ksync --image=my-repo/ksync:tag`). That'll make the remote use whatever image you've got inside your cluster.

[2018-03-09 18:29] grampelberg opened #142 "Document completely "offline" usage"
Explain how to use ksync in an entirely offline cluster (from an offline laptop). See #141

[2018-03-12 17:48] Nopik opened #143 "Reduce CPU usage"
I started to play with `ksync` today (on Docker For Mac), and noticed, that, it is periodically starting to eat 100% cpu. Not sure what exactly triggers this behavior (I suspect laptop sleep mode) as directly after `ksync watch` start the CPU is not used that much (except of the fact that `ksync watch` start might cause like 30-60 container restarts, which is probably another bug...) - but after a

[2018-03-12 21:07] timfallmk commented on #143
@Nopik Hmm, that's not good, and definitely not what we see here. I'm concerned foremost by the container restarts. The process for `watch` is pretty straightforward, we launch a container in the background with an instance of `syncthing` configured to the scheme you specified in your configuration. The foreground process starts an `grpc` server. If you choose `--daemon`, both processes are launch

[2018-03-13 07:56] Nopik commented on #143
So, most of the time the dirs on my setup are perfectly synced (I'm not coding 100% of the time, so mostly ksync is just waiting for me to edit some files). Last night I was putting laptop to sleep, when there was nothing to sync again, with `ksync watch` running, on one folder. This morning laptop was warm (clearly was waking up during the night) - and `ksync watch` was at 100% cpu when I unlocke

[2018-03-13 08:05] Nopik commented on #143
One detail more, it is not that any laptop sleep is causing the problem. Like, when I do intentionally put laptop to sleep and wake it 2-3 minutes later, `ksync` behaves perfectly.

[2018-03-13 20:00] grampelberg commented on #143
Is the time off in your cluster when you intentionally put it to sleep?

[2018-03-13 21:19] Nopik commented on #143
I didn't measured it, but I think that the time got synced incorrectly upon k8s install (weeks ago), and got stuck at fixed offset, or at least drifting very slowly.

[2018-03-14 18:43] timfallmk commented on #143
@Nopik We think we've tracked down your issue. When I use a local cluster (like Docker for Mac k8s), we can't assume uptime like we did with server side clusters (go figure). The problem arises when the cluster becomes unresponsive (in your case due to a sleep event) and the client half of the sync process, to put it technically, "freaks out". There's debounce and backoff on the entire `watch` pro

[2018-03-14 18:57] Nopik commented on #143
Great! Thanks for the update. Indeed, that could be the issue. Once I started monitoring it closer, I didn't noticed 100% cpu usage in normal operation, only after (some) laptop sleeps. Ksync is quite nice tool I started to use for my normal workflow (first time really trying to develop on k8s directly), and this is one of the 2 most annoying bits (the second one is that the sync process sometimes

[2018-03-14 19:12] timfallmk commented on #143
Good to know! We're happy it brought someone else some use.

If you want, you can file another issue for the sync time. Off the top of my head, I'm not sure why it would take a while, but that could be an internal `syncthing` configuration.

[2018-03-15 10:47] Nopik commented on #143
Also, when you'll have a chance to release a version with this bug fixed or at least mitigated?

[2018-03-15 18:05] WesCossick opened #144 "One-way syncing"
It would be helpful if we could enable one-way syncing for ksync instead of bidirectional syncing. For our use case, this would be helpful to ensure folders like `node_modules/` and `vendor/` don't get synced back from the pod into our local copy.

[2018-03-15 19:03] timfallmk commented on #144
@WesCossick Are you thinking the entire target would be one way, or certain things would be excluded? We've been playing around with using a `.gitignore` type syntax for excluding things within the path.

[2018-03-15 19:06] timfallmk commented on #143
@Nopik @grampelberg Is still tracking down why exactly this occurs. We'll try to update you when a fix is merged, then we can cut a new release.

[2018-03-15 19:28] WesCossick commented on #144
I think both could be useful. I'm sure some people may only want to exclude certain files/folders from being synced from the pod into the local copy.

In our case, though, we just don't have any interest in syncing files from the pod into the local copy. We're only interested in syncing files from our local machine into the minikube cluster's pods.

[2018-03-15 19:38] grampelberg commented on #144
This doesn't solve the single direction sync problem, but it should fix your current issue (ignoring vendor/node_modules):

https://docs.syncthing.net/users/ignoring.html

[2018-03-15 20:04] WesCossick commented on #144
That definitely helps, thanks for sharing this. An option to disable bidirectional syncing would still be awesome though.

[2018-03-15 20:09] WesCossick opened #145 "Problems creating multiple specs at once"
In my testing, creating two or more specs right after one another causes the `ksync watch` process to stop working correctly. Usually it starts by giving the following error, or something similar:

[code]

Then it just repetitively presents these errors:

[code]

This also happens when the `ksync watch` process isn't running, and there are several specs that have been created, and you try to launc

[2018-03-15 20:10] WesCossick commented on #145
For context, I'm running `ksync` and `minikube` locally on a MacBook Pro.

[2018-03-15 21:05] Nopik commented on #143
That will be awesome, thanks!

[2018-03-15 23:27] timfallmk commented on #141
@lad I'll mark this as closed for the moment. We might refactor in the future to make this more flexible.

[2018-03-15 23:27] #141 closed

[2018-03-22 02:04] #143 closed

[2018-03-23 17:40] timfallmk commented on #143
@Nopik FTFY https://github.com/vapor-ware/ksync/releases/tag/0.1.2

[2018-04-10 13:30] yudaykiran opened #149 "ksync init throws error during Postflight Checks : docker storage driver type (aufs) not supported."
I have a 3 Node Kubernetes Cluster having the following specification.
Operating System: Ubuntu 16.04
Docker version: 1.13.1.
Kubernetes Version: 1.10.0

I was trying to setup ksync to evaluate it and ran the ksync init. The output of the execution is placed below:
[code]

[2018-04-16 18:38] timfallmk commented on #149
@yudaykiran Unfortunately `aufs` isn't supported as a backend file system. It would take some work to add if you really need to use it. I assume you're running this cluster locally?

[2018-04-16 22:26] grampelberg commented on #149
(right now the only supported backend FS is overlay)

[2018-04-19 06:41] saratovsource opened #150 "ksync init error on docker-for-mac 18.04.0-ce-mac62 (23965)"
Ksync throw error after clean Kubernetes initialization at docker-for-mac:

[code]
Trying to initialize:
[code]
Let's check kubectl:
[code]
What wrong???

macOS: HighSierra
Docker version 18.04.0-ce, build 3d479c0
[code]

[2018-04-20 11:37] nigorice opened #151 "FATAL File is not writable. It is set to r--r--r--"
I'm having trouble setting up ksync, on `ksync create`, I would get the following error:

[code]

I've also tried placing a `.stignore` file on the repo folder to no avail. Is there anything I'm missing?

[2018-04-20 21:13] timfallmk commented on #150
@saratovsource Are you running these in the same place? Like other k8s utilities `ksync` uses the `kubectl config current-context` to get connection details.

[2018-04-20 21:32] saratovsource commented on #150
Strange... Same error..
[code]

Only with k8s for mac...
It works fine with k8s in the cloud...

[2018-04-20 21:33] timfallmk commented on #150
Interesting, maybe a firewall or something related. Seems to work for me here:

[code]

[2018-04-20 21:34] timfallmk commented on #151
@nigorice Can you share the contents of your `.stignore`?

[2018-04-20 21:34] #149 closed

[2018-04-20 21:37] saratovsource commented on #150
It gets an empty context in my case...
Look at this
[code]

[2018-04-20 21:39] timfallmk commented on #150
Hmm, what does `kubectl config get-contexts` show for you?

[2018-04-20 21:42] saratovsource commented on #150
[code]

[2018-04-20 21:47] timfallmk commented on #150
Yeah, I suspect it's something up with docker for mac kubernetes. The current "edge" version doesn't even launch for me. The context config file also looks suspiciously bare.

[2018-04-20 21:50] timfallmk commented on #150
@saratovsource Incidentally, do you get the same problem with minikube?

[2018-04-20 21:58] saratovsource commented on #150
I deleted it (((
This is an empty artifact in the configuration file.

I'll try Ksync with stable DockerForMac version...

[2018-04-21 04:41] saratovsource commented on #150
Oops.. **stable** version docker-for-mac has no Kubernetes integration from the box...

[2018-04-23 08:43] leonth commented on #151
I'm @nigorice 's colleague. This is the .stignore I use to reproduce this issue:

[code]

[2018-04-23 18:59] timfallmk commented on #151
@leonth I'm thinking you might want to remove the leading slash. Git shell-globbing patterns are a bit tricky, but this is from `man .gitignore` :

[2018-04-23 19:03] timfallmk commented on #150
Well that's fun. 😀
I'm going to close this for now as it sounds like a docker for mac kubernetes issue. If anyone sees it in the future, feel free to reopen.

[2018-04-23 19:03] #150 closed

[2018-04-24 04:29] leonth commented on #151
Still the same:
[code]

[2018-04-24 06:36] nigorice commented on #151
This is mine, stuck at `ksync create`

[code]

[2018-04-26 13:05] jstrachan commented on #151
has anyone got a `.stignore` to ignore the `.git` directory? tried all kinds of permutations and so far its never ignored

[2018-04-26 18:14] timfallmk commented on #151
I'll ping @grampelberg here and he'll fix all life's problems.

[2018-04-27 00:26] timfallmk commented on #151
@all please test #152  and see if this solves your issue for now (I've attached a few common format binaries here from the build).
[ksync_linux_amd64.zip](https://github.com/vapor-ware/ksync/files/1953421/ksync_linux_amd64.zip)
[ksync_darwin_amd64.zip](https://github.com/vapor-ware/ksync/files/1953422/ksync_darwin_amd64.zip)

[2018-04-27 09:01] nigorice commented on #151
@timfallmk tried the binary you attached and I'm no longer running into the same error. Thanks.

[2018-04-27 22:08] #151 closed

[2018-04-27 22:47] timfallmk commented on #151
@all released! Don't forget to `ksync upgrade` if you used the unsigned binaries above (or just want to update).

[2018-04-30 08:02] nigorice opened #153 "Endless reload loop"
Hi, I'm having an issue where ksync is constantly issuing a reload even though I haven't done any file changes. Is this an issue or an expected behavior?

[code]

[code]

[code]

ksync.yaml:
[code]

I also noticed there is a `.syncthing.connexi.tmp` file in the folder, I wonder if that's causing the constant reload?

[2018-04-30 08:35] nigorice commented on #153
Ah I found the issue, there was a conflict between the local and remote binaries. The remote binary kept on being rebuilt, so it was reloading all the time. I will close this now.

[2018-04-30 08:35] #153 closed

[2018-04-30 17:43] timfallmk commented on #153
@nigorice Nice find! We should probably be more graceful about doing upgrades.

[2018-05-01 18:55] timfallmk commented on #151
@ashahba You caught me ☺️

[2018-05-01 19:55] ashahba commented on #151
Yes @timfallmk I'm working on integrating `Ksync` with [mlt](https://github.com/IntelAI/mlt) and this PR helps me too.

[2018-05-03 18:24] ashahba opened #155 "`ksync get` should provide info regarding both Pod and Container."
I'm using a multi-container Pod as described here: https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/ and I have modified it so the containers don't exit as below:
[code]
Once I deployed the Pod, I labeled it as follows:
[code]
and finally I call `ksync create` twice like this:
[code]
but when I call `ksync get` I have:
[code]

As you see the

[2018-05-03 19:27] timfallmk commented on #155
@ashahba Hmm, this should be a fairly easy fix, as we pull that info. I'm wondering I should add anything else while I'm in there.

[2018-05-03 19:55] ashahba commented on #155
Thanks @timfallmk for the quick response!
You are right the `spec` has the right info for the container that I can check now until the fix is arrived 🙂

[2018-05-03 21:19] #155 closed

[2018-05-11 20:38] timfallmk commented on #144
Updates on possible implantation: https://forum.syncthing.net/t/one-way-sync-configuration/11000/4

[2018-05-12 00:12] timfallmk opened #158 "`grpc.WithTimeout` is deprecated: use `DialContext` and `context.WithTimeout` instead"
https://godoc.org/google.golang.org/grpc#WithTimeout

This affects #157 . These lines were excluded from the linter for now, but should be reenabled once fixed.

Affected: https://github.com/vapor-ware/ksync/pull/157/commits/5597fcf7ee1158438eb36b44d985bd5e7d003db3

[2018-05-14 19:27] #142 closed

[2018-05-14 21:03] timfallmk commented on #158
@grampelberg Not sure what you want to do with https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/cluster/connection.go#L47-L50

The deprecation change was really stupid.

[2018-05-15 09:40] filifolia opened #160 "Ksync only syncs one spec when there are multiple specified."
I am currently having a problem with ksync as it doesn't allow me to monitor multiple specs at once even though I have followed the steps in creating each once of them to point the correct directories. I just specified multiple specifications on the ksync.yaml as follows:

[code]

However when i run the watch command, ksync only updates the first spec that I created (the vital-falcon) and the seco

[2018-05-15 10:55] filifolia commented on #160
I also noticed that the second spec will always get stuck on starting and it will not change its status no matter how long i waited.

[code]

[2018-05-15 18:37] WesCossick commented on #145
We've stopped using ksync because we couldn't get it to work reliably, but if I recall correctly it was creating them about once a second, maybe faster. It's possible that the cluster we were running was simply consuming too many resources. We've had to scale it back considerably to get it to run locally on our MacBook Pros.

[2018-05-15 18:57] timfallmk commented on #160
@filifolia Were you creating them with the `create` command, or editing the file manually?

[2018-05-16 00:00] timfallmk commented on #145
@grampelberg Just finished digging around in this and it'll be a little more complicated than it seems. `syncthing` is built to restart on any config change, with the monitor process detecting the change and bring it back up. If changes come during downtime `grpc` calls fail and `syncthing`'s config will get into an intermediate state that it doesn't recover from.

The simplest fix would probably

[2018-05-17 03:28] filifolia commented on #160
@timfallmk I created them with the create command
`ksync create --selector=component=api --context=gke_sirclo-1152_asia-southeast1-a_staging2 --namespace=william $(pwd) /go/src/cono`

Not sure about the invisible character though, since I never add them manually

[2018-05-17 04:41] timfallmk commented on #160
@filifolia The next steps would be too look at the `ksync watch` and remote radar pod logs while creating. You'll want to delete the specs first, then recreate after watching. That should tell you why it's stuck in that status.

[2018-05-21 11:05] filifolia commented on #160
I tried watching when creating the multiple specs from scratch. It gives a lot of lost connection errors.
[code]
What caught my eyes was that it says it is ready to sync one-mako-connexi-william-api, whereas in the yaml it is supposed to be my logistix pod (connexi-william-logistix). You can see that now both spec tries to sync to the exact same pod. So I am still unsure what to do in this stage a

[2018-05-21 18:29] timfallmk commented on #160
@filifolia Looks like the majority of the errors are actually debug messages (see #145 for details if that matters). The one that concerns me is the `inotify` error. If `inotify` is failing to set more than one handler, that would explain why only the _last_ spec is being watched. It would also explain why `ksync` attempts to re-setup all of the syncs on each change.

Are you running this on Linux

[2018-05-21 18:42] #144 closed

[2018-05-21 18:42] #158 closed

[2018-05-21 19:42] timfallmk opened #161 "Add support for aufs"
Add support for `aufs`. Investigate other drivers.

Reference to #149

[2018-05-21 23:31] mickael83 opened #162 "Version 0.1.5 not working anymore"
I updated ksync to its last version 0.1.5 and now I'm not able to init ksync on minikube cluster. I get the following output when I run `ksync init`:

[code]

Then when I run `ksync init --upgrade` I get:

[code]

Is there a step I'm missing?

[2018-05-22 05:02] filifolia commented on #160
@timfallmk I still have the still isue despite it points to the correct pod now. I don't get the inotify errors anymore but now ksync watch will randomly pick one of the spec to sync correctly while the other one will get stuck updating or starting

[code]

Here is the ksync get
[code]

[2018-05-22 05:17] timfallmk commented on #160
It’s possible you’ll have to delete and recreate the specs to make it work after the change.
If that doesn’t make a difference, could you paste your syncthing config? I believe it’s in the config directory/syncthing/config.xml

via Newton Mail [https://cloudmagic.com/k/d/mailapp?ct=pi&cv=9.8.333&pv=11.4&source=email_footer_2]
On Mon, May 21, 2018 at 22:03, William Minar Widjaja <notifications@gith

[2018-05-22 05:22] timfallmk commented on #160
It’s possible you’ll have to delete and recreate the specs to make it work after the change.

If that doesn’t make a difference, could you paste your syncthing config? I believe it’s in the config directory/syncthing/config.xml

[2018-05-22 05:27] timfallmk commented on #162
I’ve been seeing this recently too, mostly on upgrades. I think the health checks get in a funky state when pods are coming up. If you used —skip-checks it should run as intended. You can the check the version to see if it was successful. The other option is to just relaunch it with ‘clean —remote’ and ‘init —remote’ since there’s no saved state remotely.

Still not sure what’s causing this.

[2018-05-22 05:41] filifolia commented on #160
I tried reseting the ksync yaml so many times but it didn't work at all.
Here is the config, currently my ksync only runs the connexi-api pod, while the other one is stuck in updating
[code]

[2018-05-22 05:48] timfallmk commented on #160
Yeah. I only see one folder section in your config, so syncthing is only aware of one folder to watch.

It’s odd that only one would work at a time. There’s an issue with creating multiple specs too rapidly that’s being worked on, but if you’re allowing 5-10 seconds between creates, it should be fine. (#145)

Starting from scratch, can you give me the sequence of commands you’re running, as well a

[2018-05-22 06:11] timfallmk commented on #162
This appears to have something to do with our CI image builds. There’s race condition that causes untagged images to be released.

@mickael83 for now you may use ‘init —upgrade —image=vaporio/ksync:0.1.5’ to force the right image.

I’ll try to fix this tomorrow.

[2018-05-22 06:11] #162 closed

[2018-05-22 06:45] filifolia commented on #160
So I tried your suggestion and waited 2 minutes between creates and increased my inotify watches even further and it seems to work fine for now.

The config also has two folder section now

But here are the steps:
kubectl watch
ksync create --selector=component=logistix --context=gke_sirclo-1152_asia-southeast1-a_staging2 --namespace=william $(pwd) /go/src/logistix

[2018-05-22 06:52] filifolia commented on #160
I followed your suggestion and waited 2 minutes between each create and increated my inotify watches even further and it seems to work fine for now. Even the config file now has 2 folder sections as well

Here are the steps from scratch anyway:
[code]
and then I edit the yaml file to set the logs into debug mode.

I use kubernetes:
[code]

I'll let you know if something comes up again

[2018-05-22 06:55] timfallmk commented on #160
@filifolia Ok. Looks like your ran into #145 as well. I’m hoping to at least have a temporary solution for that sometime tomorrow. Thanks for trying!

[2018-05-22 06:55] #160 closed

[2018-05-22 07:00] timfallmk commented on #162
@mickael83 This should be fixed now. Please let me know if you run into it again.

[2018-05-22 07:50] mickael83 commented on #162
@timfallmk the command `ksync init —upgrade —image=vaporio/ksync:0.1.5` fixed the issue. Thanks! Great project by the way!

[2018-05-22 08:43] filifolia commented on #160
It seems that earlier suggestion was a temporary fix as well and it is quite unstable. When I restart my PC, the problem arises again and I also tried resetting the config again. The chance of success from multiple attempsts are about 1 out of 5 attempts, in which both spec will sync at the same time.

I am looking forward to your fix though.

[2018-05-22 22:08] #145 closed

[2018-05-22 22:20] timfallmk opened #165 ""Quiet" output for `get`"
Add option to allow "stripped down" output from `get`, mostly for feeding into `delete`.

Investigate if this needs to be added to other commands.

[2018-05-22 23:55] #165 closed

[2018-05-22 23:59] timfallmk commented on #160
@filifolia Hotfix added in `0.1.5-hotfix`. A better fix will be added later.

[2018-05-23 00:02] timfallmk commented on #161
- [ ] `aufs`
- [ ] `btrfsq
- [ ] `zfs`
- [ ] `devicemapper`
- [ ] `vfs`

[2018-05-23 00:21] timfallmk opened #167 "Specs should inherit context when not explicitly specified"
Specs that are created with out the `--context` explicitly set should fill in the context from what is currently configured for use. This way those specs will continue to run only against their configured context even when the currently configured context is switched.

@grampelberg I'm somewhat torn about this one. It could limit some edge functionality (someone wants to use the same spec across m

[2018-05-23 07:23] filifolia opened #168 "Delete all specs at once"
Is there currently any way to delete all the existing specs at once without having to remove them one by one?
Such as `ksync delete all` or something?

[2018-05-24 02:03] timfallmk commented on #168
@filifolia I'm working on that atm #166

[2018-05-24 19:57] #168 closed

[2018-05-25 10:41] jstrachan opened #172 "add a json output option for `ksync get`"
we've added `ksync` support into [Jenkins X](https://jenkins-x.io/) and its working really well when folks use [DevPods](https://jenkins-x.io/developing/devpods/) so that all your building and running takes place in the cloud while you use your desktop IDE.

This works particularly well in the [VS Code extension](https://jenkins-x.io/developing/ide/) - opening a DevPod terminal sets up ksync behin

[2018-05-25 18:37] ashahba commented on #172
@timfallmk and @jstrachan I think that'll great addition to the `Ksync` as I'm working to incorporate it into [MLT](https://github.com/IntelAI/mlt) and I'm facing the same challenge of manually reading the output and parsing it into some format like `json` and then query from there.

So basically having an option for `ksync get` like `--table`, or `--json` would be great.

[2018-05-25 21:26] timfallmk commented on #172
Interesting idea. The -q output might help you a bit in the meantime, but I’ve been wanting to add output formatting options to all commands to a while.

I’ll trade that work for an Atom.io extension instead of VS Code 😛

[2018-05-26 15:46] thejmazz opened #173 "Augment for Swarm"
Was hoping I could take a stab at this, as I'd like something similar for Swarm. Some things I've noticed that would need to be changed are:

- swarm has no port-forwarding like `kubectl port-forward`. This can be replaced with a hacky ssh and/or socat solution, or just leave it be and publish the syncthing port on the swarm ingress network (but maybe that won't work b/c it will load balance acros

[2018-05-26 18:15] timfallmk commented on #172
@jstrachan I should also add that the newlines are intentional (I ran into that myself, but @grampelberg  did the right thing). I _think_ it's the provide cleaner output should the fields run long.

[2018-05-29 19:14] gadavivi opened #175 "Error at "ksync init" command on windows"
i am getting this error when i am running ksync init:
[code]

any idea why?

[2018-05-30 07:27] timfallmk commented on #175
@gadavivi Do you have any sort of network redirection between you and the internet?

You can see what's being run here: https://github.com/vapor-ware/ksync/blob/master/pkg/syncthing/fetch.go#L50 . It's basically just pulling the latest release from github

Additionally, you can do it manually by following the [offline documentation](https://github.com/vapor-ware/ksync/blob/master/docs/offline.md)

[2018-05-30 09:57] gadavivi commented on #175
i followed the offline documents and it solve my problem (my guess is that for windows it download the wrong file, so this is why i am getting the "archive/tar: invalid tar header" error).

also when i ran it the first time, i got this error:
` .\ksync.exe init
==== Preflight checks ====
Cluster Config                              ✓
Cluster Connection                          ✓
Cluster Version

[2018-05-30 10:47] gadavivi opened #176 "Error in "ksync watch" on windows"
In windows, when running the "ksync watch" command a file named **"syncthing.pid"** is created in the user folder, after killing the process with Ctrl+c, and running the  "ksync watch" command again i am getting this error:

`FATA[0000] not supported by windows`

deleting the **"syncthing.pid"** solved the issue for now...

maybe for windows the "syncthing.pid" not suppose to be created, because t

[2018-05-30 18:27] timfallmk commented on #175
Looking at the syncthing releases it looks like windows releases are packaged differently, in zip format. We'll have to fix this.

[2018-05-30 18:53] gadavivi opened #177 "Error in "ksync create" on windows"
when i am running:

`ksync create --selector=app=app $(pwd)\ksync /code`

 i am getting this error:

`FATA[0000] remote path must be absolute`
i thinks because i am running on windows ksync does not recognize **/code** as a valid path...

so to overcome this i ran this command:

`ksync create --selector=app=app $(pwd)\ksync c:\code`  and it worked!

but now i needed to change the **remotepath** ke

[2018-05-30 19:43] timfallmk commented on #177
@gadavivi You'll likely be finding a few of these, we largely rely on the standard lib for cross platform functionality.

Have you tried specifying the paths as non-interpolated strings?

`ksync create -lapp=some-app 'local\path\' '/remote/path'`

You can just edit the yaml directly, but you won't be getting any validation. You'll also need to restart the syncthing process (stop and rerun `watch`)

[2018-05-30 20:03] timfallmk commented on #173
@thejmazz Thanks for adding this. I think the tl;dr is that swarm support would take a major rework of the structure. I'm not saying it shouldn't be done, just that a lot would need to be done.

Let me address some of your questions, and that should hopefully give you some more insight:

Syncthing has a notion of "devices" (basically remotes) and "folders" (locations to sync). If you follow the ca

[2018-05-30 20:21] gadavivi commented on #177
if i am specifying non-interpolated strings i am getting `FATA[0000] remote path must be absolute`

i tryed to changed the yaml file as below:
`apikey: ksync
context: ""
log-level: info
namespace: dok
port: 40322
spec:
- name: loved-tapir
  containername: ""
  pod: ""
  selector: app=stock-con
  namespace: dok
  localpath: C:\Users\gadavivi\ksync
  remotepath: /code
  reload: true
  localreadonly:

[2018-05-30 21:01] gadavivi commented on #177
the error is [here](https://github.com/vapor-ware/ksync/blob/2fda9639576c7a99fbdcfd14718403aa8d78fad8/pkg/input/sync_path.go#L65)

in a windows machine the filepath.IsAbs act differently...

but i still have no idea why after changing the yaml file manually, the sync doesn't happen...

[2018-05-30 21:02] timfallmk commented on #177
@gadavivi Try the steps I outlined above.

[2018-05-30 21:44] grampelberg commented on #172
I'm a huge +1 to this. Should probably follow the kubectl pattern of `-o=json`.

@jstrachan @ashahba mind posting some sample JSON for what you're thinking of?

Also, what's a better serialization format: YAML, JSON, ....?

[2018-05-30 21:45] timfallmk commented on #172
I vote for at least yaml, json, pretty.

[2018-05-30 22:02] grampelberg commented on #173
@timfallmk got it, the config is entirely handled via syncthing's REST API (https://github.com/vapor-ware/ksync/blob/local-config-over-grpc/pkg/syncthing/folder.go#L22).

Right now, ksync isn't handling volumes. To support volumes, it would just need to be a little bit more intelligent about paths. The docker daemon reports volumes separately from the container FS, but the data's there.

[2018-05-30 23:36] ashahba commented on #172
Thanks @timfallmk and @grampelberg
How about this one for `JSON`:

[code]

and this for `YAML`:
[code]

[2018-05-31 06:10] jstrachan commented on #172
LGTM

[2018-05-31 06:17] notalentgeek opened #178 "`connect: connection refused` on `ksync create`"
I am using the latest updated Manjaro. And Kubernetes clusters hosted inside Google Cloud Platform.

[code]

What is the problem here?

[2018-05-31 13:04] gadavivi commented on #178
seems like you haven't started the syncthing process...
try to run "ksync watch" before the "ksync create".

[2018-05-31 13:11] notalentgeek commented on #178
I am so stupid for missing the documentation....

[2018-05-31 13:11] #178 closed

[2018-05-31 14:18] gadavivi commented on #177
i did a try to with an ubuntu machine (trough virtualbox) against a kubernetes cluster in aws and everything worked fine, so for sure there is some problems with windows :(

[2018-05-31 18:02] timfallmk commented on #177
@gadavivi That's unfortunate. Unfortunately, we haven't been able to do user testing (or any specific testing) for Windows since none of us use it, so you're a bit of guinea pig on this one, sorry about that.

I'll try and get a Windows box going and track down what's going on. For whatever reason, the spec isn't getting processed into syncthing's config.

ping @grampelberg

[2018-05-31 22:23] timfallmk commented on #178
@notalentgeek No worries! As a side note, you can throw a `sudo` into the bash pipe to get the same effect:
[code]

[2018-05-31 22:47] timfallmk commented on #172
Question: We could use similar output formatters? https://github.com/vapor-ware/synse-cli/tree/master/pkg/formatters

[2018-05-31 22:52] timfallmk opened #179 "Colorize output"
Investigate colorizing output for relevant commands.

[2018-05-31 23:03] timfallmk commented on #172
Leaving some notes:
- https://github.com/buger/goterm
- https://github.com/hokaccha/go-prettyjson
- #179

[2018-05-31 23:06] grampelberg commented on #172
I dunno if we need any pretty output (though go-prettyjson looks pretty great). Since we're just going to be using this for machines, the first version should probably just serialize the protobufs and see how it looks.

[2018-05-31 23:07] ashahba commented on #172
@timfallmk for me it doesn't matter but if I want pretty output I go with `prettyjson`

[2018-06-01 00:07] gadavivi commented on #177
Ok thanks!
by the way  do you have a guess where might be the problem? (i will try to dig in on my spare time)

[2018-06-01 02:07] timfallmk commented on #177
@gadavivi I can't look at the code to verify this, but my guess that assumptions were made in writing the `config.xml` file that syncthing uses (i.e. it uses some string paths that don't work in Windows).

It could be in the path writing itself, or the serialization in grpc. I suspect the latter, but again this is just a guess. That code is probably in `pkg/ksync/syncthing/server.go`.

[2018-06-01 02:12] timfallmk commented on #172
@everyone I've added a simplistic first pass at this in 89dd3102450486cfd9c14db4e4abb46804c746cd

Let me know what you think.

A question I have so far is whether I should add a newline after squirting the output. I assume I should, but I dunno if that will really mess with anyone's Mario piping.

**Binaries attached**
[Darwin x64](https://716-105306631-gh.circle-artifacts.com/0/binaries/ksync_dar

[2018-06-01 23:16] ashahba commented on #172
@timfallmk my first pass looks good:
[code]

Let me play with this a bit more and will ping you  with more feedback.

[2018-06-01 23:45] eroldan commented on #117
I've done good enough debugging checking the ksync logs. Examples:
`kubectl logs ksync-b8g65 -c syncthing -n kube-system`
`kubectl logs ksync-b8g65 -c ksync -n kube-system -f`

[2018-06-02 00:20] eroldan opened #180 "Restart loop for application compiling assets at startup."
Why ksync restarts containers when detects a file change inside the container? In my case, this creates a restart loop when the app starts and generates new files. I'm doing something wrong?

Here is my test to verify that a change inside container triggers a restart:
[code]

Then I got:
[code]

[2018-06-02 00:28] eroldan opened #181 "Add an explicit reload command for when --reload=false"
This is a feature request.

It would be nice to have a command like `ksync reload spec-name` to do an explicit reload of containers in the --selector. At my company developers don't like the constant automatic restarting of ksync, they want to restart as a way of 'commiting' their latest file changes.

Thanks for ksync, is really cool.

[2018-06-02 19:40] timfallmk commented on #180
@eroldan It _should_ roll the container when new files are changed, are you saying manually editing files on the container side starts a reload loop? If so is it only on the remote side?

[2018-06-04 09:58] gadavivi commented on #177
ok,
i did some digging and i found the problem (but i don't know where it exactly in the code):

because i am running on windows the go library that deals with paths translate paths to this\is\my\path, but when running on linux the go paths library  are translate correctly to this/is/my/path.
this cause ksync to do a wrong mapping in the syncthing container when running on windows.

I found this w

[2018-06-04 15:17] timfallmk commented on #177
@gadavivi As expected. This is the problem I outlined earlier. You can see (from our [CI config](https://github.com/vapor-ware/ksync/blob/master/.circleci/config.yml#L95)) that we compile for each platform/arch in turn. When go builds for a specific arch, it substitutes any different libraries in at compile time based on the `GOOS`. This means that in the case of windows, the compiler uses the win

[2018-06-04 16:29] #172 closed

[2018-06-04 16:34] timfallmk commented on #177
@gadavivi Can you test cb560ca to see if that solved the `create` problem for you?

[Windows x64 binary `ksync`]()

[2018-06-04 16:46] timfallmk opened #184 "Add parallelism to CI"
Now that we have some massive parallelism in Circle, we should take advantage of it to speed builds.

[2018-06-04 17:55] gadavivi commented on #177
The create work , but the sync doesn't...
i still have the same problem, that in the synchthing container the config.xml doesn't contain a valid linux path...

i added the xml file from the syncthing container (you will see that the path element is from a windows format)
[config.xml.txt](https://github.com/vapor-ware/ksync/files/2069403/config.xml.txt)

[2018-06-04 22:40] igdianov commented on #175
Same problem here trying to `ksync init --upgrade --log-level=debug` on Windows 10:

[code]

[2018-06-05 00:34] timfallmk commented on #177
Damn. It seems they fixed the "bug" I was hoping to exploit. On to the next idea.

[2018-06-05 00:43] timfallmk commented on #177
@gadavivi From the same run, did the `spec` show the correct paths for local and remote?

[2018-06-05 01:53] timfallmk commented on #177
@gadavivi Ok, try this. Sorry to keep making you try things, but I don't have a way to test Windows binaries :(
https://738-105306631-gh.circle-artifacts.com/0/binaries/ksync_windows_amd64.exe

[2018-06-05 10:59] gadavivi commented on #177
it's ok, i am more then happy to help, also really appreciate your help :)

by the way, the above binary is good, now the sync and the create command are working :)

[2018-06-05 17:08] ashahba opened #186 "Ksync doctor complains about mismatch between local and remote versions, after 0.2.0 upgrade."
[code]
Wait for all pods to be upgraded (this may take a bit long on large clusters).

[code]

Looks like both remote and local versions are looking at the same commit, but remote is missing the `Git Tag`.

[2018-06-05 17:26] ashahba opened #187 ""ksync init" and it's subcommands like "ksync init --upgrade" should not delete pods on the remote server without user confirmation."
Seems like `ksync init` and it's subcommands redeploy the `ds/ksync` Pods regardless of them  being present on the server or not.
As an end user my expectation was if the init has already been done and the bits are present on the server side, we don't need to un-deploy the Pods  and redeploy the same exact pods again.
Specially on relatively large or shared clusters this could be a pretty expensiv

[2018-06-05 19:52] timfallmk commented on #186
This seems to be a transient problem that happens with our CI pushing images out of order. I don't quite know what's causing it, but it seems like a race condition. I'll fix the 0.2.0 image today, but you can always fix with it the steps in #162

[2018-06-05 19:52] #186 closed

[2018-06-05 20:08] timfallmk commented on #187
@ashahba I see where your concern might be here, however this behavior is purposeful. The daemon set that runs the radar/syncthing portion of ksync is entirely stateless and designed to be blown away/reloaded at will. The upgrade process, if there is a new image, is to pull an update image and relaunch the same ds. It really doesn't hurt to reload it even if there isn't a new image. In addition, s

[2018-06-05 20:09] timfallmk commented on #177
Great! 👍 Thanks for testing. I'll get this merged in.

[2018-06-05 20:15] timfallmk opened #188 "Add examples and usage to commands"
As @edaniszewski pointed out, we need to fill out the command usage and examples sections.

[2018-06-05 20:17] #177 closed

[2018-06-05 20:26] #181 closed

[2018-06-05 21:35] ashahba commented on #186
Thanks @timfallmk
This worked for me: ```ksync update --image=vaporio/ksync:0.2.0```

[2018-06-05 21:39] ashahba commented on #187
The only concern I have is the unwanted downtime when we know for certain that there is no new updated images available. But as far as user data I have seen any loss there.

[2018-06-05 21:52] timfallmk commented on #187
I think if we see some problems we can revisit this, otherwise we'll keep it as is.

[2018-06-05 21:52] #187 closed

[2018-06-05 21:59] timfallmk commented on #176
Reference here: https://github.com/vapor-ware/ksync/blob/windows-binary-fetch/pkg/ksync/syncthing.go#L120-L121

[2018-06-05 23:36] #175 closed

[2018-06-06 03:22] #176 closed

[2018-06-06 04:53] eroldan commented on #180
The scope of this issue is only for remote side. Specifically, if some files are added to the watched directory (manually or by the application) the container is rolled. This cause infinite restarts loops when the application compiles assets at startup or create a tmp file, etc.
For example
[code]
The container is restarted endlessly.
I would like to disable this "roll when container fs changes" b

[2018-06-06 05:00] timfallmk commented on #180
Does this happen if you disable restarts when creating the spec?

[2018-06-06 05:32] eroldan commented on #180
I've added the `--restart=Never` flag to the run command and it becomes:
```kubectl run kstest --image busybox --restart=Never -- sh -c 'mkdir -p /srv; cd /srv; while true; do echo "$(date)" | tee $(date +%T); sleep 30; done'```.

I don't see any change on the ksync behaviour. Container keeps rolling. (I'm checking it with `kubectl logs ksync-b8g65 -n kube-system -c ksync -f`).

[2018-06-06 05:34] timfallmk commented on #180
I believe restart is a bool. I’ll check all of this in the morning

[2018-06-06 18:15] gadavivi commented on #176
hey,
i am getting this error after the new release:

`ERRO[0114] rpc error: code = Internal desc = grpc: error while marshaling: proto: Marshal called with nil  ContainerName= LocalPath="C:\\Users\\gadavivi\\ksync" LocalReadOnly=false Name=valid-ladybug Namespace=default Pod= Reload=true RemotePath=/code RemoteReadOnly=false Selector="app=app"`

any idea why?

[2018-06-06 18:35] timfallmk commented on #176
Yeah. We’ve been seeing that too, so I don’t think it’s a Windows issue. I’ll open a new issue so we can investigate.

[2018-06-07 18:22] timfallmk commented on #180
@eroldan I believe the correct command would be:
[code]

[2018-06-07 19:02] eroldan commented on #180
The flag "--reload=false" will completely disable restarts when changes are detected on local or remote ends and that isn't what I want.
I want automatic restarts when **local** changes are detected, but **not when remote** changes occurr (by manual edits on container or application generated files).

In other words:
some file changes on my laptop -> container rolls
some file changes on the contai

[2018-06-07 19:54] timfallmk commented on #180
@eroldan So let me see if I'm understanding you here. What you want is:

1. Remote container filesystem reflects changes on the local filesystem, both adds and deletes
2. Local filesystem reflects changes on the remote container filesystem, both adds and deletes
3. Local changes cause the container to reload (required for how we do file updates)
4. Remote changes do not cause container to reload

[2018-06-07 20:09] #184 closed

[2018-06-07 21:14] eroldan commented on #180
@timfallmk Not completely correct. Your listed point 2 is not a requirement for me, altough it is OK if that happens.

[2018-06-07 21:15] eroldan commented on #180
@grampelberg It is happening for me. Can you test it too? I've provided my test case some messages above. https://github.com/vapor-ware/ksync/issues/180#issuecomment-394939614

[2018-06-07 22:12] grampelberg commented on #180
Nope, I was wrong. https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/folder.go#L249

Looks like we'll need a new flag maybe? I'm not sure what the correct default behavior should be. I guess since we have `--local-read-only` we should also have `--local-restart-only` or something along those lines. @timfallmk what do you think?

[2018-06-07 22:19] timfallmk commented on #180
Wouldn't it make sense for the remote to only roll on changes _pushed_ from the local? I'm not sure which is harder though, making the restart sequence aware of where a change came from or adding a new flag. Thoughts: @grampelberg

[2018-06-07 22:29] timfallmk commented on #180
I agree with you generally, although I'm not sure why you would want updating files in the container manually to roll the container itself. In that circumstance you don't need to restart the container to have it pick up the changes, so I assume this would be for doing some sort of development directly in the container?

Would the `reload` command we have now suffice for this purpose? https://githu

[2018-06-07 22:41] grampelberg commented on #180
No, #185 reloads syncthing and not the actual container remotely.

[2018-06-08 13:23] bilalbayasut opened #193 "[need help] Segmentation fault when executing ksync"
## Expected Behavior
Firstly I run `minikube start` then `curl https://vapor-ware.github.io/gimme-that/gimme.sh | bash`.
after installing ksync just like in documentation, when typing `ksync version` the version should be appeared.

## Actual Behavior
when I typed `ksync` the message `Segmentation fault` appears.

## Steps to Reproduce the Problem

  1. `minikube start`
  2. `curl https://vapor-wa

[2018-06-08 20:02] timfallmk commented on #193
@bilalbayasut could you paste a trace please?

[2018-06-08 23:00] ashahba opened #194 "Json formating don't seem to work with tag 0.2.1"
Seems like running with or without `json` formatting option still gives me the same output.
I'm on `Mac OSX` and I have the following:

[code]

[2018-06-09 00:47] ashahba opened #195 "ksync create should not create new specs if 'ksync watch' is not running."
[code]
and now my `ksync.yaml` has this spec near the end:
[code]
And the only way for users to verify if the `ksync create` was successful or not is to run the `ksync watch` and then find out.

[2018-06-09 03:56] timfallmk commented on #194
Verified. Move of `--output` flag to the global flag list changed the `viper` instance it was assigned to.

[2018-06-09 04:13] #194 closed

[2018-06-09 04:16] timfallmk commented on #195
At first glance this might be intended behavior as it doesn't require an active cluster connection to add specs.

[2018-06-09 05:09] timfallmk opened #197 "gRPC error when calling `nil` values"
It appears protobuf doesn't like it when passed `nil` values. While this is no longer a fatal error, it appears common to instead pass an empty message of type `&pb.Error{}`.

See: https://github.com/vapor-ware/ksync/blob/master/pkg/radar/restart.go#L79
Instead of: https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/server/restart.go#L18

[2018-06-09 21:48] #195 closed

[2018-06-10 16:34] ashahba opened #198 "ksync delete --all throws "cannot specify names when using `--all` " error."
[code]

[2018-06-10 19:38] timfallmk commented on #193
You should see a trace dump when the segfault happens. Just copy from that point and paste here.

[2018-06-10 19:39] timfallmk commented on #198
It seems to do this when it gets to the last entry. Seems to still not quite be working right.

[2018-06-11 19:19] #197 closed

[2018-06-12 18:48] ashahba opened #200 "Provide a mechanism to get a filtered list of specs, based on a given criteria."
Currently `ksync get` dumps all specs, in fact:
[code]
It'll be very useful to be able to just do
[code]
and then dump the table for only these 2 specs.
or something like:
[code]
and then repot the table with all entries that their local is the above paths.

[2018-06-12 18:50] jordanbuchman opened #201 "Ksync needs syncthing.exe on Windows"
When running `ksync watch` (after a successful `ksync init`) in Powershell on Windows 10, the following error occurs:
[code]
Renaming the file to `syncthing.exe` solves the problem.

[2018-06-12 19:00] timfallmk commented on #201
@jordanbuchman Are you running the latest version?

[2018-06-12 19:05] timfallmk commented on #200
@ashahba This could go very quickly down a rabbit hole. Would it suffice to provide go template based filtering, or do we need something more specific?

cc: @grampelberg

[2018-06-12 19:13] jordanbuchman commented on #201
This is the output of `ksync version`:

[2018-06-12 19:42] #201 closed

[2018-06-12 20:54] ashahba commented on #200
@timfallmk I think for this issue it's better to keep it simple and only provide support for filtering by `name` since name is a primary key and it's pretty easy to filter based on that.

We can defer supporting other queries like:
```ksync get --localPath LOCAL_PATH_01,LOCAL_PATH_02``` or even combinations like:
[code]
for later and I can file a different ticket and possibly better crafted for wh

[2018-06-14 18:08] ashahba opened #205 "Possible bug in `gimme.sh` installer script."
I'm using the script `gimme.sh` to install `ksync` during some `CircleCI` test runs, and the install goes successfully but upon running `ksync` command I get:
[code]

However if I download the binary manually I have:
[code]

[2018-06-15 18:31] #193 closed

[2018-06-15 18:54] ashahba commented on #205
@timfallmk it does, but I ended up fixing it this way in our repo:
https://github.com/IntelAI/mlt/blob/9550646dad28418c91ff726398e25e2d34eff75c/scripts/ksync_install.sh

If that works let me know and I can craft a PR for `ksync`.

[2018-06-15 19:06] timfallmk commented on #205
Interesting. That script actually lives in a different repo. I've made a slight change to it, but I suspect its a permissions issue on the binary.

[2018-06-15 19:06] #205 closed

[2018-06-25 09:59] bilalbayasut commented on #193
the only information in the screen was only Segmentation fault. Just that @timfallmk

[2018-06-25 17:10] timfallmk commented on #193
@bilalbayasut Hmm, it would be hard for me to help you then. Maybe tell me a little bit more about what you're doing?

- What's your environment (OS, version, env)?
- What cluster are you connecting to?
- What command are you running that triggers the error?

[2018-06-26 02:18] bilalbayasut commented on #193
- myos is latest LTS ubuntu
- the cluster I'm running on is minikube
- the commands that trigger the error, is `ksync` and `ksync version` , I think all commands related to ksync cause this error

[2018-06-26 20:19] timfallmk commented on #193
I think the best way would be to start over, as it seems like you're missing a step somewhere. Try doing the following:

1. Delete the binary and anything else you downloaded
2. Go to the releases page on this repo and download the newest release for your platform (should be [this one](https://github.com/vapor-ware/ksync/releases/download/0.2.3/ksync_linux_amd64)
3. Make the binary executable (run

[2018-06-26 23:30] timfallmk commented on #200
I'm thinking this might be easier if it goes one of two ways:

1. Searching is done based on spec name, and only performed if an argument is supplied to `ksync get` (lets call this the simple way)
2. Fuzzy searching is done against specs based on arguments to `ksync get`. I.E. any portion of a spec that matches the given arguments will be returned (call this the fuzzy way)

Thoughts? Would it make

[2018-06-26 23:42] timfallmk opened #206 "Context should be attached to spec"
Right now, global context is taken from:
1. Overrides (env vars, flags, etc.)
2. Ksync config file
3. Configured `kubectl` context

In ascending order. We should separate out global context from context for individual specs so that:

- A spec is attached to a context (and only checks that context)
- Multiple contexts can be checked
- Changing contexts does not change specs/global context when not

[2018-06-27 09:09] bilalbayasut commented on #193
Cool it works, thanks a lot @timfallmk

[2018-06-28 09:12] paveq opened #209 "Fails connecting to EKS cluster"
Have not been able to connect to EKS cluster so far. Maybe has something to do with heptio-authenticator-aws used to connect to EKS cluster?

[code]

Running `kubectl --context= cluster-info` does work as intended.

[2018-06-28 10:43] ronaldsuwandi commented on #186
I also experienced this issue with 0.2.3

[code]

After waiting for all pods to be upgraded

[code]

exactly same problem as before, I tried to use 0.2.0 and still no luck :(

[2018-06-28 17:05] dbenhur commented on #209
The [package constraint on client-go](https://github.com/vapor-ware/ksync/blob/46ad6301437ccdad344e1baab8f9a129d033b175/Gopkg.toml#L40-L42) is set to release-4.0 which I think pre-dates the support for the exec auth plugin.   Try building with a current K8s client-go.

[2018-06-28 19:14] timfallmk commented on #209
@paveq If @dbenhur 's suggestion works for you I can update it here.

[2018-06-28 19:21] timfallmk commented on #186
@ronaldsuwandi (and anyone else experiencing this issue) just substitute the version number you want into that image string.

[2018-06-28 19:42] timfallmk commented on #209
@here This is much more complicated than it seems, due to the moronic versioning practices of the k8s team. It will take some time.

[2018-06-28 21:08] dbenhur commented on #209
@timfallmk What are the problems with the versioning scheme?  The "k8s team" is a vast open community of thousands of contributors.  If you have specific issues and concrete suggestions, I suggest you raise them with the community.  My experience with k8s has been that this is an exceptionally open project eager to make it possible to contribute and improve.  Perhaps you could take your issues wit

[2018-06-28 21:13] timfallmk commented on #209
Thanks @dbenhur but I'm quite familiar with them and the way they work (obviously). I find a lot of the design decisions and management to be impenetrably stupid, a classic case of "design by committee" writ large. However that list is far too long for here, off topic, and nothing anyone else doesn't complain about already.

For this specific problem:
1. Several sets of dependencies have changed.

[2018-06-28 22:42] #209 closed

[2018-06-29 04:58] paveq commented on #209
@timfallmk Thanks for the update!

However I still have exact same issue with latest version. I'm trying to debug this with dlv with not much success (my breakpoints are not working), but I noticed that sometimes process goes through when running the command quickly after previous one.

[code]

[2018-06-29 05:00] paveq commented on #209
Weirdly enough, this only happens when running with dlv. Could it be some kind of timing issue?

[2018-06-29 05:06] paveq commented on #209
Looks like issue comes with one second timeout on line `if client.Get().Timeout(1*time.Second).Do().Error() != nil` of file kubernetes.go, which seems not to be enough for heptio authenticator. Increasing this to 5 seconds fixes the issue.

[2018-06-29 07:19] paveq commented on #209
Been running now with timeout fix in place, and I can confirm ksync works perfectly with EKS now.

[2018-07-03 22:15] #200 closed

[2018-07-06 14:23] Panaetius opened #212 "No changes written to file"
I'm running ksync in a DIND local cluster scenario.

I've configured everything, ran `ksync init` then `ksync create --name coordinator -l app=mlbench,component=coordinator --context local --reload=false /home/zenon/DEV/epfl/mlbench/mlbench/coordinator/ /app/code/`

(I tried with reload=true as well, but the application should reload by itself anyways)

`sync watch` works as well , debug output:

[2018-07-09 21:03] timfallmk commented on #212
@Panaetius it can be confusing to debug at this point, so let me clear a few pieces up.

I'm not entirely sure that the `-l some=something,somethingelse=somewhere` (i.e. with the comma separator) works in `ksync`, but admittedly I haven't tried it. Usually I specify multiple selectors with multiple `-l` flags. I only mention it because I suspect the problem may be that the entire selector comment

[2018-07-10 11:12] Panaetius commented on #212
@timfallmk Regarding the `-l some=something,somethingelse=somewhere`, that indeed does not work, it just picks the first selector specified and ignores the rest. I already tried it with multiple -l flags yesterday, that didn't work either.

I just tried
`ksync create -p jumpy-rodent-mlbench-coordinator-6bc59dd765-5hglw --local-read-only --name coordinator --context=local /home/zenon/DEV/epfl/mlben

[2018-07-10 19:11] timfallmk commented on #212
If you visit the syncthing web UI (I believe it defaults to `8384`), does it show the correct target destinations?

[2018-07-10 20:40] Panaetius commented on #212
It looks fine, the paths are correct and it lists modifications to the file correctly.

![screenshot_2018-07-10_22-35-25](https://user-images.githubusercontent.com/664486/42536219-b43502f0-8491-11e8-9e07-7e6ff7f1b40d.png)
![screenshot_2018-07-10_22-34-56](https://user-images.githubusercontent.com/664486/42536220-b44e8860-8491-11e8-97c4-9143123c5e0c.png)

Are there any additional logs I could provi

[2018-07-10 22:51] timfallmk commented on #212
That's very odd. The only thing I can think of, other than the above, is a file permissions issue. Even that should trigger an error though.

@grampelberg ideas?

[2018-07-10 23:14] grampelberg commented on #212
ksync makes some assumptions about how the FS is laid out under the covers. What FS driver are you using and where is it putting files? I'm wondering if DIND is the issue.

[2018-07-11 08:13] Panaetius commented on #212
I use https://github.com/kubernetes-sigs/kubeadm-dind-cluster if that helps, v1.10.

It's all Overlay 2 and stored in /var/lib/docker and /dind/docker on the host and in the kubernetes nodes, respectively.

On the host:

Containers: 52
 Running: 4
 Paused: 0
 Stopped: 48
Images: 188
Server Version: 18.05.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overla

[2018-07-11 14:57] grampelberg commented on #212
Yup, that's the problem. We're only mounting `/var/lib/docker` in (https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/cluster/daemon_set.go#L78).

The solution to this should be adding a configuration option to `install` that lets you configure that path. @timfallmk want to take a look?

[2018-07-11 19:04] timfallmk commented on #212
It would probably make more sense to detect what the docker daemon is pointed at, but I'll look into it.

[2018-07-11 20:31] Panaetius commented on #212
Great, looking forward to it being configurable.

For now I'll try just getting the dind cluster to use the regular path, I think changing the /dind/docker path on line 89 of https://github.com/kubernetes-sigs/kubeadm-dind-cluster/blob/5e48a6377148b1e0d1b3d8c4609a140c7b00b57b/image/rundocker should do. Haven't had a chance to test it yet. I'll report back once I tried it, in case there's some othe

[2018-07-11 20:39] timfallmk commented on #212
@Panaetius It might take some time before I get to it. In the meantime, changing the configured volume mount @grampelberg listed and recompiling should let you use it.

[2018-07-11 20:57] grampelberg commented on #212
Good call @timfallmk, that's just a daemonset. Just use kubectl to edit the daemonset to the right path and it should (tm) work (hopefully).

[2018-07-11 20:57] timfallmk commented on #212
That would *also* work.

[2018-07-11 23:43] #212 closed

[2018-07-12 09:29] Panaetius commented on #212
@timfallmk

I just tried again with the newest version and sadly it still doesn't seem to work.

I connected to the syncthing service running on the node and enabled (most) debug log settings. The path is now correct. E.g.:

2018-07-12 09:20:32 read IndexUpdate message
2018-07-12 09:20:32 queueing IndexUpdate(2AMD5RW-GVNA4P3-CGBIJH2-G6OECKY-73OEILD-LDEN5TX-PDJS7AQ-2DBL7Q2, concrete-termite-eponymo

[2018-07-16 17:58] timfallmk commented on #212
This has to be something with how they're handling volume mounts. What happens if you roll the container after making a change (and seeing that change go through in the logs)?

[2018-07-16 19:13] Panaetius commented on #212
Do you mean rollback? Or what do you mean with "roll"?

I can try it first thing tomorrow morning.

[2018-07-16 19:14] timfallmk commented on #212
Sorry, "restart". It's possible the filesystem changes are not being picked up after the file is changed on disk. Other than that, I'm kinda out of ideas.

[2018-07-17 08:12] Panaetius commented on #212
Nothing in particular happens when I restart the container.

But I did some more digging and think I figures it out (well, the problem, not a solution).

I just changed the code file locally with one change (Adding `test_source`), waited for it to propagate, then connected to a shell inside the container and changed the same file, but with a different string (`Test2`), then I just ran `grep` for t

[2018-07-18 07:36] bilalbayasut opened #214 "[need help] The server rejected our request for an unknown reason (get pods) and no pods name defined"
## Expected Behavior
1. Hi folks, I try to use ksync and I accidentally enter the wrong command in
`ksync create --selector=app=web=tier=backend $(pwd)/web /web` and this error shows `The server rejected our request for an unknown reason (get pods)` whenever I tried to run `ksync watch --daemon`.
2. Before it happens, I can't sync my files as when I run `ksync get` I don't get pods and container n

[2018-07-19 19:11] timfallmk commented on #212
In that case it seems like something else is using the default graph driver path. I'll root around and see if I can find it, unless @grampelberg knows already.

[2018-07-19 19:16] timfallmk commented on #214
@bilalbayasut A few things:
1. You'll need to specify selectors as one per flag (e.g. `--selector=app=web --selector=tier=backend`)
2. It looks like the k8s is rejecting the call to `get pods`. This could be a misconfiguration of the client. Can you run `ksync doctor` and see what it reports. Also try `kubectl get pods -l app=web -l tier=backend`.

[2018-07-19 19:18] timfallmk opened #216 "Possible issue with multiple selectors"
Multiple issues have been filed saying that when more than one selector is specified, only the first is included in the spec. This will need to be investigated.

[2018-07-19 22:52] timfallmk commented on #216
The issue would appear to be here: https://github.com/vapor-ware/ksync/blob/master/cmd/ksync/create.go#L112 where `GetString("selector")` will only return the flag value as a single string.

When passing `-l app=test -l pod-template-hash=3475505068`:
[code]

When passing `-l app=test,pod-template-hash=3475505068`:
[code]

multiple selectors should (ideally) be able to be passed in as separate flag

[2018-07-19 23:47] timfallmk commented on #216
Blocked by
https://github.com/kubernetes/apimachinery/issues/47

[2018-07-20 00:40] timfallmk commented on #216
Also need to implement string slices as pflags via https://github.com/spf13/viper/issues/200

[2018-07-20 19:34] ashahba opened #218 "`ksync init` even on a brand new GKE cluster complains about version mismatch."
Since a few days ago after I install `ksync` for the first time, and once all the pods are ready I run: `ksync doctor` but I get this error:
[code]
Please see this `CircleCi` run under section: `Install ksync on both client and cluster`:
https://circleci.com/gh/IntelAI/mlt/1672

[2018-07-23 05:51] bilalbayasut commented on #214
Fixed, the solution I did is just to re-install ksync :smile:

[2018-07-23 05:51] #214 closed

[2018-07-23 12:34] bilalbayasut commented on #186
@timfallmk I have tried to run `ksync update --image vaporio/ksync:0.2.6` which is in my case it shows error
[code]

But the error still occur, even I did fresh reinstall of the ksync, any ideas ?

[2018-07-23 16:42] timfallmk commented on #218
@ashahba @bilalbayasut As mentioned elsewhere, this appears to be a weird race condition that we haven't been able to pin down.

For now the fix is to specify the image you want to deploy with `ksync init --image vaporio/ksync:0.2.6` (for example). I should add this to the readme until it's fixed.

[2018-07-23 16:42] #218 closed

[2018-07-23 20:07] timfallmk commented on #186
@bilalbayasut `ksync update` updates the local binaries (if needed). `ksync init --upgrade` updates the remote daemonset. Confusing, I know, but they use two completely different mechanisms.

@ronaldsuwandi I will try to add something to the readme about it.

[2018-07-26 17:55] CamiloValderruten opened #219 "Error in initializing ksync"
Error:

==== Local Environment ====
Fetching extra binaries                     ✘
↳	no matching assets in this release (v0.14.49)
FATA[0000]

Version:

ksync:
	Version:    Release
	Go Version: go1.10.3
	Git Commit: d2c6365
	Git Tag:    0.3.0
	Built:      Mon Jul 23 23:55:07 +0000 2018
	OS/Arch:    darwin/amd64
service:
	Version:    Release
	Go Version: go1.10.3
	Git Commit: d2c6365
	Git Tag:    0.

[2018-07-26 21:37] timfallmk commented on #219
Uh oh, looks like `syncthing` might be fucked up

[2018-07-26 21:45] timfallmk commented on #219
Found the issue. https://github.com/syncthing/syncthing changed their release name structure. Update incoming.

[2018-07-26 22:06] #219 closed

[2018-07-26 22:21] ashahba commented on #219
@timfallmk would you mind patching the latest release now that the fix is in?

[2018-07-27 00:04] s1113950 commented on #219
We're testing with latest release and still having issues :/
We get latest release this way:
[code]
Full install script is here:
https://github.com/IntelAI/mlt/blob/master/scripts/ksync_install.sh
Any help would be appreciated @grampelberg 😄

[2018-07-27 00:38] ashahba commented on #219
@timfallmk and @grampelberg would you guys be able to peg `syncthing` to a version like `v0.14.48` rather than pulling latest release so that thing don't break outside of your control? and then only periodically upgrade once it's fully tested.
I've certainly been hit by this many times in my career 🙂

[2018-07-27 01:01] ashahba commented on #219
It certainly looks like `ksync` pods take a longer to start now:
[code]
I'm deploying `ksync` on a cluster on `GKE` with only `5` nodes, but 7 minutes through the `init` and one pod is still hanging  and of course my build fails, since I'm only waiting `5` minutes for the pods to be ready.

I've increased the wait time to 10 minutes now and we'll see how it goes.

[2018-07-27 01:14] ashahba opened #221 "Using 0.3.1 ksync binary, pods seem to be taking longer than usual to start."
It certainly looks like `ksync` pods take a longer to start now:
[code]
I'm deploying `ksync` on a cluster on `GKE` with only `5` nodes, but 7 minutes through the `init` and one pod is still hanging  and of course my build fails, since I'm only waiting `5` minutes for the pods to be ready.

I've increased the wait time to 10 minutes now and we'll see how it goes.
https://circleci.com/gh/IntelAI/ml

[2018-07-27 01:18] ashahba commented on #221
Looks like just about `10` minutes to install it on a `5` node `GKE` cluster from `CircleCi`:
https://circleci.com/gh/IntelAI/mlt/1745

[2018-07-27 01:57] grampelberg commented on #219
Well damn, I'll do some more testing in the morning. Pinning is a great
idea, so we'll get that going as well. Thank you for being understanding!!

On Thu, Jul 26, 2018 at 6:01 PM Abolfazl Shahbazi <notifications@github.com>
wrote:

[2018-07-27 02:43] timfallmk commented on #219
@s1113950 What error are you seeing exactly?

[2018-07-27 08:01] michilu opened #222 "Support a kubeadm-dind-cluster"
Is the ksync supports a kubeadm-dind-cluster?
https://github.com/kubernetes-sigs/kubeadm-dind-cluster

I got an error of the `Docker Storage Root` in `ksync doctor` as below:

[code]

Or, am I forgot something?

[2018-07-27 13:02] CamiloValderruten commented on #219
@grampelberg Thank you!

[2018-07-27 17:53] s1113950 commented on #219
@timfallmk here's a link to the failed `ksync` install step: https://circleci.com/gh/IntelAI/mlt/1738?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link and the script we use is what I pasted above. We allowed for more time for ksync to install and that did it though so I think we might be good now.

[2018-07-27 19:54] timfallmk commented on #221
I can't seem to replicate this:

[code]

I've tried several different clusters, included a clean one and I get roughly the same. Possibly it was a transient repo issue?

[2018-07-27 23:52] ashahba commented on #221
Thanks @timfallmk my numbers are also down to a `75s` now on a brand new cluster and `5` nodes. Possibly a side effect introduced by mixing `Dockerhub` and `CircleCi/GKE`.
So we should be good now until next release 🙂

[2018-07-27 23:57] timfallmk commented on #221
The flurry of changes yesterday due to inclusion of `gosec` in the updated linter list (and its associated bugs) may have hit a rate limit somewhere.

[2018-07-28 03:38] michilu commented on #222
@timfallmk Thank you for your support. I will check it!

[2018-07-28 05:03] michilu commented on #222
I tried with `--docker-root=/dind/docker` and works well.
[code]

[2018-08-03 21:01] johncsnyder opened #224 "Sync causes jupyter notebook to shut down"
I'm running a Jupyter notebook in a docker container remotely on gke kubernetes and using _ksync_ to sync up a notebooks folder (and some importable source code).

I managed to get _ksync_ to sync on file change between my local machine and the k8s pod. However, I have the issue that whenever a file is changed and sync'd (e.g. on jupyter notebook checkpoint save), it looks like the notebook shuts

[2018-08-03 23:24] timfallmk commented on #224
@johncsnyder `ksync` automatically restarts the container whenever a change is made. You can stop this when creating a spec by using `--reload=false` (I think that's the option)

[2018-08-04 00:30] johncsnyder commented on #224
Ah perfect, that did the trick. Thanks!

[2018-08-04 00:30] #224 closed

[2018-08-11 12:05] zkf9971 opened #225 "ksync doesn't work"
I install ksync by command "go get github.com/vapor-ware/ksync/cmd/ksync" on the macOS 10.13.3 , but always get "Killed: 9" when I run any commands of ksync, and it exit immediately with "Killed: 9".

go version is go1.9.3 darwin/amd64

[2018-08-13 17:11] timfallmk commented on #225
@zkf9971 You may have downloaded the wrong binary. Instead of building it, I would recommend just grabbing the newest binary from the releases page.

[2018-08-13 22:41] #225 closed

[2018-08-22 19:17] timfallmk opened #226 "Include version/build information in annotations"

[2018-09-08 12:02] johnraz opened #227 "RPC error with minikube using none driver"
Hi there,

I'm facing the following issue when trying to run ksync on my minikube setup.
Minikube is running on a separated machine on top of Ubuntu, I'm using the "none" driver of minikube so kubernetes is running directly in my docker daemon

Side note: I tried running ksync against the docker for mac powered kubernetes and it works.

[code]

[code]

On my mac (kubectl is setup to speak with the

[2018-09-10 16:13] timfallmk commented on #227
@johnraz Thanks for tracking this down. The reliance on `socat` is a known annoyance, but unfortunately it's part of the `kubectl` port forwarding method.

[2018-09-10 16:28] #227 closed

[2018-09-10 19:39] cheddarwhizzy opened #230 "Doesn't sync with mounted emptyDir Pod volumes"
If I try to sync to a pod path using emptyDir as the volume, data is synced to the `/var/lib/docker/overlay2/ID/merged/usr/share/nginx/html` directory, but not synced to the `/var/lib/kubelet/pods/6df2b982-b524-11e8-b615-382c4ac7fe86/volumes/kubernetes.io~empty-dir/test` and therefore not inside the running pod.

Here are the 2 examples:

Will NOT work (using emptyDir volume as sync dir)
[code]
[c

[2018-09-10 19:40] timfallmk commented on #230
@cheddarwhizzy Can you run `ksync doctor` and append the output?

[2018-09-10 19:41] cheddarwhizzy commented on #230
[code]

[2018-09-10 19:44] timfallmk commented on #230
@cheddarwhizzy Are you sure `/home/docker` is the correct path for your overlay FS? I've never seen that used in a k8s distribution before. The `doctor` only checks for configuration matches, not that it's the "correct" path.

Also, what distro and overlay fs are you using?

[2018-09-10 19:51] timfallmk commented on #230
My concern here is the overlay2 path your provided. It should be under the container id, e.g. `/var/lib/docker/overlay2/0228583c2b2dffb80f6452af7e4ced457e57de4aa5644371f576f834e07be876/merged`

[2018-09-10 19:57] cheddarwhizzy commented on #230
Bare Metal Kubespray v1.10.2
[code]

Kops AWS v1.8.4
[code]

I deployed this on single-node bare metal using kubespray, however I also get the same issue on a kops v1.8.4 cluster in AWS using /var/lib/docker. Both are running Debian (kops 8.9) (bare metal 9.4)

[2018-09-10 20:01] timfallmk commented on #230
@cheddarwhizzy The relevant info here is probably `docker info`
Try this:
1. Create a container (any will do), preferably with a volume via `docker run`
2. Run `docker inspect <id of container> --format '{{ json .GraphDriver }}'`
3. Paste the response here.

[2018-09-10 20:05] cheddarwhizzy commented on #230
Default overlay dir (Kops)
[code]

Non-default overlay dir (Bare Metal)
[code]

[2018-09-10 20:08] timfallmk commented on #230
Ah! I didn't notice that you were creating a volume _outside_ of a docker volume mount. Unfortunately Kubernetes deals with *kubernetes* related volumes outside of the docker volume management system (and thus outside of the graph driver that's configured), and `ksync` can't access those. If you want to sync directories, you'll have to use docker volumes (similarly to how you did in the second exa

[2018-09-10 20:27] cheddarwhizzy commented on #230
No worries! I'll change up the way I use ksync. I appreciate the quick help

[2018-09-10 20:28] timfallmk commented on #230
Np!

[2018-09-10 20:28] #230 closed

[2018-09-10 22:02] dsutphin opened #231 "README.md Troubleshooting: "Nothing is happening and ksync get says that it is waiting." doesn't make sense."
https://github.com/vapor-ware/ksync/blob/master/README.md

This doesn't make sense. Make sure you're what?

[2018-09-10 22:10] timfallmk commented on #231
😱 @grampelberg

[2018-09-10 22:11] ashahba commented on #231
@dsutphin Are running `ksync` behind `proxy`?

In my case it turned out it was a proxy issue.

[2018-09-10 22:13] timfallmk commented on #231
To further clarify, the `waiting` status is the default state. It changes only when matching events are emitted, so we'd probably need more info if you're having a problem.

[2018-09-11 14:59] dsutphin commented on #231
@ashahba thank you for the advice but for now I've given up. I just wanted to report the issue with the README.md.

[2018-09-11 19:47] timfallmk commented on #231
@dsutphin If you wanted to get started again, feel free to file another issue and we can work through it. Thanks for the headsup!

[2018-09-16 11:50] ugoviti commented on #231
Hi,

I just installed ksync following the README and I'm experiencing the same problem, the `ksync get` return:

          NAME       LOCAL   REMOTE   STATUS    POD   CONTAINER
    +--------------+-------+--------+---------+-----+-----------+
      clever-mouse   ksync   /code    waiting

I'm running k8s 1.10.7-gke.1 into GKE env.

ksync is correctly installed:

     $ kubectl get pod -n kube-syst

[2018-09-16 14:03] ugoviti commented on #231
I discovered the cause.

ksync by default search pods on `default` namespace only.

so, even if kubectl is configured to use by default another namespace (`test` in my case) via the command
`kubectl config set-context $(kubectl config current-context) --namespace=test`, ksync use always the `default` namespace if not specified.

So I workaround this problem with:

`ksync create -n test --selector=

[2018-09-16 14:39] grampelberg commented on #231
That's a great catch @ugoviti, would you mind filing an issue that is separate for that? I didn't know that was even possible!

[2018-09-16 14:42] dsutphin commented on #231
@grampelberg You closed this without fixing the README.md. The reason I created this issue. Just a heads up.

[2018-09-16 23:38] grampelberg commented on #231
@dsutphin argh, you're totally right. Sorry about that!

[2018-09-18 18:30] fahanson opened #232 "Lots of tmp files showing up"
Working inside of a git directory that is being synced into a container for development. When going to look at files for the commit I am finding a ton of `.syncthing.*.tmp` files.

I'm wondering if this was due to a failed sync at some point and they were not cleaned up?

[2018-09-18 19:51] timfallmk commented on #232
@fahanson That's entirely possible. A quick search of the synching issues shows they are kept around if the transfer for that specific file didn't complete for any reason. I'm guessing you should be able to safely remove them.

[2018-09-20 19:27] #232 closed

[2018-09-24 22:06] timfallmk opened #234 "Set ENV prefix and key replacer for config variables"
While we currently take in config values from the environment (https://github.com/vapor-ware/ksync/blob/master/pkg/cli/config.go#L39) we should be prefacing keys with `ksync` (or something similar) to avoid collisions. We should also be transforming `-` characters to `_` so they're compatible with env variables.

Documentation here: https://github.com/spf13/viper#working-with-environment-variables

[2018-09-26 20:43] johnmcollier opened #235 "ksync init fails for me on 0.3.2 with Minikube, complaining about docker client version"
ksync init fails for me on v0.3.2 with Minikube, showing the following error:
[code]

If I move back down to 0.3.1, the error goes away. Is there anything else I need to do to get ksync 0.3.2 to work with Minikube?

I've been able to reproduce on two separate Minikube installations, as well as on IBM Cloud Private 3.1

[2018-09-27 17:03] timfallmk commented on #235
That's interesting. I was hoping these things might come out before it was released, but it's likely due to the upgraded docker library in `0.3.2`. I'll look at it, but `0.3.2` doesn't have any different features from `0.3.1`, so feel free to use that for the moment.

[2018-09-27 17:03] timfallmk commented on #235
Additionally, you can skip the checks to get `0.3.2` running if you want.

[2018-09-27 17:12] timfallmk commented on #235
@johnmcollier Could you give me `docker info` from both your local client and the k8s clients?
The important bits will be the supported API versions.

[2018-09-27 18:40] timfallmk commented on #235
@johnmcollier Could you give this branch (https://github.com/vapor-ware/ksync/tree/client-version-negotiation) a test? I'll attach some binaries to this comment when they finish building.

[2018-09-28 21:16] johnmcollier commented on #235
Hi @timfallmk

Thanks for the binaries! I gave them a try and `ksync init` worked properly:
[code]

Do you still want the `docker info` from the local and k8s client?

[2018-09-30 20:41] timfallmk commented on #235
No worries @johnmcollier! I think this should solve it. I’ll release a new point version to incorporate the change

[2018-09-30 20:41] #235 closed

[2018-09-30 21:00] mfornasa opened #237 "Version 0.3.2 fails the installation on Mac / Minikube (version mismatch)"
I am trying to `ksync init` on a Mac with Minikube.
I get the following error:

[code]

[2018-10-01 06:09] marrataj commented on #237
Same error on ubuntu / GKE

[2018-10-01 18:56] timfallmk commented on #237
Hi guys. I thought we had this documented, but I can't seem to find it now. You'll want to follow the steps for https://github.com/vapor-ware/ksync/issues/162 . I'll keep this open to add to troubleshooting steps.

[2018-10-01 19:08] mfornasa commented on #237
@timfallmk thanks for the response.
I am not sure which steps you're suggesting. I tried `ksync clean —remote` and `ksync init --remote`, but I am unable to get `ksync doctor` to run cleanly.

[code]

[2018-10-01 19:11] timfallmk commented on #237
Sorry, I should have been more explicit. The problem happens sometimes when it pulls the wrong release (we're not quite sure why). You can specify which release to use with the `--image=vaporio/ksync:<version tag>` flag

So you'll want to run `ksync clean --remote` followed by `ksync init --image=vaporio/ksync:0.3.2`

[2018-10-01 19:38] mfornasa commented on #237
We are making some progress, but still not there :)
[code]

[2018-10-01 19:42] timfallmk commented on #237
Yes, there's a bug in `0.3.2` (https://github.com/vapor-ware/ksync/issues/235) which is why I _just_ released `0.3.2-hotfix`

[2018-10-01 19:51] mfornasa commented on #237
`0.3.2-hotfix` worked. Thanks!
This time it worked with a simple `ksync clean` + `ksync init`, no need for`--image=vaporio/ksync:0.3.2-hotfix`, so the problem described in this issue did not happen this time.

[2018-10-01 19:52] timfallmk commented on #237
Thanks for confirming @mfornasa . It's a transient issue with our CI, and we're not quite sure why it happens.

[2018-10-05 12:45] pchico83 opened #239 "Sync breaks with large folders"
I am synching a 140MB folder and the sync process breaks.

`ksync watch` starts to show this error:

[code]

over and over.

How could I debug further this issue?

[2018-10-05 14:21] pchico83 commented on #239
The issue was related to `--pod` not working properly.
The synch worked using `--selector` instead.

[2018-10-05 14:21] #239 closed

[2018-10-08 18:17] #237 closed

[2018-10-15 08:49] Megalepozy commented on #237
Sorry to open up the issue again but I seem to encounter the same error but with 0.3.2-hotfix on Ubuntu

$ ksync init
==== Preflight checks ====
Cluster Config                              ✓
Cluster Connection                          ✓
Cluster Version                             ✓
Cluster Permissions                         ✓

==== Cluster Environment ====
Adding ksync to the cluster

[2018-10-15 08:51] Megalepozy opened #242 "Failing to init on Ubuntu with 0.3.2-hotfix"
It seems like issue #237, tried the steps there but it didnt work

$ ksync init
==== Preflight checks ====
Cluster Config                              ✓
Cluster Connection                          ✓
Cluster Version                             ✓
Cluster Permissions                         ✓

==== Cluster Environment ====
Adding ksync to the cluster                 ✓
Waiting for pods to be healthy

[2018-10-15 17:17] timfallmk commented on #242
@Megalepozy Actually this is #162 . However the steps are documented further down in the #237 thread as you mentioned.

*tl;dr* `ksync init --remote --image=vaporio/ksync:0.3.2-hotfix`

[2018-10-15 19:28] timfallmk commented on #242
@Megalepozy The problem is that remote DaemonSet is not pulling down the correct image (hence the lack of a version number). You're local client binary is correct, but you need to specify the remote version to use.

[2018-10-15 19:29] Megalepozy commented on #242
@timfallmk ahh kewl, thanks a lot for ur quick help and awesome project! :)

[2018-10-21 11:58] johnraz opened #243 "Client / Server version mismatch"
Hi there,

Not sure what's going on but since I upgraded to 0.3.2-hotfix I get this error:

[code]

Running upgrade doesn't fix anything.
Cheers!

Edit: I should add that everything works it's just the doctor status that seems to be reporting badly.

[2018-10-22 06:01] notwiben opened #244 "add node toleration option when ksync init"
after I upgrade my node from 1.8.6 to 1.9.7, I found out that ksync wont schedule any pod at my `tainted` node.
I can add `  "tolerations": [ { "effect": "NoSchedule", "key": "key", "operator": "Equal", "value": "value" } ],` to `spec.template.spec` and it will fix the issue.
but still, I think it's better if there's an option for that when `ksync init`

[2018-10-22 06:10] notwiben commented on #243
temporary fix:
https://github.com/vapor-ware/ksync/issues/237#issuecomment-426027299

[2018-10-22 06:16] notwiben opened #245 "add node toleration options to ksync init"
when I upgrade my node from 1.8.6 to 1.9.7, I found that ksync wont run on tainted node. I can manually edit ksync daemonset and add `  "tolerations": [ { "effect": "NoSchedule", "key": "key", "operator": "Equal", "value": "value" } ],` to `spec.template.spec`.

But I think it's better if there's an option to add node toleration when `ksync init`

[2018-10-22 08:22] johnraz commented on #243
Thanks @notwiben, should have searched a bit more... and as it seems to be a transient known issue, I’m going to close this 👍🏻

[2018-10-22 08:22] #243 closed

[2018-10-22 14:42] #245 closed

[2018-10-22 14:43] notwiben commented on #245
duplicated https://github.com/vapor-ware/ksync/issues/244
github error

[2018-10-22 19:49] timfallmk commented on #244
@grampelberg Thoughts on this?

[2018-10-23 15:32] grampelberg commented on #244
Adding it to `ksync init` would be a good feature. Something that lets you edit the template a little bit more.

[2018-10-23 18:13] timfallmk commented on #244
I'm not sure how we could accomplish this without doing a one off for each option. If we really wanted to break everything we could provide an option to use your own custom config, but other than that I don't know. I'm open to suggestions though.

[2018-10-24 17:08] snickell commented on #127
It'd be great if I could feed existing .ignore files in, e.g. for code-editing cases I suspect the combination of .dockerignore and .gitignore is perfect as a starting point.

[2018-10-24 17:53] timfallmk commented on #127
@snickell you _should_™ be able to use standard `.ignore` syntax files labeled as `.stignore` (from the above syncthing link) and that should get you 90% of the way. I don't really remember but I suspect that's why this wasn't further worked on.

[2018-10-25 23:35] jensenbox commented on #237
This is a persistent issue for me. I have tried many combinations of the commands to no avail:

[code]

None of the above in any order seems to help the:

[code]

[2018-10-26 20:02] timfallmk commented on #237
@jensenbox That shouldn't be happening. What does `ksync version` give you?

[2018-10-26 20:10] jensenbox commented on #237
[code]

[2018-10-26 20:17] timfallmk commented on #237
The `remote components are not installed` concerns me. That means it's not finding the deamonset to clean up. Can you try cleaning things up manually?

`kubectl delete daemonset ksync --namespace kube-system` (or whatever namespace you launched it into)

`ksync clean`
`ksync init --remote`

[2018-10-26 23:01] jensenbox commented on #237
[code]

[2018-10-26 23:02] jensenbox commented on #237
^ I am more than happy to get on a call to pair on this.

[2018-10-27 00:13] timfallmk commented on #237
@jensen. Sorry I editing my comment. Please repeat but specify the image. The image pull seems to match the git commit, which is messing things up.

[2018-10-27 00:47] jensenbox commented on #237
Better - I think we are past the version mismatch but have something else now:

[code]

[2018-10-27 01:43] timfallmk commented on #237
Ah! Another known issue, but this one is on the readme. Tldr you need to set your docket root.

-Tim
On Oct 26, 2018, 17:47 -0700, Christian Jensen <notifications@github.com>, wrote:

[2018-10-30 14:55] srfrnk commented on #237
F.Y.I. got it working with:
[code]

[2018-11-02 13:01] bilalbayasut opened #246 "[FATAL ERROR] CAnnot run ksync run --daemon"
Hi guys, I can't run `ksync run --daemon` and it shows this error :
[code]

any idea how to solve that ?

[2018-11-05 18:49] timfallmk commented on #246
@bilalbayasut I don't believe there is a `ksync run` command. What version are you using?

[2018-11-06 03:13] bilalbayasut commented on #246
Sorry I meant ksync watch --daemon

[2018-11-07 04:41] bilalbayasut commented on #246
I'm using Ubuntu 18.04 , minikube , and 0.3.2-hotfix version. I'm afraid ksync gets stuck on pods setting error. but the problem is, I can't see or touch any settings at all.. stuck in that fatal error

[2018-11-08 19:53] timfallmk commented on #246
If you try running it without daemonizing (i.e. just `ksync watch`) and turn on debug logging with `--log-level=debug` see if that gives you a different result. I'd have to know more about where the issue occurs before I can help.

[2018-11-15 23:32] timfallmk commented on #246
I'm going to close this for now. Feel free to reopen it if you want to.

[2018-11-15 23:32] #246 closed

[2018-11-21 16:16] gsf commented on #237
Thanks @srfrnk those worked for me as well on a first-time install. Maybe this should be added to the readme until the fix is worked out? Makes for a rough initial impression following `curl https://vapor-ware.github.io/gimme-that/gimme.sh | bash`.

[2018-11-22 14:53] scones opened #247 "ksync keeps losing connection"
log entry from syncthing:
[code]

log entry from watch command:
[code]

relevant stuff:
[code]

additional relevant stuff:
kubernetes: 1.12.2
minikube: minikube version: v0.30.0 (with driver `none`)
just 1 pod

[2018-11-22 14:54] scones commented on #247
retry on the syncthing log:

[code]

[2018-11-23 21:19] michalschott commented on #218
This is still happening in all 0.3.X versions.

[2018-11-27 12:23] scones opened #248 "ksync syncthing keeps syncing the same folders"
Hello ksync developers,

i am currently observing (apart from the other ticket) a phenomena, where the syncthing keeps syncing the a folder, allthough there are no changes locally nor remotely.

i currently use ksync with `--local-read-only`, thus i'd expect no test of remote changes at all.

observing the syncthing logs, i see tons of lines like this:
[code]

followed by tons of lines like this:

[2018-11-27 21:56] timfallmk commented on #248
@scones The wording might be a little ambiguous but `--local-read-only` _writes_ no changes to the local folder. It will still read and write to the remote end. Is this the behavior you wanted?

Additionally, it looks like the syncing happening is to keep *state* up to date locally. Can you verify if changes are being written to locally? Maybe create a new file on the remote and see if it shows up

[2018-11-27 23:08] scones commented on #248
@timfallmk it is, in part, the behaviour i wanted. I wanted the local folder to be the source and the remote to be the target.

The files, syncthing assumes to be changed, are in fact unchanged. Those are external, pre-bundled libraries (hence `vendor`), that are not written or changed. Yet they are synced over and over again.

I do not have a problem with a sync from the remote to my local. My pr

[2018-12-07 23:18] timfallmk commented on #248
So, to reiterate, although sync events are being triggered, remote files are not being written locally. Is that correct?

This could be an edge case with how one-way syncing is achieved. One-way syncing _to_ the remote (i.e. when changes to the local are copied to the remote and changes to the remote are not copied to the local) is done by ignoring write operations on the local side. This may caus

[2018-12-11 18:43] timfallmk commented on #247
Is this still an issue? If not I'll close it and you can reopen when it happens again.

[2018-12-13 06:55] rpunetha opened #250 "Use of Radar"
Can anyone explain why there's a need to restart remote containers and syncthing containers? I use syncthing in the exact same manner as ksync. However, I never have to restart syncthing container after configuring it with data for new pods. Then why does Radar exist in the ksync system?

[2018-12-13 15:30] scones commented on #248
hello timfallmk,

i will try to take notes when next trying to use ksync. i will get back to you in the next few days with updates.

[2018-12-14 09:53] sibeshkar commented on #230
Hi, working with stateful containers and running into the same problem with persistent volumes. Do you think it'd help if I modified the source code to kubelet volumes instead of the docker volumes? Had a look at the architecture, what else would you say I'd have to modify to get this to work with persistent volumes? Thanks.

[2018-12-17 19:36] johnmcollier opened #251 "Ksync support for NFS?"
Does Ksync currently support syncing to Persistent Volume mounts that use NFS?

I've been having troubles syncing to a folder on a pod that's mounted from an NFS server, and if I sync to any folder off of the volume mount, it syncs fine.

[2018-12-17 20:12] timfallmk commented on #251
@johnmcollier Unfortunately ksync doesn't work with k8s persistent volumes at the moment. The short story on that is that, with the current architecture, we can only interact with volumes managed directly by the docker daemon.

[2018-12-17 20:12] #251 closed

[2018-12-17 20:15] timfallmk commented on #250
@rpunetha I'm not quite sure I understand your question.

On the remote (k8s cluster) side, there are a pair of pods running in a DaemonSet (for each deployment). One contains the syncthing daemon, the other contains the radar daemon. The remote container, by default, is restarted upon completion of any file sync. The syncthing container is only restarted in certain conditions where state would ot

[2018-12-17 20:15] #250 closed

[2018-12-17 20:15] timfallmk commented on #248
Feel free to reopen if needed.

[2018-12-17 20:15] #248 closed

[2018-12-17 20:16] timfallmk commented on #247
Feel free to reopen if needed.

[2018-12-17 20:18] timfallmk commented on #230
@sibeshkar Could you elaborate on what issue you're seeing here. Ksync does not currently manage k8s persistent volumes.

[2018-12-22 21:31] kbernst30 commented on #247
I just encountered this again. The exact same error above. Happened 3 times today. There is definitely something amiss.

[2018-12-27 07:15] fkpwolf opened #252 "file not sync"
I tested with ksync/example/app following "Getting Started". But local folder didn't get sync and was empty. I try to add some files to local and can't sync them to example pod.

In console of syncthing container, `ls /var/lib/docker/overlay2/69336c3194f0230d0610c76b42a9b5fa49ab0dccf21b416c
57aa1ba9527d311d/merged/code/` can list files which has synced with my local folder. But the path in example

[2019-01-02 01:00] tetchel commented on #161
Hi, @timfallmk, curious why `aufs` is struck out in the above comment? Would love to see support for that :)

[2019-01-03 21:21] timfallmk commented on #252
@fkpwolf Could you paste your sync paths? If you paste `~/.ksync/config` that should contain everything.

[2019-01-04 01:32] fkpwolf commented on #252
There is only `.ksync/ksync.yaml`, no config file.
[code]
The localpath value is correct.

[2019-01-07 02:45] kbernst30 commented on #247
There is zero condition that I can tell. It happens constantly. I have to restart several times a day. I am using Docker for Mac Kubernetes integration if it helps at all

[2019-01-09 19:46] timfallmk commented on #252
Sorry, that is the correct config file.

Looks like it's time to review you're logs. Try running `watch` with debug logging, and make some file changes locally. See if you see any errors spit out.

[2019-01-09 19:51] timfallmk commented on #247
Interesting. I can't replicate it.

Oh, if you're using a laptop and it goes to sleep, that could cause issues with the cluster. That's a known problem with how Docker Kubernetes works. Similar symptoms here: https://github.com/vapor-ware/ksync/issues/143#issuecomment-373132906

[2019-01-09 22:21] scones commented on #247
it happens without a sleep as well.

The counter in the logs (whatever it counts) goes up to 1000 to 3000 and ksync stops working in that range at a random count.

As one has to restart it several times a day during a usual workday, its obvious the system sleep is not the cause.

[2019-01-10 00:54] timfallmk commented on #247
What counter are you referring to? Maybe a log dump (with some sort of timeline for actions) would be helpful here.

[2019-01-10 09:12] peterwi commented on #252
I got same issue, local /ksync folder is empty after doing
`ksync create --selector=app=app $(pwd)/ksync /code`

[2019-01-10 09:21] peterwi commented on #252
ok working now, I had to manually delete `.ksync/ksync.yaml` and started again

[2019-01-10 17:30] kbernst30 commented on #247
Perhaps he means the number in the INFO log brackets? I see something like this:

[code]

[2019-01-10 21:37] #252 closed

[2019-01-10 21:43] timfallmk commented on #247
@kbernst30 Ah, good point. Those are actually timestamps coming from the log formatter. We use github.com/sirupsen/logrus to do logging, and this is an default option.

[2019-01-11 02:08] fkpwolf commented on #252
After make some changes locally, `ksync watch` didn't tell any error. I check ksync daemon and get:
[code]

[2019-01-11 02:14] timfallmk commented on #252
@fkpwolf If it was unable to restart the container, that would explain why changes weren't showing up. If I had to guess from the error message it looks like you have some loose containers laying around that are conflicting with one another.

[2019-01-11 03:49] timfallmk commented on #252
I’m not as familiar with kubeadm deployments these days (or weave for that matter), but the network join error is what gives me pause. It’s definitely k8s related and not a problem with ksync.

[2019-01-11 03:50] timfallmk commented on #252
Is it possible the container ids shown in the message referrers to a weave container being down?

[2019-01-13 11:17] scones commented on #247
Yes, the number in the square brackets. i assumed those are counters.

[2019-01-14 21:51] kbernst30 commented on #247
Not sure what other info you need but perhaps this will be helpful:

Docker for Mac v2.0.0.0-mac81
Docker Engine v18.09.0
Kubernetes v1.10.3
Ksync Release 0.3.2-hotfix

[code]

[2019-01-14 21:55] timfallmk commented on #247
@kbernst30 Thanks. Mostly what I'm looking for is under what operating conditions this happens. Does it happen when you leave the cluster for a while, when you're changing a lot of files, when you're quickly rebooting containers, etc.

As I said before, I think we should concentrate on the cluster itself to start, as it seems to be a problem with pod restarts not `ksync`.

[2019-01-14 22:00] kbernst30 commented on #247
Well in my case I'm actually using an interpreted code base so i've disabled reloading of the containers. I also have set the remote folder to read only I believe (forgive me I have to find the settings i used to create the initial spec).

It seems to happen after a while of idle time. It does happen more often if the folder syncs occur more frequently.

[2019-01-14 22:05] timfallmk commented on #247
The idle time thing makes more sense to me. It's likely that docker for mac (which I believe just changed to "Docker for Desktop") does some resource management during downtime to enable running a cluster locally. Kubernetes is not designed to handle interruptions or restarts of the entire cluster well, so I suspect they may be trying to smooth the experience out.

Two thing I would try:
1. Delibe

[2019-01-14 22:23] timfallmk opened #253 "Switch to use Go Modules?"
Investigate if we should switch to using fancy schmancy new [Go Modules](https://github.com/golang/go/wiki/Modules)

 _heavy sigh_

[2019-01-15 14:09] kbernst30 commented on #247
I will see what I can find today from k8s logs if/when a connection loss occurs. There is also a new Docker for Desktop update so I will install that as well to see if it helps at all

[2019-01-15 15:40] kbernst30 commented on #247
Starting the watcher this morning at 10:04am. DId nothing else except keeping it idle. The watcher then lost connection at 10:35am.

There was nothing specific in any log that i can see unfortunately. The following appears constantly:

[code]

But not just when the connection to the cluster is lost. I will continue to dig into other logs for something strange

[2019-01-15 16:13] scones commented on #247
as described:

I am running minikube with local read only.
I did not shutdown/idle out/suspend/hibernate the computer while this happened. in fact i was writing code and verify the changes.

[2019-01-15 21:17] timfallmk commented on #247
@kbernst30 That's very strange. Nothing there is something `ksync` uses. Are you using a CNI or network plugin on top of Docker k8s or just a plain setup from scratch?

@scones Same question to you.

My suspicion is that _something_ else is going wrong with the cluster, eventually causing a shutdown (or restart) of the `daemonSet` that contains the `ksync` cluster-side pods. That's the only thing

[2019-01-15 22:02] grampelberg commented on #247
Sounds like the reconnect code needs a little bit of love. Is there anything happening on the network stack? Like, wifi blipping, plugging/unplugging wires?

When this happens, what is the state of the DaemonSet? Anything in the logs there?

[2019-01-16 08:56] jensenbox opened #255 "Allow for alternative to full container restart"
While a full container restart is very effective, some application development workflows would greatly benefit from a soft reload for the sake of startup time. For example, a large rails app could instead get some variety or a signal or perhaps an HTTP request indicating that it needs to hot reload.

The cleanest solution would be to send a signal to the container in the same way as mentioned http

[2019-01-16 11:32] scones commented on #247
plain setup with helm and some services (ES and MySQL) in addition to the core application `pontos`

as it just works again when i just re-do the watch:
can you just build a loop with exponential backoff into the watch command? that would mitigate the problem somewhat.

[2019-01-16 15:02] kbernst30 commented on #247
i also work with helm. Just in case that information is relevant.

[2019-01-16 18:14] timfallmk commented on #247
There is reconnection code already in `ksync`, but that only works if the network is stable. As @grampelberg said, this is probably due to a network status change.

It should be easy to test, once you have everything work, change wifi networks (or cables) and see if it happens.

[2019-01-16 18:19] timfallmk commented on #255
How would you propose this be defined? Since k8s doesn't (AFAIK) have a "soft reload" mechanism built in, it would be somewhat arbitrary.

[2019-01-17 11:35] scones commented on #247
- there was no log entry about reconnect trials
- i am speaking of a reconnect attempt on a higher scope (ie. around the watch command, not around the connection layer, i am again assuming about the structure here)
- also i suggested and incremental backoff to avoid spamming the server

these things could be optional with command line flags..

[2019-01-18 20:11] timfallmk commented on #247
I should probably clarify, as it's not quite as simple as a reconnection.

There are a few connection pieces here. Broadly they fall into three parts:
1. Local client (probably the CLI, but can be anything consuming the API). Communicates locally with the `watch` process (see next) via a local (gRPC) port. Usually ephemeral.
2. `watch` process. This listens on a local gRPC port for commands from a

[2019-01-19 00:08] timfallmk commented on #247
A quick bench test shows this is indeed the cause of the problem. I'm going to close out this issue.

[2019-01-19 00:08] #247 closed

[2019-01-22 19:40] timfallmk opened #256 "Update daemon package"
The upstream package for the deamon has been updated significantly. We'll need to update it.

[2019-01-22 23:43] timfallmk opened #258 "Update linting to remove `megacheck`"
https://github.com/alecthomas/gometalinter/issues/576

[2019-01-24 21:18] #256 closed

[2019-01-25 19:45] timfallmk commented on #255
I'll close this for now. Feel free to reopen if needed.

[2019-01-25 19:45] #255 closed

[2019-01-25 22:04] jensenbox commented on #255
Funny you should ping on this. We have been thinking about how we would do this internally. We have resumed work on our dev environment setup with k8s. We are considering a wrapper to rails that would expose a second port and just restart the child process - but what we don't have is on the client side an event to call out to a curl to hit that nor the config as to what the url of the container is

[2019-01-25 22:05] jensenbox commented on #255
Are you in SF by any chance?

[2019-01-25 22:50] timfallmk commented on #255
@jensenbox Have you considered making use of a sidecar container (like an `initContainer`) to manage the restart/reload? If you wanted to make it really fancy you could register a web hook associated with your deployment/pod/etc. to initiate it.

Yes I am in San Francisco 😄

[2019-01-30 00:34] jensenbox opened #260 "Unable to contact the cluster for context"
I have a single node cluster that was created with Rancher. So effectively I have Rancher, etcd, control plane and worker all on the same node. The "cluster" is running entirely from defaults. kubectl works just fine and is using the root config file from the server.

The mac I am running this on has had a very recent OS reinstall and is very vanilla as well.

[code]

[code]

The code indicates it

[2019-01-30 00:56] jensenbox commented on #260
I figured it out - the host name resolution in Go is somewhat broken. We have found the same problem with Vault which is why it has the ability to be compiled with CGO.

https://github.com/hashicorp/vault/blob/master/Makefile#L36

I was able to determine the problem by adding the host to my /etc/hosts file - at which point everything started working just fine.

This is occurring as we connect to o

[2019-01-31 16:19] jmlambert78 opened #261 "BRTFS not supported as a docker storage for ksync"
Similarly with the AUFS requirements, I got an issue on my BRTFS cluster to run ksync.
Here is the log:
Docker Storage Driver                       ✘
↳	The configured docker storage driver (btrfs) on node (node2) is not part of the supported list: [overlay overlay2]. Please open an issue to add support for your storage driver.

[2019-01-31 22:13] timfallmk commented on #260
@jensenbox Thanks for pointing this out. I don't know anything about the name resolution differences, but we actually been working to eliminate compiling with `cgo` in order to get cross platform builds. Do you have any more info on name resolution issues?

[2019-01-31 22:19] timfallmk commented on #261
@jmlambert78 Like #161 we don't support `btrfs` as an overlay. If I remember correctly, it's because we can't get the unioned fs locations for a given volume mount. It has been a while though so it's worth checking again to see if this can be supported.

[2019-01-31 23:19] nikogura commented on #260
The problem, to explain it inelegantly, is that VPN clients like Tunnelblick, Viscosity, and Apple's own internal VPN client leverage the dynamically loading C libs (as does curl, via libcurl).  If you don't compile with CGO=true, your go code has no way of hooking into this system, and thereby loses DNS resolution when on VPN.

@timfallmk I work with @jensenbox , but unlike him I'm in SF.  Let me

[2019-02-04 17:01] henres opened #263 "Problem with watch"
Problem with watch:

https://pastebin.com/k1JBzJ9a

[2019-02-11 16:43] glikson opened #265 "syncing files in a volume"
The current design of ksync seems to assume that the files that need to be synchronized are accessible at a particular location in the host filesystem.
It could be useful if it there a way to use ksync to synchronize files located in a volume mounted in the Pod.

[2019-02-11 20:28] BarryDrez commented on #23
Has this gone any further?  Is there any encryption with the data being synched from the server?

[2019-02-11 20:30] grampelberg commented on #23
There's TLS (via. kubectl port-forward). There's not mTLS for identity to radar specifically. So, everything's encrypted in flight but there's no authn on the radar side of things.

[2019-02-11 20:33] BarryDrez commented on #23
@grampelberg Thank you.  Is this in any of the documentation?

[2019-02-11 20:35] grampelberg commented on #23
Great question, not that I remember ...

[2019-02-11 20:40] BarryDrez commented on #23
I have been through all of the documents within this repo.  Could there be more somewhere else?  TY

[2019-02-11 20:44] timfallmk commented on #23
All of the documents should™ be here. There are a few write-ups floating around in blogs, but that's it.

[2019-02-11 20:45] BarryDrez commented on #23
OK, thx.

[2019-02-11 20:48] timfallmk commented on #23
*Sigh*

[2019-02-12 00:03] timfallmk opened #266 "Default should follow currently configured context"
Related to #206 and #167

[2019-02-12 12:56] BarryDrez opened #267 "ksync init fails on Windows"
When I run ksync init from Windows, I get the following:
[code]

I just downloaded and built with the latest source.  It works fine from Linux using the same cluster.
'kubectl --namespace=kube-system --context= get pods -lapp=ksync' returns:

[code]

 'ksync doctor' returns:
[code]
I have used the same cluster for the Linux client (where it works) and the Windows client.

kubectl version:
[code]

[2019-02-12 14:31] BarryDrez commented on #267
Some more info:

`ksync-j2xzq                               2/2     Running        0          35m

ksync-krdl9                               0/2     ErrImagePull   0          62s

ksync-w669c                               2/2     Running        0          35m`

Looks like a problem pulling an image?

[2019-02-12 17:56] timfallmk commented on #267
@BarryDrez Quick side note, typically you'll want to format your code blocks for easy reading, which can be done by enclosing them in triple backticks (``` and ```). Just a note to help with clarity.

It does look like an error pulling the image, but you'll need the actual error to determine why.
`kubectl describe pod ksync-krdl9` will probably get you what you want.

[2019-02-12 18:00] timfallmk commented on #265
@glikson It depends on what you mean. `ksync` only handles volumes that are mounted using the docker graph drive directly (i.e. that docker "knows" about). Volumes specified within the k8s `podSpec` or in other places are handled directly by k8s and not available for syncing. Hope that clears things up.

[2019-02-12 18:04] timfallmk commented on #263
Hi @henres . Typically it's best to describe the issue you're having verbally, and to keep any code or logs minimal and within the scope of GitHub. This is just considered good form, and aids with debugging.

I've quickly looked over your log dump, and I don't see anything out of the ordinary. If you're concern is the warning messages about failure to contact the local service, that's normal when

[2019-02-12 19:11] timfallmk commented on #260
Ok, I've read the above and I *think* I've got a handle on the problem. I think the "problem" is that go uses it's own internal name resolution mechanism (in the `net` package). When a network change is made, it doesn't trigger the update of any dns mappings within this package (I'm not sure what events *do* trigger updates, if any).

Upon further examination it seems that the native go dns resolv

[2019-02-12 19:25] timfallmk commented on #260
For details, here's the difference between `/etc/resolv.conf` and `configd` on my system:

<details><summary>/etc/resolv.conf</summary>

[code]

</details>

<details><summary>configd</summary>

[code]

</details>

Notably, toggling my VPN (encrypt.me) changes the nameservers listed in _both_ places. I'm guessing this is VPN dependent.

[2019-02-12 20:22] BarryDrez commented on #267
Thank you @timfallmk  I am redeploying, and I will get you that information asap.

[2019-02-13 15:04] hareku commented on #265
@glikson
That means we can't use ksync with any volume?
I want to use an amazon EBS(ReadWriteOnce) volume.

[2019-02-13 15:42] henres commented on #263
I'm sorry for this non human issue. I install last version of ksync and this problem doesn't occur anymore. I have now other problem but this is not the issue.

Thanks and sorry for the inconvenience.

[2019-02-13 17:39] grampelberg commented on #265
@hareku not today, k8s sticks the volumes in a different location than the overlay FS. It is totally possible to implement, just not something that is done yet.

I'd *love* it if someone put a PR together as it isn't particularly difficult, simply requires some extra logic in radar to fetch the correct host path.

[2019-02-13 17:58] timfallmk commented on #263
Good to hear!

[2019-02-13 17:58] #263 closed

[2019-02-13 21:37] glikson commented on #265
@grampelberg no promises, but I can try finding some cycles for this. I have a prototype of a somewhat similar functionality using `unison` running in a side-car container within the Pod (which mounts the same volume as the primary container), but it looks like using ksync might have advantages.

[2019-02-13 22:03] grampelberg commented on #265
The original POC of ksync actually used sidecars to do its magic and got around the volume issue completely. Unfortunately, it became difficult to use for arbitrary containers - especially ones that I didn't own and thus the current architecture.

The biggest architectural change I'd like to make is to move away from the DaemonSet that needs to be in place before anything works to a Job that is pl

[2019-02-14 13:40] BarryDrez commented on #267
I am having problems building ksync on Windows, so I am unable to reproduce this issue.  May create a new one later if/when I can build again and the problem persists.  Switching to Linux and closing this issue.

[2019-02-14 13:40] #267 closed

[2019-02-14 14:08] BarryDrez opened #268 "Pod terminates whenever I create a spec and try synching a local folder with a folder within the container."
Running ksync from a Linux client.  I have a stable deployment of a pod within a remote k8s.  I perform ```ksync``` init which works.  Then I run ```ksync watch &```.  I then create a spec to synch:
[code]
The pod then terminates.  There is nothing helpful in the logs for my pod.

Describing my pod:
[code]
Describing ksync-gnsnb pod:
[code]
Describing ksync-jdd5f pod:
[code]
Describing ksync-ldq7p

[2019-02-14 15:25] BarryDrez commented on #268
I deleted my deployment and started over clean.  I deployed the demo app.  Started watching and created the spec for synching.  Perform ksync get and see that it is in a waiting state.

[2019-02-14 18:55] BarryDrez opened #269 "Question about Ksync"
I am reading this blog https://kubernetes.io/blog/2018/05/01/developing-on-kubernetes/
which talks about ksync.  Under Implications, it states that "Container is restarted each time remote filesystem is updated".  I'm probably asking the obvious here, but does this mean that whenever a file is added, changed or deleted from the directory that I am watching within the pod's container, the pod will

[2019-02-14 19:23] timfallmk commented on #267
@BarryDrez Are you trying to compile it? You should be able to download and run the binary straight from the release page.

As a side note, we don't have many people testing the windows release, so I'd be happy to hear about any problems you're running into.

[2019-02-14 20:10] timfallmk commented on #269
@BarryDrez Yes that's correct, although you can disable that behavior with the `--restart=false` flag. `<local|remote-read-only>` may also be of use to you

[2019-02-14 20:30] #269 closed

[2019-02-14 20:33] timfallmk commented on #268
@BarryDrez I can't see any out of the ordinary on first glance. I don't know what you're running in the target pod, but it looks like the `busybox` container terminated with status `Completed`, which probably means the main processes exited with status 0. Do you have a running process keeping this container alive?

[2019-02-14 20:43] BarryDrez commented on #269
Thank you @timfallmk.  I used --restart=true, and it is no longer restarting.  I want my remote and local directories to be writable, so I should not have to use local-read-only and/or remote-read-only, right?

[2019-02-14 20:45] timfallmk commented on #269
@BarryDrez I assume you mean `--restart=false`. The default behavior is `rw`, so you only need to specify those flags if that's **not** what you want

[2019-02-14 20:46] BarryDrez commented on #269
Oops.  Yes - --restart=false.

[2019-02-14 21:08] BarryDrez commented on #268
@timfallmk I think my problem was related to the question I had asked in #269.  There is a server that runs within the container that is writing logs to the file system.  So I think the shutdown was caused by that.  Setting ```--reload=false``` seems to have solved the problem.  One other issue I am seeing (and I can create a new issue if necessary) is that after I have started watching and synchi

[2019-02-14 21:13] timfallmk commented on #268
That probably isn't related to `ksync`. At least I couldn't see any reason why it would be.

[2019-02-14 21:13] #268 closed

[2019-02-15 16:27] glikson opened #271 "Trigger synchronization manually"
It could be useful if it was possible to trigger ksync synchronization manually, instead of running 'watch' in the background.

[2019-02-15 19:32] grampelberg commented on #271
@glikson like using ksync as a replacement for rsync?

[2019-02-15 20:20] glikson commented on #271
Yes, in a sense.

On Fri, Feb 15, 2019, 2:32 PM Thomas Rampelberg <notifications@github.com
wrote:

[2019-02-19 16:45] KASOGIT opened #272 "Using ksync with micro8ks"
Hello,

i would like to know if there is a way to use ksync with microk8s with a local setup ?

Following ksync' tutorial doesn't seems to work..

Thx !

[2019-02-19 17:07] grampelberg commented on #272
What's not working? Anything in the logs? What's the output of `doctor`? What's the output of `microk8s.inspect`?

[2019-02-20 08:13] KASOGIT commented on #272
Hi ! `microk8s.inspect`:
[code]
`ksync doctor`:
[code]
`ksync watch`:
[code]
`kubectl cluster-info`:
[code]

[2019-02-20 16:25] bhack commented on #265
So what are exactly the volumes types specified in the yaml that could be synced?

[2019-02-20 16:37] grampelberg commented on #265
If you take a look at `docker inspect`, there's a `Mounts` field and a `GraphDriver` field. Currently, ksync exclusively uses the `GraphDriver` path as the location of files on disk to sync to. Kubernetes puts its volumes into `Mounts`. ksync (radar specifically) just needs to be updated to be aware of the mapping between `Source` and `Destination` there and setup syncthing shares correctly.

[2019-02-21 12:59] BarryDrez opened #273 "Question: What is the proper way to shutdown ksync"
I am starting ksync from Java using ProcessBuilder.  Running ksync watch on Windows which starts ksync_windows_amd64.exe and 2 syncthing.exe(s).  When I shut it down programmatically, the ksync_windows_amd64.exe goes away, byt the 2  syncthing.exe(s) remain.  What is the proper command to stop watching?

[2019-02-21 15:29] damoon opened #274 "support using cri-o"
the cluster i use runs on https://cri-o.io/ / https://github.com/kubernetes-sigs/cri-o.
crio is a replacement for docker.
the nodes do not have /var/lib/docker or a docker socket.

how strong is ksync coupled to docker? could it run using kubernetes api features only?

[2019-02-26 18:29] timfallmk commented on #273
You probably want `ksync clean --local`

[2019-02-26 18:29] #273 closed

[2019-02-26 18:32] timfallmk commented on #274
@damoon Right now `ksync` only works with docker managed volumes, but as has been said elsewhere, a rearchitecture to use Kubernetes managed volumes is possible.

[2019-02-26 19:51] BarryDrez commented on #273
This does not work on Windows.

[2019-02-26 19:52] BarryDrez commented on #273
Why was this closed?

[2019-02-26 20:11] timfallmk commented on #273
@BarryDrez A little more background here. Running `ksync watch` on Windows requires running the primary process in the foreground, as daemonization is not supported on that platform. When the primary process exists, it collapses the process group, including killing all child processes. You can see this for yourself by running it in a terminal.

I suspect that whatever you're using to launch the pa

[2019-02-26 20:18] BarryDrez commented on #273
@timfallmk in its simplest form, this is the Java code I used to start ksync:
[code]
I understand your explanation, and I will look into an alternative solution.

[2019-02-26 20:24] timfallmk commented on #273
I'm less familiar with Windows (or Process Builder for that matter), but it's likely attaching its own process management to that process, which is interfering.

You might find some inspiration from the way we deal with deamonization on other platforms. Also, it's easy to find (and cleanup) the child processes, by looking for which processes are using the ports given in the config (the *nix equiva

[2019-02-26 20:26] BarryDrez commented on #273
Thank you.  I will do some digging.

[2019-03-05 00:32] bhack commented on #265
Mhh... so it is quite useless in many use cases.

[2019-03-05 00:33] bhack commented on #274
Partially overlap with https://github.com/vapor-ware/ksync/issues/265

[2019-03-05 18:18] timfallmk commented on #272
@KASOGIT Can you (safely) post your kubeconfig?

[2019-03-06 00:09] grampelberg commented on #274
@damoon I don't expect a ton of work, but ksync does rely pretty heavily on overlayfs and having a tool to figure out where that directory is. If there was a better way to get that (k8s config, install option) it would be an awesome improvement.

[2019-03-11 15:14] machine424 opened #275 "Choose where to run init DaemonSets."
I cannot deploy daemonsets in namespace `kube-system`, while running `ksync init`we can specify the namespace using `--namespace` but I think it doesn't concern daemonsets.
Is there a way to do so or is it hardcoded ?

I think it's hardcoded in some places, for example for the service representing the daemonset (pkg/ksync/cluster/service.go):
[code]
and the daemonset inherits the same namespace as

[2019-03-11 19:07] timfallmk commented on #275
@machine424 `--namespace` is actually a global flag for operating on specs, it's a little confusing that it appears there too. The daemonsets are hardcoded just for convenience since most users won't have to deal with them at all. If you want to change them now, you can deploy them and then patch. It's not ideal, I know, but there's actually an open issue for changing the way all of that works any

[2019-03-11 19:15] timfallmk commented on #272
Closing for lack of updates. Please reopen if necessary.

[2019-03-11 19:15] #272 closed

[2019-03-11 19:16] timfallmk commented on #271
Closing for lack of updates. Please reopen if necessary.

[2019-03-11 19:16] #271 closed

[2019-03-11 19:16] timfallmk commented on #265
Closing for lack of updates. Please reopen if necessary.

[2019-03-11 19:16] #265 closed

[2019-03-12 16:42] pietervogelaar commented on #177
I tried with ksync version 0.3.5, but I'm getting a similar problem.

With single quotes around local path:
[code]

Without single quotes around local path:
[code]

Is there some kind of regression?

[2019-03-13 13:52] machine424 commented on #275
@timfallmk, thank you for your response. Yes, but it is said that `--namespace`will override the default namespace which is `default` and since we know that DaemonSets are deployed in `kube-system` we are sure they're concerned. I can't deploy anything in `kube-system`, the only solution left, I think, is to change it in the code and recompile it. I'm not familiar with go, I'll try to make a propo

[2019-03-14 17:12] timfallmk commented on #177
@pietervogelaar Did you paste those backwards?

[2019-03-14 17:16] timfallmk commented on #275
It wouldn't be difficult to make it changeable upon `init`. It would also be easy for you to recompile with the value you want [here](https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/cluster/service.go#L50-L51). I'll poke around a bit today and see if I can add that functionality.

[2019-03-14 20:12] timfallmk commented on #274
Closing this for tracking elsewhere.

[2019-03-14 20:12] #274 closed

[2019-03-14 20:36] #275 closed

[2019-03-19 17:09] kameshsampath commented on #180
@grampelberg  - any update on this issue. I am facing the restart loop

[2019-03-19 18:46] kameshsampath commented on #180
for now i overcame the issue with `reload=false`

[2019-03-23 11:07] bhack commented on #274
Elsewhere where?

[2019-03-28 12:04] bhack commented on #265
For who is interested there is an alternative that support volumes at https://github.com/ernoaapa/kubectl-warp

[2019-03-28 15:36] grampelberg commented on #265
That's an awesome project, unfortunately it requires that you have specific files in your containers. Anything based off `scratch` for example won't work.

fwiw, you could just use `oc rsync` for the same behavior (no need to run an openshift cluster).

[2019-03-29 13:10] sgandon opened #278 "readme precisions"
hello,
in the start guide explained in the readme and katacode is says
[code]
What does this means exactly cause I don't see neither the pod nor the container restart but this is just the python runtime watching for changes and hot reloading the change.
The way it is written make think that ksync automatically restarts the kuberenetes container.
Or did I miss something?

[2019-03-30 11:03] raulpuente opened #279 "Not working with two containers in same pod"
Not working with two containers in same pod.

I'm using docker for mac with kubernetes and i'm trying to work with ksync in local, because of performance of docker-for-mac with hostpath.

As explained in https://kubernetes.io/docs/tasks/access-application-cluster/communicate-containers-same-pod-shared-volume/ to communicate between to containers in same pod we have to use a volume with emtpyDir.

[2019-04-01 22:20] timfallmk commented on #278
@sgandon by default, the target remote container is reloaded upon change. You can change this behavior if you like with the `--reload=<true/false>`.

[2019-04-01 22:20] #278 closed

[2019-04-01 22:24] timfallmk commented on #279
@raulpuente `ksync` doesn't interact with volumes managed by Kubernetes directly (as in this case). It only values managed by Docker.

[2019-04-01 22:24] #279 closed

[2019-04-02 09:26] sgandon commented on #278
in the katacoda and even on my machine the container is never restarted.
checking on `kubectl describe mypod` the `Restart Count:  0` is alway to 0.
So this means the container is not restarted.

[2019-04-02 09:39] raulpuente commented on #279
Thank you for the information tim.

[2019-04-03 10:58] wehappyfew opened #280 "No files in /ksync folder"
I initialise ksync like this on openshift from a docker container on Win10:

`oc login https://openshift-cluster.example.com: --token=super-token`
`oc project test`
`kubectl config set-context $(kubectl config current-context) --namespace=test`
`ksync init --upgrade`
`ksync watch &`
`kubectl apply -f https://vapor-ware.github.io/ksync/example/app/app.yaml`
`mkdir -p $(pwd)/ksync`
`ksync create -n

[2019-04-08 19:55] timfallmk commented on #280
It may be that `$(pwd)` isn't being interpreted correctly. Could you try a fixed path and see what that does?

[2019-04-09 22:04] wuestkamp opened #281 "5-10 seconds for simple file change"
Hi there!

from saving a template file till the first "change" is detected by ksync it takes like 5-10 seconds. Just then I see this in `ksync watch`:

[code]

and same time this in `kubectl logs ksync-mssnq -c syncthing -n kube-system`:

[code]
I save the file using Webstorm. Maybe 1-2 seconds less if I safe with vim.

[code]

OSX Mojave

Is this time delay normal?

Thanks,
Kim

[2019-04-10 14:03] timfallmk commented on #281
Hmm. It's definitely not, I typically see detection of local changes within a second. Remote will largely depend on the connection to the cluster.

[2019-04-11 18:58] wuestkamp commented on #281
Ok, in my case the delay was caused because the initial sync was not completed yet and takes like 2 minutes. After its completed I'm down to like a second!

You can check with `kubectl logs ksync-mssnq -c syncthing -n kube-system -f --tail 20` the log output or just with `ksync get` to see if your configured sync has the status "watching".

[2019-04-11 18:58] #281 closed

[2019-04-12 08:42] alok87 opened #282 "Not able to sync - radar not installed error"
**What did I do?**

I installed the sample app mentioned in the README I  installed it in `local` namespace

`ksync create -n local --selector=app=app ~/www/ksync /code`

[code]

[code]

[code]

Also i had changed the service type to be NodePort

Please suggest why could this happen

[2019-04-12 09:30] alok87 commented on #282
Closing this issue as i was able to make it work some config issue i think, there is a new issue happening of continuous reload and restart of my container will open a separate issue.

[2019-04-12 09:30] #282 closed

[2019-04-12 11:37] alok87 opened #283 "Ksync files watch needs to be restarted"
Ksync watch needs to be restarted for it to pick a new `spec`
if i have started a ksync watch and then i create a spec it sometimes does not pick up changes and pick up and starts sync only after i restart `ksync watch`

✋ i can work on fixing this(if there is an issue) if given some help

[2019-04-12 11:43] alok87 commented on #283
Not able to reproduce will reopen when see it again

[2019-04-12 11:44] alok87 commented on #127
Can i work on this? ✋  @grampelberg

[2019-04-12 15:14] grampelberg commented on #127
@alok87 yeah! That'd be awesome. It should be some automation around writing `.stignore` files.

[2019-04-12 16:05] timfallmk commented on #127
@alok87 Happy to have it!

[2019-04-13 11:49] alok87 commented on #127
adding `.stignore` file makes syncthing process running locally to ignore the patterns mentioned in it. What is that is required in this issue. Please suggest.

[2019-04-13 12:17] alok87 commented on #180
It works when `reload=false`

A really nice experience would be when reload works flawlessly and very smoothly for the user.
Auto reload is a very nice feature to have.

I was testing the reload functionality with a node application:

I have a node application in which:
- i made a single line code change
[code]
- I copied my change and built the code to generate the required files which will get s

[2019-04-13 16:02] grampelberg commented on #180
Here's the code that does it:

https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/folder.go#L190

There's a time limit on there and it only reloads for local -> remote files, not remote -> local. It'd be easy to make the limit configurable, add a filter for what files constitute a reload or make sync uni-directional.

You can also up the log level for debug, which is pretty verbose, and wat

[2019-04-14 07:48] alok87 commented on #283
Yes i changed the selector in ksync yaml and it did not pick up my pod. I had to restart for changes to be picked up by the watch

[2019-04-15 06:33] alok87 opened #285 "Ksync watch crashes quite often after few minutes run"
I was running `ksync watch` in foreground and it keeps crashing and have to manually restart it.

Crash is always due to some connection error that happens.
[code]

- Please suggest what could be the reason?
- Can we add some auto restart in case of connection failures instead of aborts that happen. We can abort it when there have been n restarts due to connection issues in certain time or we shou

[2019-04-15 07:30] alok87 opened #286 "Live debugging using ksync"
Development workflows which require putting live debuggers in IDE. How can this work in ksync?

Solution like telepresence has options to live debug as the process runs locally.

[2019-04-15 13:44] timfallmk commented on #283
@alok87 It's not really designed for editing of the status files under the hood, generally you would need to delete and re-add the spec via the cli.

[2019-04-15 13:45] timfallmk commented on #285
Looks like you have a shaky connection to your cluster. The connection code has to maintain sockets and does do re-tries before failing. As you saw, cycling the process recreates the connection, so placing it under process management should give you more resiliency in this case.

[2019-04-15 19:54] alok87 commented on #285
I see the time to crash after a exact interval. Is it because of some configuration issue in Kubernetes. Something automatically times out and closes connection? Like `kubectl exec` has a timeout which kicks you out of shell.

I am in AWS, provisioned the cluster using kops.

[2019-04-15 20:15] alok87 commented on #283
Is it a good thing to have? any issues you see if we it auto reloads spec list based on yaml change?

[2019-04-15 20:33] grampelberg commented on #283
I believe it is listening for file changes though, https://github.com/vapor-ware/ksync/blob/master/cmd/ksync/watch.go#L72

[2019-04-16 07:12] alok87 commented on #283
It is not working sometimes. I would try to reproduce this and come back.

[2019-04-16 11:39] alok87 opened #287 "Kubernetes API Access Required by Ksync"
Use Case: There is a single kubernetes cluster shared by many developers. Every developer has a namespace in the cluster.

~What all accesses is required to have for kubectl in localhost to use ksync for a single namespace?~

What is the access required by `ksync watch` to talk to Kubernetes API?
Which all objects does ksync watch will query for kubernetes API?

Please suggest.

[2019-04-16 15:12] timfallmk commented on #287
Strictly speaking you don't *need* `kubectl` to use `ksync`. You do need a context that is capable of reaching the cluster. We don't do any RBAC within `ksync` itself, that's all delegated to the connection and uses the normal context-based method. And segmentation you do within your cluster should be respected in `ksync`

[2019-04-17 21:00] alok87 commented on #287
I meant access ksync will make calls to kubernetes api server. What all accesses ksync needs to talk to k8s api server. We have a single k8s cluster. We do not want to open up admin k8s api access for every user of the cluster. We want to give the exact acceses it needs.

[2019-04-18 08:01] alok87 commented on #287
Based on https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/spec.go#L109
The machine in which ksync runs should have access for below role to access k8s api
[code]
Correct?
Or there is anything more.

My aim is to find the exact access i need to open up for k8s api in the developer machine to access Kubernetes API. So that ksync starts working with only the permissions it needs and not more

[2019-04-18 17:40] grampelberg commented on #287
You'll want port-forward as well, but I think that is all that it needs to run `watch`. Obviously, `init` will be quite a bit more.

[2019-04-24 16:40] #287 closed

[2019-04-24 16:41] timfallmk commented on #283
I'll close this for now. Reopen if you see it again.

[2019-04-24 16:41] #283 closed

[2019-04-25 22:55] timfallmk commented on #285
Hmm, good question. It would be hard to say what it is exactly without looking at your setup.

[2019-04-30 04:36] sdaschner opened #289 "Cannot connect to the Docker daemon"
Both `ksync init` and `ksync doctor` fail with the following error: `rpc error: code = Unknown desc = Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

However, `docker ps` works, I can connect Docker containers to the Docker host by mounting `/var/run/docker.sock`, and the current user is in the `docker` group.

More information:

[code]

I've ins

[2019-04-30 21:45] timfallmk commented on #289
While you can change the docker socket location, the default should work. Try `sudo ksync doctor` and see if that gives you a different result.

[2019-05-01 04:52] sdaschner commented on #289
No, unfortunately that also doesn't work. Sorry, forgot to mention, that I've tried that already as well.

[2019-05-01 11:12] paullaffitte opened #290 "Ksync does not sync nothing"
Hello, I have an issue with Ksync where it says that it has updated my pod, but in fact it didn't...

[code]

After that my pod is not updated neither restarted.

Sometimes it works and sometimes I have to relaunch `ksync watch` 10 times before it works for real.

EDIT: After some tests, I found that ksync lose control when I introduce an error in my code, then the pods begin a restart loop, becau

[2019-05-02 08:38] paullaffitte commented on #231
Someone should update the readme, the missing part is still missing

[2019-05-06 17:35] sdaschner commented on #289
Do you have any other ideas? This renders the tool unusable for me unfortunately :(

[2019-05-06 17:40] timfallmk commented on #289
Ping @grampelberg

[2019-05-06 17:42] timfallmk commented on #290
Could you tell me more about what you did to "fix" it? It sounds like the files on the local side are overwriting the remote, which is the expected behavior if they're newer.

[2019-05-08 16:05] alexanderrtaylor opened #291 "Ksync image name is broken and unable to be recovered"
Issue:
After using ksync(and potentially not stopping the running ksync instances) the command line version of ksync was updated. Now with the newer version the image name is just `vaporio/ksync:git- ` so it looks like [this line](https://github.com/vapor-ware/ksync/blob/fe9ac9d1cab88624fb34e30675242fe83a7121d3/Makefile#L3) is not coming back with data even though when a ksync version is run it lo

[2019-05-09 22:11] timfallmk commented on #291
I suspect this is due to the loss of a CI environment we had recently. I'll look into fixing the issue, but it _should_ be able to use the last viable tag.
Can you try the following:
[code]
There should be no `daemonSet` for `ksync` there, or it should be deleting.
Then:
[code]
Give it time to start up.
See if that gives you a different result.

[2019-05-09 22:11] timfallmk commented on #291
Ping @grampelberg

[2019-05-10 06:46] fkaleo commented on #289
I had a similar issue when using the git master version of kind (kubernetes in docker) which removed docker entirely from the pods. Reverting to the last release fixed it.

[2019-05-10 08:02] sdaschner commented on #289
My k8s cluster is running containerd as runtime (IBM K8s service, on `1.12.7_1548`), is that the issue?

Does the `Docker Version` check the cluster or the local Docker host?

[2019-05-15 16:36] alexanderrtaylor commented on #291
@timfallmk it appears that the cause was different versions of Helm installed which meant that dependencies(including ksync) from another command line tool were overriding the ksync commands(I think). It is very strange that the `ksync clean --nuke` did not work though....

I think you can close this

[2019-05-17 00:58] timfallmk commented on #291
Oh weird. I assume the "other tool" was `jx`.

The only remote things that `clean` does is remove the configured `daemonSet`. It looks for that based on the configuration in the config file.

[2019-05-17 00:58] #291 closed

[2019-05-17 01:00] timfallmk commented on #289
Docker version checks both IIRC. There may be a special configuration that IBM is using though that isn't checked. Maybe the user it's running as doesn't have access to the daemon.

[2019-05-17 01:33] sdaschner commented on #289
Access to which daemon? The one on the local Docker host? I have access to this.

Do you have some further information or ideas how to debug this?

[2019-05-17 21:26] timfallmk commented on #289
is the user you're running `ksync` under able to access docker?

It's literally running the equivalent of `docker version` against the API there, so any difference in results between those two commands would be down to configuration differences. Perhaps there is some difference between how your docker client is configured and the default options.

[2019-05-17 21:29] sdaschner commented on #289
Yes, it is. Good questions... I've seen cases before where at an outdated version of a Docker API (that was using docker-java) resulted in a error since it didn't understand a newer Docker config format. I'll look into that with a new Docker installation...

[2019-05-23 13:50] alok87 opened #292 "Ksync binary download is too slow"
downloading file from `curl https://vapor-ware.github.io/gimme-that/gimme.sh | bash`
is very slow a lot of times. Takes about 5-10 minutes
please take a look at this.

every other file download is super fast(of same size - but this is very slow)

but could be the internet problem also (i may be too far from the server)

[2019-05-24 10:47] alok87 opened #293 "Ksync local cannot connect to k8s api server"
Ksync is not able to connect to kubernetes api server

[code]

But the below works
$ `kubectl --context=k8sl.practodev.com cluster-info`
I am also able to do all actions using kubectl from the local.
`$ kubectl get nodes $ kubectl delete pod ....`

[2019-05-24 11:50] alok87 commented on #293
To find the exact error added the print here - https://github.com/vapor-ware/ksync/blob/762a8185daed28c13ada85a359b21cc662c608e8/pkg/ksync/doctor/kubernetes.go#L78 to find the exact error

[code]

1) Should not we make the changes so that cluster connection without having to have the access of GET at path "/". As kubernetes is supposed to be divided and distributed namespace by default as a conven

[2019-05-24 14:15] alok87 opened #294 "Making ksync work in a RBAC enabled internal cluster with public k8s elb"
There could be two kinds of users for ksync.

1. Users having their own kubernetes cluster with the cluster machine being publically accesible
2. Users having namespaced/or limited access to a kubernetes cluster. Basically a users sharing a single kubernetes cluster using RBAC. Also these users have a cluster which is internal and only the kuberentes api loadbalancer is public.

ksync works perfec

[2019-05-26 05:55] alok87 commented on #294
Trying to make `ksync watch`. Stuck here.

[code]

What role is required for this, as API Group is showing ""

[2019-05-28 09:45] Doqnach opened #295 "ksync frontend pod showing white screen"
Following the steps at: https://github.com/vapor-ware/ksync#further-exploration

Visiting the frontend I simply see a white screen, titlebar showing "React App" and a service-worker.js doing nothing but calling `/pod-list` getting an empty HTTP 200 in return.

[code]

[2019-05-28 18:36] timfallmk commented on #293
Ping @grampelberg on this too

[2019-05-28 18:37] timfallmk commented on #295
I'm not sure the example app has been updated in while. @grampelberg is this just in need of an update?

[2019-05-28 18:39] timfallmk commented on #292
If you look at that script it simply pulls from github, so nothing here we can do if it's slow.

Alternatively you can try `go get -u -v github.com/vapor-ware/ksync/cmd/ksync` which clones and builds locally, but it should be the same.

[2019-05-28 18:39] #292 closed

[2019-05-28 18:44] Doqnach commented on #295
I can just port-forward the syncthing port (8384) and then I do see that UI... doesn't always seems to be in sync with what `ksync get` is showing me though.

[2019-05-29 13:10] alok87 opened #296 "Ksync copy should copy with default container user"
Docker container has the default user `docker` but it is changing to `root` on copying the files from local to the remote container.

We are facing an issue in which the file from local gets copied as the `root` user and the application needs the file to be docker user.

[2019-05-29 19:00] robert-burden opened #297 "--pod and -p don't select a single pod"
I have a replica set with several with two pods. No matter what I try I cannot make ksync only select a specific pod.

Following the readme I tried:
`ksync create --name test --pod api-server-7d48bfc846-2zdg8 /local/scripts/ /pod/scripts`
- This seems to completely ignore the --pod parameter and try to connect to all pods in the namespace.

`ksync create --name test --pod api-server-7d48bfc846-2zd

[2019-05-30 09:16] alok87 commented on #297
Best is to do this.

1) First edit the pod and see what labels it has
`kubectl edit pod api-server-7d48bfc846-2zdg8`

2) Try to list the pods using kubectl  first
`kubectl get pods -n <namespace> -l type=api -l app=api-server`

If this list your pod. Then create the ksync configuration using same label selectors(`-l`).
3) `ksync create --name test  -l type=api -l app=api-server /local/scripts/ /po

[2019-05-30 15:41] robert-burden commented on #297
@alok87 I doubt there is a combination of label selectors that will result in selecting a single specific pod from a replica set. There are many cases where someone would want to sync specifically with a pod for the lifecycle of that pod.

I am sure I can work around this for my use case. The purpose of this issue is to note that the flag doesn't work as advertised and should probably be removed f

[2019-05-30 19:11] timfallmk commented on #297
I don't think I've seen someone use that flag before, so I'll take a look shortly to see what it's doing.

[2019-05-30 19:12] timfallmk commented on #296
I'm not quite following. The file is owned by `root` on the local side, but it needs to be owned by a different user on the remote side?

[2019-05-30 19:14] timfallmk commented on #290
I'm going to close this for now. Feel free to open again if it pops up.

[2019-05-30 19:14] #290 closed

[2019-05-30 19:17] timfallmk commented on #294
Off the top of my head, it would take some doing to get this working. The main problem you would have is that currently `ksync` needs administrative access to the docker daemon (in order to interact with the filesystems and event streams), which essentially gives a user unrestricted access to all containers run on that node.

[2019-05-30 19:57] jamespedid opened #298 "Cannot get past the waiting state"
Hello, I cannot get past the waiting state for a pod. Kubernetes is deployed via docker-for-desktop.

I have a kubernetes deployment with the following label for the containers. Containers are deployed to the default namespace.
[code]

I followed the guide and I ran the ksync init and watch. According to the doctor everything is good.

Now when I use the following a spec is created
[code]

However

[2019-05-31 13:41] alok87 commented on #294
@timfallmk I can help in contributing. If you could break it down into multiple tasks.

[2019-05-31 14:09] alok87 commented on #296
So the docker image has a a different user (`docker`) as the default user. When the file is copied from local to remote instead of having the user as `docker` it is changing the file to have `root`.
Nothing to do with local.

[2019-05-31 14:27] alok87 commented on #298
`ksync` create will only create the configuration requried to sync in `~/.ksync.yaml`

1) Try to list the pods using kubectl, it it shows up try 2 otherwise debug why it is not showing.
[code]
2) Run `ksync` watch to start the sync

[2019-05-31 18:59] alok87 commented on #206
Can i work on this ? ✋

[2019-05-31 19:15] alok87 commented on #253
Kubernetes have moved to using Go Modules. The experience is really nice, with it. Should i do it?

[2019-05-31 20:12] alok87 commented on #285
Happening in many in our company. Any way i can print some error in code and find out the reason for loss? Anyway to debug?

[2019-05-31 20:47] timfallmk commented on #206
Sure!

[2019-05-31 20:47] timfallmk commented on #253
Should be pretty trivial to do this. Go for it.

[2019-06-01 00:10] jamespedid commented on #298
Already did all of those things multiple times. The only thing I can think of is that it installed incorrectly somehow.

[2019-06-03 17:24] timfallmk commented on #298
Usually that means it didn't get the "sync complete" response message it expected from the remote end. It may be helpful to nuke it and run again with debug logging on to see if something stands out.

[2019-06-06 20:50] timfallmk commented on #285
That makes sense, you may want to look at some of the other issues/docs that address this. TL;DR is that you might want to use a process supervisor.

Related to the final point here https://github.com/vapor-ware/ksync#troubleshooting

[2019-06-06 20:50] #285 closed

[2019-06-07 00:19] bitglue commented on #260
Building without cgo breaks name resolution on Linux as well. For example if you have [configured /etc/nsswitch.conf to use systemd-resolved](https://www.freedesktop.org/software/systemd/man/nss-resolve.html#), you'll find without cgo this won't be honored. Instead go will fall back to its own resolver implementation, which behaves pretty much like nsswitch.conf contains `hosts: files dns`.

Likew

[2019-07-06 07:19] koxu1996 commented on #296
Synthing v1.1.0 [introduced](https://github.com/syncthing/syncthing/commit/75dcff0a0e7fe7afc25492588370f23f8075c8fa) folder option _CopyOwnershipFromParent_ that allow to retain the owner/group information if possible. Currently I don't know _Golang_ much, so I won't prepare PR, however I was able to recompile _ksync_ with this option enabled:
[code]
I think such option should be always enabled, b

[2019-07-08 08:42] koxu1996 opened #303 "[microk8s] rpc error: code = Unknown desc = could not find for pod"
#### Problem description
I am trying to set up _ksync_ with _microk8s_, but I get strange errors, like this one:
[code]
#### Reproduction steps
1. Create example app:
[code]
2. Clear config files and initialize ksync
[code]
3. Run _watch_:
[code]
4. Create spec:
[code]
5. Observe errors:
[code]
#### Additional information
**OS**: Arch Linux x86_64 (5.1.16-arch1-1-ARCH)
**ksync version**:
[code]

[2019-07-08 09:11] koxu1996 commented on #303
Making it works would require integration with _containerd_ API, because microk8s [replaced](https://github.com/ubuntu/microk8s/commit/7c3311a6d24a0eae482dc09e86471ead41aaa19e) docker daemon with it.

[2019-07-08 09:11] #303 closed

[2019-07-11 13:16] adyshev opened #307 "Question: How to uninstall ksync from the cluster"
Hi guys, sorry for dumb question. But could you please suggest how can I uninstall all ksync resources installed by 'ksync init' command? Thanks!

[2019-07-19 18:42] thejmazz commented on #173
FWIW, I am now using K8s exclusively and have no plans to ever work on this. Feel free to close if desired!

[2019-07-24 20:16] timfallmk commented on #307
Look at `ksync clean` and it's subflags

[2019-07-24 20:16] #307 closed

[2019-07-24 20:17] #173 closed

[2019-07-26 13:12] abecruzs commented on #212
Hello. I'm having this exact issue. Local files trigger "reloads" but nothing is change in the remote. And if I modify a file in the remote, that does not trigger nothing and I don't get the file locally.

I have a default installation of kubernetes and my "poc" is using nginx with a simple html website.

[2019-07-29 10:25] kickthemooon opened #308 "How to make synced files executable?"
All synced files have following permissions:
`-rw-r--r--`
and are not executable.

How to make synced files executable?

[2019-07-30 14:25] EamonKeane commented on #303
happened to me too.... a `you're running containerd` message might be nice.

[2019-08-16 09:30] alok87 commented on #285
@timfallmk @grampelberg Around 30 developers are using ksync for local development. And every one of them have complained about the crash. We should really find the root cause and fix it.
```ERRO[0505] lost connection to cluster                    ContainerName= LocalPath=/Users/alok87/code/practo/heimdall LocalReadOnly=true Name=heimdall Namespace=bug Pod= Reload=false RemotePath=/www/app RemoteR

[2019-08-16 14:37] grampelberg commented on #285
I'd bet that there's something related to keep-alive and how you've got the connection configured to your remote cluster. ksync isn't doing anything special with that connection, so maybe some looking around at client-go watches getting timed out would help?

The easiest solution to this is what @timfallmk suggests - just have the OS restart watch. It was kinda meant to do that to begin with. If y

[2019-08-19 13:32] ocavue opened #309 "Unable to run ksync watch"
[code]

I ran `ksync watch` on my client (MacBook) and got the error above. It seems that ksync is trying to connect to `127.0.0.1:8384`, but nothing is using this port.

Some information that may help:

[code]

[2019-08-19 15:42] grampelberg commented on #309
It sounds like the wrong kubeconfig is being used. I suspect the `sudo` is what is throwing it for a loop. Shouldn't need to run with `sudo` at all. Or, use the `KUBECONFIG` env var. Please reopen the issue if I'm totally off base =)

[2019-08-19 15:42] #309 closed

[2019-08-20 02:40] ocavue commented on #309
After removing `~/.ksync/` and rerun `ksync init`, this error doesn't appear.

[2019-08-20 15:11] grampelberg commented on #309
Huh, well, glad it got fixed!

[2019-09-05 08:06] alok87 opened #310 "Ksync on connection error due to the watcher and kubernetes timebound API connection"
Since it was discussed https://github.com/vapor-ware/ksync/issues/285#issuecomment-522031923 to run behind some daemon manager. We have put ksync behind a daemon manager which auto restarts it when it crashes.

But we found a case where ksync throws an error due to connection and does not recover from it and stays stuck in that place and stop syncing. Since we are throwing the error instead of it

[2019-09-05 18:49] xAt0mZ opened #311 "Unable to start watch - port 8384 in use"
Hello
I installed a new minikube cluster and ksync.
ksync init went fine, ksync doctor only tells me I need to start the watch, so did I.

But I'm unable to do it, getting the following error...
[code]

`lsof -i :8384` returns nothing so I don't know what to do now.
Already cleaned ksync and recreated the k8s cluster, without improvement
Any solution ?

![2019-09-05-204653_1087x487_scrot](https://

[2019-09-05 22:26] xAt0mZ commented on #311
Found the solution !

1. Found that `syncthing` processes were still running on my laptop.
2. SIGKILLed them all with htop (that's rude, sorry for this).
3. Started syncthing by myseft to get some logs of why it was failing.

Problem was the following : syncthing failed to start (unable to find localhost on 8.8.8.8:53) but process kept running on background after failure, even when the process was

[2019-09-09 17:28] grampelberg commented on #310
Well, this is a bummer. The process should die so that restart happens. Is this inside port-forward maybe?

[2019-09-09 17:42] alok87 commented on #310
Did not get you @grampelberg

[2019-09-09 17:43] grampelberg commented on #311
Good call! I've had a tough time trying to get go to manage processes correctly.

[2019-09-09 17:43] #311 closed

[2019-09-09 20:21] grampelberg commented on #310
Was just a question about the error, I found where it is coming from. Definitely should be fatal.

[2019-09-10 07:07] alok87 commented on #310
@grampelberg Created a PR for it. It's happening when it is trying to make connection with the radar container. https://github.com/vapor-ware/ksync/pull/312

[2019-09-10 16:21] grampelberg commented on #310
Thanks! Just merged it.

[2019-09-11 05:17] alok87 commented on #310
Awesome thank you

[2019-09-11 21:38] timfallmk commented on #308
Do the remote permissions match the local permissions?

[2019-09-13 22:52] timfallmk commented on #308
It does AFAIK

[2019-09-13 22:54] timfallmk opened #313 "Update CI to use KinD so it doesn't require remote cluster"
We need to update our CI process to not require a remote cluster. We could use [KinD (kubernetes in docker) to do this.](https://github.com/kubernetes-sigs/kind)

[2019-09-14 16:11] cyrildiagne opened #314 "ksync - not working across multiple node-pools?"
I have 2 node-pools on Google Kubernetes Engine.
A default one and another one with GPUs.
Ksync works well when the pod I want to sync is scheduled on the default node-pool (where the ksync pod is running).
But when my pod is running on the other node-pool, ksync seems stuck in "starting" and doesn't sync.

I run ksync watch in background but get this error after a while:

[code]

Any idea what co

[2019-09-17 15:03] grampelberg commented on #314
Hmm, are you using node taints? If the daemon set isn't scheduled on those nodes, ksync won't run.

[2019-09-17 20:25] cyrildiagne commented on #314
Oh yes, GKE automatically adds a node taints NoSchedule on `nvidia.com/gpu=present`.
Is there a way to add a toleration to the ksync daemonset?

[2019-09-17 20:29] grampelberg commented on #314
Not right now. You can edit it after it has been added to the cluster. Alternatively, wiring up a PR should be pretty easy as well.

[2019-09-17 20:33] cyrildiagne commented on #314
Ok, makes sense. Thanks a lot for the rapid feedback!

[2019-09-17 20:33] #314 closed

[2019-09-17 21:20] cyrildiagne commented on #314
For future references, I could fix the issue in my case by running:
[code]

[2019-09-27 19:05] paulocfjunior opened #315 "ksync doesn't work with kubectl 1.16+"
Hi, I'm trying to use ksync with the latest kubectl at this moment, but it seems like the DaemonSet creation is not working because [it's using the DaemonSet from extensions resources](https://github.com/vapor-ware/ksync/blob/master/pkg/ksync/cluster/service.go#L187) and it was [deprecated](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals) in this ku

[2019-09-27 19:21] grampelberg commented on #315
@paulocfjunior oh 1.16 .... would you mind doing a quick PR to update the definitions? I can cut a release immediately to get that fixed up.

[2019-09-27 19:42] paulocfjunior commented on #315
Hey @grampelberg, humm.. I'm not sure if I can fix it so quickly since I don't have much experience at Go Lang yet... Do you think it would take much time for you or maybe someone else you know to fix it?

[2019-09-27 19:43] grampelberg commented on #315
I can maybe get to it next week, but it'll be a little bit =)

[2019-09-27 19:49] paulocfjunior commented on #315
Yeah, we can wait for that :smile:
Thanks!

[2019-10-13 12:56] Zaziffic commented on #315
Hi all,

I confirm ksync is not too happy abour kubectl 1.16+ :
[code]

Versions :
 - ksync: 0.3.6
 - kubectl: 1.16.0
 - minikube: 1.4.0

Thank you ahead for the fix !

[2019-10-13 21:08] 0sc commented on #315
Anyone on this yet? I can put up a PR with the update

[2019-10-14 08:48] 0sc commented on #315
Here's PR: https://github.com/vapor-ware/ksync/pull/316

[2019-10-15 19:06] #315 closed

[2019-10-16 08:32] Zaziffic commented on #315
Thank you guys !
I use ksync a lot in my web applications : good job to you all !

[2019-10-16 09:17] Zaziffic commented on #315
Any release planned soon please ? Or should I compile it myself ?
Cheers

[2019-10-17 06:12] developer-guy opened #318 "create homebrew formula to make install from brew on macos"

[2019-10-17 16:05] grampelberg commented on #318
This'd be awesome!

[2019-10-17 22:55] grampelberg commented on #315
@Zaziffic https://github.com/ksync/ksync/releases/tag/0.4.0

[2019-10-18 15:06] sgandon opened #319 "https://vapor-ware.github.io is failing"
unable to acces  https://vapor-ware.github.io and therefore unable to make the katacoda traiing work either.

[2019-10-18 16:13] grampelberg commented on #319
Whoops, unintended consequence of the move. Should be working now (scenario moved as well, link in the README is updated).

[2019-10-18 16:13] #319 closed

[2019-10-18 19:53] Zaziffic commented on #315
Thank you so much @grampelberg  !!! Works like a charm !!! So cool...

[2019-10-21 06:20] alok87 opened #320 "Downloading 0.4.0 from github release - showing corrupt"
[code]

[2019-10-21 17:57] grampelberg commented on #320
@timfallmk this is because I didn't build with the tag? Sounds like the github actions stuff missed a couple pieces.

[2019-10-21 18:22] timfallmk commented on #320
Yeah, it wouldn’t be sourced during the build. Might be worth rebuilding when we release to get the stamps.

[2019-10-21 19:33] timfallmk commented on #253
Closed by #317

[2019-10-21 19:33] #253 closed

[2019-10-21 19:33] timfallmk commented on #313
Closed by #317

[2019-10-21 19:33] #313 closed

[2019-10-25 06:28] igoooor commented on #127
Do we have an ETA for this feature? or anyone found an alternative in the meantime?

[2019-10-25 15:46] grampelberg commented on #127
@igoooor did you try `.stignore` yet?

[2019-10-29 13:56] igoooor commented on #127
@grampelberg yes but I don't manage to make it work.
Let's take this example:
[code]

I want to ignore `docroot/vendor` folder
Should I create a `.stignore` in my current directory `$(pwd)` with content `docroot/vendor`
or in the directory I'm syncing `$(pwd)/docroot` and the content `vendor`
I tried both and the `docroot/vendor` is always being synced

[2019-10-29 16:23] igoooor commented on #127
so, it seems to work, only if the `.stignore` is inside the directory I'm syncing, so not in the current directory. and the file `.stignore` has to be present in the container.
Is there anyway to make it work with `.stignore` inside of the current directory instead?

[2019-10-29 16:44] grampelberg commented on #127
I suspect this is because `.stignore` is evaluated on the side that the syncing occurs - eg. it needs to be in the container to prevent `vendor` inside the container from syncing back. Have you taken a peek at the syncthing docs? They might have a way to address this.

[2019-10-30 09:08] alok87 commented on #320
Is this fixed? can we download the latest release now?

[2019-10-30 09:20] timfallmk commented on #320
@alok87 you should be fine running the current binary. The release just failed to be stamped and therefore has the default version string. We’ll try and fix the stamping issue soon, but there should be no changes to the binary.

[2019-10-31 10:30] AndrienkoAleksandr commented on #297
+1  saw the same. It works good when I set up pod '-p' and container '-c', but if I set up only pod -p -> seems ksync trying to watch all pods.

[2019-10-31 16:09] grampelberg commented on #297
Interesting, definitely a bug in there somewhere.

[2019-11-06 08:33] igoooor commented on #296
Do we have any news on this?

[2019-11-06 11:01] timfallmk commented on #296
Interesting. Looks like it's on us to fix. I'm currently on vacation, but it shouldn't be too hard to change, as @koxu1996 noted (thanks for that!).

[2019-11-06 11:11] timfallmk commented on #296
@grampelberg Side note, this requires a newer version of syncthing than we current vendor.

[2019-11-06 16:26] grampelberg commented on #296
Would love a PR for this! Now that the CI stuff is setup and mostly working again, it would be easy to cut a new stable release and fix the tagging issues as well once it lands.

[2019-11-13 01:03] #320 closed

[2019-11-13 12:12] markus512 opened #323 "Images for release 0.4.0 missing on dockerhub"
Tried to install release 0.4.0 onto my kubernetes cluster.

Pods don't start because tag 0.4.0 is missing in vaporio/ksync on dockerhub.

I replaced the image with ksync/ksync:git-11c5444 which seems to work fine but it would be great if it is possible to upload that tag and make release 0.4.0 working as is.

[2019-11-13 16:17] grampelberg commented on #323
How are you running 0.4? I just double checked and it is using `ksync/ksync:git-dcb80e9` by default.

[2019-11-13 20:04] #296 closed

[2019-11-13 20:31] markus512 commented on #323
I tried to install it from jenkins x using jx sync. Will try to debug that tomorrow. Manual installation indeed works as usual and uses ksync/ksync:git-dcb80e9.

[2019-11-13 20:47] markus512 commented on #323
I'll close this issue now as there is nothing wrong in ksync itself.
@grampelberg Thank you for taking the time to deal with my issue.

[2019-11-13 20:47] #323 closed

[2019-11-14 16:19] grampelberg commented on #323
You bet! Sorry about the extra overhead there from the org change.

[2019-11-30 11:34] debianmaster opened #327 "support for containerd?"
i'm using k3s which uses containerd instead of docker.
Any chance ksync can support containerd?

[2019-12-02 17:50] grampelberg commented on #327
I'd love to! It'd be an awesome contribution if you're interested =) Since ksync was originally written, there are a couple really great features that have landed in k8s which will make this whole thing more resilient and less coupled to the underlying container system itself. Some re-architecture in how ksync works should allow support for any kind of container system and filesystem under the cov

[2019-12-09 08:38] kollender opened #329 "Pods stuck on ImagePullBackOff status"
After ksync installation, tried to run `ksync init` and got:

[code]

When I run `ksync doctor` I get:

[code]

The output of `ksync version`:

[code]

All of the pods are in the same status (`kubectl --namespace=kube-system --context= get pods -lapp=ksync`):

[code]

The image in the DS is `ksync/ksync:git-a5628b9`.

The K8s cluster is a GKE cluster, and this is the output of `kubectl version`:
[

[2019-12-09 19:12] grampelberg commented on #329
@timfallmk any ideas why the image hash doesn't exist?

[2019-12-09 20:13] timfallmk commented on #329
I was afraid of this. It's probably because of my messing with release process. I'll push that tag again manually.

[2019-12-09 20:20] timfallmk commented on #329
@grampelberg Looks like I was wrong, the image appears to exist: https://hub.docker.com/layers/ksync/ksync/git-a5628b9/images/sha256-fcb07b0634571432d76736b695c676365907b4215d2f0edd179a6ef2df2fa486

@kollender Can you try again and see if it's a transient error?

[2019-12-09 23:59] kollender commented on #329
@timfallmk again :\
[code]

[2019-12-10 00:01] grampelberg commented on #329
What's in the logs?

[2019-12-10 00:05] kollender commented on #329
@grampelberg what is the command for that?
I've Just run `ksync doctor` and the output is the same as I wrote earlier.

[2019-12-10 00:10] grampelberg commented on #329
`kubectl logs`

Honestly it sounds like you've got connectivity issues to docker hub. Can you run any other images like alpine?

[2019-12-10 00:12] kollender commented on #329
BTW, tried to run `docker pull ksync/ksync:git-a5628b9` and then `ksync init` and got the same result.

Here are some logs:
`k describe ds ksync -n kube-system` :
[code]

`k get po -n kube-system -l app=ksync` gives me back:
[code]

`k logs -f ksync-5c76n -n kube-system -c ksync`:
[code]

[2019-12-10 00:13] grampelberg commented on #329
Yup, looks like you've got issues pulling the image, not much we can do to help out with that I'm afraid =/

[2019-12-10 00:14] kollender commented on #329
Yeah, seems like that.
I will close the ticket and try to find the issue in our side.
Thank you for your help guys!

[2019-12-10 00:15] #329 closed

[2020-01-03 01:45] #298 closed

[2020-02-19 12:55] alok87 opened #334 "Ksync keeps crashing"
We are facing this issue across the organization with the latest ksync version also. (`0.4.3`)
There are two issues here.

1. ksync crashes very frequently. Almost after sometime.
`panic: interface conversion: runtime.Object is *v1.Status, not *v1.Pod`
[code]

2. When it crashes(exits 1), it keeps running the syncthing command in the background. So the next start also gets stuck. So we need to kil

[2020-02-19 15:27] alok87 commented on #294
This can be used as a referrence for people facing issues. Nothing to do here extra. closing this.

[2020-02-19 15:27] #294 closed

[2020-02-19 15:55] grampelberg commented on #334
Have you tried rolling back to 0.4.2? We did some dependency updates in 0.4.3 and that was it.

[2020-02-19 16:29] alok87 commented on #334
It was happening in 0.4.2, and then i upgraded to 0.4.3 and issues was happening in both the places.
I am not sure if it is a connection issue. Changing the subject of the issue.

[2020-02-19 16:32] grampelberg commented on #334
Ahh, have you changed anything in your cluster?

[2020-02-19 17:28] alok87 commented on #334
@grampelberg no, we have created a default cluster with kops, its version is 1.15.5
How to debug the issue, it just says panic but no line info as such. How can I reproduce this with code line info in my local?

[2020-02-19 19:49] grampelberg commented on #334
`panic: interface conversion: runtime.Object is *v1.Status, not *v1.Pod` makes me think your API server is totally returning the wrong results entirely. Bumping up the debugging and adding some logging in there would help a ton. Maybe do a reflection?

[2020-02-20 08:25] alok87 commented on #334
Its Kubernetes API 15.5.5? Where should i add logging? Can you point out the exact code line in ksync which is calling kubernetes API?

[2020-02-20 08:31] alok87 commented on #334
Ok, here is the trace

[2020-02-20 10:29] alok87 commented on #334
@grampelberg I did the reflect type to find the event type received. Here is the code i changed
[code]

Here is the output i got
[code]

[2020-02-20 13:27] alok87 commented on #310
@grampelberg Reopening this based on discussion on slack https://kubernetes.slack.com/archives/C0EG7JC6T/p1582205089415500

cc @ligggit

[2020-02-20 14:04] alok87 commented on #310
Opening a new issue

[2020-02-20 14:04] #310 closed

[2020-02-20 14:14] alok87 opened #337 "Ksync watcher should reestablish connection"
At present ksync watcher does not reestablish connection when the [event channel receives nil](https://github.com/ksync/ksync/blob/dcb80e9f58dcec10ce4c1356ab88fbbd4f862958/pkg/ksync/spec.go#L125-L133), we are using a higher level service to restart ksync on such failures.

We can make watcher restablish connections after some time if it receives a empty channel. Kubernetes API is timebound and we

[2020-02-20 15:23] alok87 commented on #337
Below are the observations for the ksync crashing after every few minutes.

### Crash is happening every 1minute 40seconds
Ksync is crashing in about 2minutes. I am running **`date && ksync watch || date`** to note the timings of crash.  Here are the results:

- Run1: 1 min40sec  Thu Feb 20 20:45:36 IST 2020 --> Thu Feb 20 20:47:16 IST 2020
- Run2: 1 min40sec  Thu Feb 20 20:49:04 IST 2020 --> Thu

[2020-02-20 16:02] grampelberg commented on #337
If your k8s cluster is returning 500s every 1m40s, there's probably something *much* more fundamentally wrong going on. I would recommend looking in the logs and figuring out what is going on there first before looking any further into ksync itself. I would also try and reduce the links in the problem - try running ksync from inside the cluster to rule out any kind of connectivity issue and see if

[2020-02-20 21:51] alok87 commented on #337
@grampelberg will work on the following
- [ ] Finding the reason for 100 second timeout.
- [ ] Finding the 500 in k8s events
- [ ] Will give the PR to use informer

[2020-02-20 22:03] grampelberg commented on #337
@alok87 that's awesome, thank you! I'm happy to help however I can.

[2020-02-20 22:07] #334 closed

[2020-02-20 22:08] alok87 commented on #337
The 100 second timeout was because Cloudflare has a 100 second default timeout between Cloudflare and the origin (ELB in our case). I have got it increased and now ksync will crash after an increased minute. Marking first as done.

[2020-02-20 22:21] grampelberg commented on #337
You know, if it is 20 minutes, you might want to fix this by having the `syncthing` process correctly reaped when the parent exits instead of going down the informer route. The reasoning there is that the port-forward is going to die, which'll be the next thing you need to manage disconnects/reconnects on.

[2020-02-20 22:47] grampelberg commented on #337
For future reference, this was caused because of a timeout introduced by a load balancer in the middle. Ksync shuts down on connection issues on purpose. This is because it is hard to have all the required connections restarted gracefully. Errors like this should be managed either by removing the intermediate timeout or with an external process manager which restarts ksync. Failing fast allows for

[2020-02-20 22:47] #337 closed

[2020-02-21 07:40] timfallmk opened #338 "Add back linting"
We somehow seem to have left linting out of our process. It probably got dropped somewhere in the move.

Re-add and switch references to `gometalinter` to `golangci-lint`.

[2020-02-21 07:46] timfallmk opened #339 "Investigate switching to goreleaser"
https://goreleaser.com may be better than the crap I threw together.

[2020-02-26 00:03] colinkahn opened #340 "Update same pod with multiple specs"
Hi,

I am trying to use multiple specs to update a single pod, something where I have many different local to remote mappings I want to watch/sync.

I've tried this and it doesn't seem to work. Any suggestions?

[2020-02-26 00:22] grampelberg commented on #340
Hmm, the underlying implementations would allow it. There must be a disconnect somewhere in the stack. Take a look at the syncthing REST client and trace it back up the stack. Must be something strange in that interaction.

[2020-03-05 15:07] mlitvin opened #341 "No service account prevent configuring pod security policy"
The ksync daemonset require non-trivial PSP: ability to mount hostPath. But because the daemon set doesn't use a service account it is impossible to grant that permission specifically and it should be granted by default.

The first level of a solution would be creation and usage of  a service account for ksync.

A nice to have would be an option to create (and bind) the PSP from sync init