[2020-03-05 15:41] grampelberg commented on #341
Good call! Up for a PR? Might as well just create the SA and PSP at the same time.

[2020-03-05 15:42] grampelberg commented on #341
You'd need to modify https://github.com/ksync/ksync/blob/master/pkg/ksync/cluster/daemon_set.go#L14 and:

- Make it a list instead of a DaemonSet.
- Add the SA and PSP in there.

[2020-03-05 16:06] moshelitvin-MS commented on #341
I can give it a try

[2020-03-18 16:08] #341 closed

[2020-03-29 17:17] ankitm123 commented on #339
I can take a look at it @timfallmk

[2020-03-31 20:31] samgabrail commented on #289
I have the same issue and I'm running containerd as the run-time. Docker commands show that it isn't installed on the host. Is there support for containerd?

[2020-03-31 20:39] grampelberg commented on #289
@samgabrail unfortunately not today. We'd love help adding it, but it'd be non-trivial I'm afraid.

[2020-04-03 20:11] ssoriche commented on #340
I too am having an issue with multiple specs to a single pod.

When `ksync watch` starts it attempts to communicate with syncthing for one spec, it is successful and adds the configuration.

[code]
At which point syncthing has been told to restart which removes the first spec and adds the second spec.

[code]

 The syncthing console will sometimes show that the first spec is being seen as a new fo

[2020-04-08 18:47] timfallmk commented on #339
@ankitm123 Go for it! I mostly added this as a note for myself, but happy  to have the help!

[2020-04-23 05:48] sergioska opened #378 "Sync With Kubernetes Persistent Volume"
When i try to sync a local path with a kubernetes persistent volume at the end of the sync process i don't see files on container.
Sync process seems run fine because i can see it on web gui, but at the end directory on cluster is empty.
If i try to run sync operation without persistent volume directly on a path of container, it works fine.

[2020-04-27 05:36] provAlexSage commented on #297
This is because the flag format doesn't accept the space and needs the equal sign...
[code]

[2020-05-26 08:01] Gordonby opened #393 "Sign the windows EXE"
Users that download the windows EXE will be prompted (by browser and OS) that it is not safe because the EXE isn't signed.
![image](https://user-images.githubusercontent.com/17914476/82875389-3b932600-9f2f-11ea-81e7-fb0fdcbfe56b.png)

There is a GitHub Action for signing: https://github.com/marketplace/actions/code-sign-a-file-with-pfx-certificate

This would provide additional confidence for wind

[2020-05-26 17:49] grampelberg commented on #393
That's awesome! Up for a PR?

[2020-05-26 19:57] Gordonby commented on #393
If you've got a certificate in the secrets store, sure.

Otherwise, not sure how to get free certificates for code signing.  LetsEncrypt won't cut the mustard.

[2020-05-27 20:58] grampelberg commented on #393
What does it require?

[2020-05-27 21:45] k opened #394 "Make it an operator for more fine-grained permissions"
If ksync adds an operator that ran on the cluster and watch for a CRD with `kind: Ksync`, then we could use the similar permissions that are given to devs on the cluster.

This is not a rigorous design, but what I would imagine is when the operator detects a `Ksync` resource, it deploys a pod that ksync uses to proxy to send information to the operator that uses the ksync daemonset to fulfill the

[2020-05-27 22:58] grampelberg commented on #394
This is a cool idea! You wouldn't even need an operator to do it. Just add an APIService and RBAC on top of that to manage access to `radar` and you'd be set.

FWIW, the alternative approach here is to lean on EphemeralContainers and `shareProcessNamespace`.

[2020-05-27 23:47] k commented on #394
Yep the `APIService` sounds like a cleaner solution, operator is a bit heavy for this purpose.

Ephemeral Containers sounds even cleaner though! This means we wouldn't need the DaemonSet anymore. Radar wouldn't be necessary anymore at all then right? ksync becomes client only.

[2020-05-28 17:51] grampelberg commented on #394
Yup! Ksync would be 100% client only. I've been wanting to do the restructuring, just not had the time.

[2020-05-28 20:30] k commented on #394
Happy to help @grampelberg ! How far are you along with it? Would starting a design doc be helpful?

[2020-05-28 21:12] grampelberg commented on #394
I've done nothing outside of "I bet this would all work together!". A design doc would be awesome!! @timfallmk can help out here too =)

[2020-06-03 04:24] hansongfang opened #398 "Ksync is forbidden"
After installation, I check the ksync version and get this error apps ksync is forbidden". I tried searching previous issues, but not found a solution. Your help is appreciate!
$ ksync version
ksync:
        Version:    Release
        Go Version: go1.13.6
        Git Commit: b2ca492
        Git Tag:    0.4.4
        Built:      Thu Feb 20 23:22:28 +0000 2020
        OS/Arch:    darwin/amd64
FATA[

[2020-06-03 15:27] grampelberg commented on #398
That means your RBAC isn't working correctly. You need to get able to get `daemonsets` in the `kube-system` namespace.

[2020-06-03 15:27] #398 closed

[2020-06-04 03:35] wojtek-viirtue opened #399 "Specs and watches should have the option to be locally defined"
**TLDR;**
Having the ability to define specs within a working directory would be a great way to limit what a ksync watch is watching.
---

Our CD pipelines build and push images to a container registry.  In addition to using helm for deployments via Argo CD, developers rely on helm to locally update their minikube cluster to make sure they have all the moving parts of our application.  Enter a pot

[2020-06-04 16:23] grampelberg commented on #399
I'm not sure I quite understand the problem. Developers update their images but don't update git, so the sync overwrites potentially newer code?

[2020-06-04 16:37] wojtek-viirtue commented on #399
That's exactly right.  Plus the fact that you may not want to always watch everything all the time.

[2020-06-05 14:59] grampelberg commented on #399
It sounds like maybe instead of having a daemon doing all the syncing in the background a better solution would be to just have a command that the devs run in each directory they want sync'd then?

[2020-06-05 15:17] wojtek-viirtue commented on #399
@grampelberg I think that would be an excellent solve!

[2020-06-09 19:14] dependabot-preview[bot] opened #404 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/ksync/update-logs/36229359).

[2020-06-09 20:52] #404 closed

[2020-06-18 19:52] p15r commented on #308
I experience a similar problem (fs permission issue).

An example folder in a container:
`drwxr-xr-x    1 nobody   nobody      4.0K Jun 18 17:28 scanner`

After I run `ksync create`:
`drwxrwx---    1 nobody   nobody      4.0K Jun 18 19:45 scanner`

This causes to break my service running in that container, because it runs (intentionally) under a different user than `nobody`. Any idea why this happ

[2020-06-18 19:59] grampelberg commented on #308
It needs to be executable locally, the permissions are preserved across the sync.

[2020-06-18 20:25] p15r commented on #308
@grampelberg I can confirm that insufficient local permissions were the problem. Thanks.

Looking forward to new releases. ksync really speeds up my dev/deploy workflow! :smile:

[2020-06-18 20:38] timfallmk commented on #399
It sounds like the original suggestion might still be helpful in other situations. I wonder how much work it would take to do.

[2020-06-18 20:40] #308 closed

[2020-06-23 19:15] ryneal opened #409 "ksync init failing on mac"
ksync init is failing to run, stating invalid tar header for syncthing binary.

I am unable to determine the cause, and have no specific networking configuration such as proxies.

Can anyone please advise how I can resolve this issue?

Output of ksync init --log-level trace

[code]

Output of ksync version
[code]

[2020-06-24 16:51] timfallmk commented on #409
Is this a fresh install? Did it just start happening?

[2020-06-24 17:02] timfallmk commented on #409
It 👀 like github.com/syncthing/syncthing at some point changed _only_ the macOS binary from a tar gzip to a zip format. I'm gonna do some more poking around to see if this was intentional or not, in the meantime @ryneal, you can download, extract and place the binary manually (I believe the default install directory is `~/.ksync/bin` but I'm not sure)

[2020-06-24 17:07] timfallmk commented on #409
The upstream issue appears to have come from [here](https://github.com/syncthing/syncthing/commit/d8e7e92512d703d5e4f644b3104e248e9e615b0c). On first glance it shouldn't take too much work to fix.

[2020-06-24 20:24] timfallmk commented on #393
Leaving this here from quick googling https://msdn.microsoft.com/en-us/library/windows/hardware/hh801887%28v=vs.85%29.aspx

[2020-06-24 20:54] timfallmk commented on #378
Hi @sergioska . `ksync` only works with Docker defined and managed volumes at the moment, so it won't work with PVS's unfortunately.

[2020-06-24 20:54] #378 closed

[2020-06-24 23:51] timfallmk commented on #393
From some research it appears obtaining a valid code signing certificate for Windows costs between $150-$500/year. There don't seem to be an exceptions for FOSS. Looks like this is something we can't do.

I'll leave this open in case anyone wants to sponsor the project or donate a cert in the future.

Maybe we should add a warning to the documentation @grampelberg ?

[2020-06-25 15:24] grampelberg commented on #378
@sergioska we'd love help making it work with volumes if you're up for it! There's a new arch that uses shared pid namespace and ephemeral containers to make the whole thing *way* more stable.

[2020-06-26 10:51] jaiwo99 commented on #409
I have the same issue:

ksync:
	Version:    Release
	Go Version: go1.13.6
	Git Commit: b2ca492
	Git Tag:    0.4.4
	Built:      Thu Feb 20 23:22:28 +0000 2020
	OS/Arch:    darwin/amd64
INFO[0000] Remote service is not running. Run init to start it.
FATA[0000] no healthy nodes found
exit 1

DEBU[0000] initializing kubernetes client                context=
DEBU[0000] kubernetes client created

[2020-06-26 20:39] #409 closed

[2020-06-28 03:47] alok87 opened #411 "ksync's syncthing container crashloop due to failure in listening to service at :22000"
###  Version:
[code]

## Issue
Some of the ksync pods get stuck in Crashloop everyday. This happens because the synching container process is not able to start and is stuck in restart loop due to the following error.
[code]

## Logs of the failing synching container
[code]

## Hack Resolution
Deleting the ksync pod fixes it, if it recovered on restart that would be much better than this.

[2020-06-29 17:37] timfallmk commented on #411
What kubernetes distro are you using? What is your method of shutdown for the cluster (if you are shutting down regularly). I've seen something like this when using a local cluster that was running on a laptop as shutting down didn't clean up the port assignments.

[2020-06-29 18:02] timfallmk opened #415 "Cluster side release versions not being stamped correctly"
Investigation:
[code]

[2020-06-29 19:23] #415 closed

[2020-06-30 08:20] alok87 commented on #411
[code]

Running it on AWS.

[2020-06-30 09:26] timfallmk commented on #411
That's likely it. The ports assigned to the `radar` pods are probably not getting terminated before a new version is run, hence the conflict. You might be able to solve this by changing your upgrade policy for the ksync daemonset to delete before recreate.

[2020-06-30 10:26] alok87 commented on #411
daemonset have only OnDelete and RollingUpdate strategies https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/#daemonset-update-strategy

[2020-06-30 10:28] timfallmk commented on #411
OnDelete was what I was referring to. Alternatively you could use —upgrade —force

[2020-06-30 13:59] alok87 opened #417 "Need to keep overriding changes for sync to happen"
Sync does not happen on its own. On every file change need to hit the "Override changes" in the synching UI
<img width="923" alt="Screenshot 2020-06-30 at 7 27 52 PM" src="https://user-images.githubusercontent.com/9006763/86135090-fce12480-bb07-11ea-9123-533978aa77bd.png">

Also, everytime this UI keeps popping up.
<img width="1197" alt="Screenshot 2020-06-30 at 7 27 56 PM" src="https://user-image

[2020-06-30 14:06] alok87 commented on #411
Thanks, let me try that.

[2020-06-30 14:56] timfallmk commented on #411
I'm going to close this for now. Feel free to open it back up if you still see the issue.

[2020-06-30 14:56] #411 closed

[2020-06-30 14:58] timfallmk commented on #417
We don't really deal with the syncthing UI, so I'm not sure what to do with that. For the syncs, the `watch` process should be reporting whether a sync is set and running. If so, any changes are immediately synced to the other side (if configured to do so).

[2020-06-30 15:00] timfallmk commented on #297
I'm going to mark this as solved. Thanks everyone!

[2020-06-30 15:00] #297 closed

[2020-06-30 18:12] alok87 commented on #417
So ksync uses syncthing and it is not able to sync from my Mac untill I rerun ksync watch or click override changes from the syncthing UI

[2020-06-30 19:19] timfallmk commented on #417
That sounds like a problem with the way watch is configured. How are you running it?

[2020-06-30 19:41] timfallmk opened #419 "Docs and site update"
The documentation and readme could use a major overhaul.

Maybe we could get badges working while we're at it too?

[2020-07-01 06:04] alok87 commented on #411
It did not happen today, will come back if it re-appers. Thanks a lot @timfallmk

[2020-07-01 07:25] alok87 commented on #417
[code]

I was running it from mac using `ksync watch`

[2020-07-06 14:23] ifitzpat opened #420 "Unknown desc = could not find for pod"
Dear Ksync devs,

I'm running into the following issue when trying to run the example:

INFO[2099] finished unary call with code OK              grpc.code=OK grpc.method=GetSpec

Version info:

        Version:    Release
        Go Version: go1.14.4
        Git Commit: 9f40bf1
        Git Tag:    0.4.5
        Built:      Tue Jun 30 06:36:57 +0000 2020
        OS/Arch:    linux/amd64
service:

[2020-07-07 19:12] timfallmk commented on #420
Bump to @grampelberg as that's his baby wombat

[2020-07-10 14:43] grampelberg commented on #420
Is there a RBAC mismatch maybe? What version of k8s are you running?

[2020-07-11 09:07] ifitzpat commented on #420
Thanks for your reply! I'm running 1.18.4

[2020-07-14 11:29] timfallmk commented on #417
Can you try running watch the foreground get some debug logs? `ksync watch --log-level debug`

[2020-07-14 15:15] mc0 commented on #295
Looks like this may be caused by permissions:
[code]

[2020-07-14 16:40] timfallmk commented on #295
That would do it. The example app does list pods.

[2020-07-20 03:51] timfallmk opened #426 "Provide tag builds of docker images and optionally use them"
Currently we push (and use) docker images for `radar` using the tag `git-{commit sha}` only. We should at least push tags with each git tag, and optionally use them.

[2020-07-20 04:39] timfallmk opened #428 "Allow workflows to be manually triggered"
https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/

Probably just`tests` for now

[2020-07-27 11:06] murich commented on #260
Could someone please post how to practically resolve this, a step-by-step manual?

[2020-07-27 20:03] AmetPreply opened #432 "How to see pod's changes through the service/ingress?"
**UPD: sorry, it was my issues with correct testing, seems works fine.**

Hi.

I tried to run ksync like that:
[code]
I see my local changes inside the pod, if I'm running port-forward I can see the changes in my pod:
[code]

I use chain Ingress -> Service -> Pod, and when I'm trying to check new code without port-forward but through the ingress, I still see old code:
[code]

Is there a way to see

[2020-07-28 09:14] #432 closed

[2020-07-28 18:59] timfallmk commented on #260
@murich I'm not sure what you mean? What's being discussed here is an upstream problem with Go, specifically it's resolver package for native platforms.

I think since this issue was first opened, the upstream problem has been resolved. https://go-review.googlesource.com/c/go/+/166297

[2020-07-31 15:59] abarreir commented on #318
It's been done : https://formulae.brew.sh/formula/ksync !

[2020-08-04 05:45] #318 closed

[2020-08-17 23:14] #428 closed

[2020-08-19 08:25] AmetPreply opened #440 "ksync doctor "Unable to contact the cluster for context ""
Hello.
For uses in k8s cluster we use clusterrole:
[code]

When we try to run `ksync doctor` we have an issue:
[code]

If we try to run it works good:
[code]

If I run `ksync doctor` with admin permission, everything works fine:
[code]

What could be wrong here? Thanks.

[2020-08-30 07:37] buptliuwei opened #445 "Ksync init doesn't support specifying a kubeconfig file to talk to remote cluster"
Hi all,
In my platform, i specify other kubeconfig files by setting the `--kubeconfig` flag to access k8s cluster. when i try to  Initialize ksync with command `ksync init --context string`,  the ksync client will get `kubeconfig` file from  `$HOME/.kube` or `KUBECONFIG` environment variable.
So, during ksync init, can we also specify other kubeconfig files by setting  `--kubeconfig` flag. Jsut lo

[2020-09-03 02:41] timfallmk commented on #445
You can specify the kubeconfig file location with the env variable, as per other kube related tools.
Something like:
[code]

[2020-09-03 02:41] #445 closed

[2020-09-03 15:03] grampelberg commented on #440
Can you try running `doctor` with a named context and admin privileges?

[2020-09-03 15:43] AmetPreply commented on #440
[code]

[2020-09-04 07:27] optimus-kart commented on #289
Guys are there any workarounds for this?

[2020-09-04 15:12] grampelberg commented on #289
@optimus-kart would love the help adding support!

[2020-09-04 17:10] grampelberg commented on #289
There's no guide, I'd recommend getting into the code and understanding how all the pieces fit together. Instead of putting a driver in place for containerd, I'd actually recommend a larger refactor to start using [shared pid](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/) and [ephemeral containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-co

[2020-09-07 07:38] optimus-kart commented on #289
@grampelberg sure, let me dig into the code and see what can be done, will keep you posted

[2020-09-10 08:24] #440 closed

[2020-09-23 22:45] #289 closed

[2020-10-02 03:18] thapakazi commented on #327
**Any updates on this ??**
 k3s is cool, so is ksync :star_struck:

[2020-10-02 04:52] debianmaster commented on #327
@grampelberg  not an expert in this area :)  (dev)

[2020-10-02 11:58] AmetDevops opened #454 "Watching for more than 3 pods doesn't work"
Hello.
I found some correlation between pods count and ksync watch status.

Here is a my config:
[code]

When I have 4 pods in deployment, 3 of them are in sync, but one is not:

[code]

If I set 3 pods for deployment, the synchronization works fine, and all 3 pods in watching state.
I tried to reproduce it a few times and always when I have 4 or more pods in deployment, some of them couldn't be i

[2020-10-02 16:10] grampelberg commented on #327
I've not had any time to work on it, if you're up for the contribution I'd love to help get it started!

[2020-10-05 19:49] timfallmk commented on #454
It _shouldn't_ be a limitation. Thoughts @grampelberg ?

[2020-10-14 13:30] ale8k opened #456 "App doesn't appear to restart on change, but change registers"
Hi, apologies for any naivety initially, I'm new to K8S!

I've setup ksync with two watchers for two of my pods, the watcher is updating the correct spec and correct pod. I further confirmed this by running bash in the pods and cat'ing out the files to see the changes.

I've attempted to add a simple to change to both pods, but it isn't showing when I hit it from my host machine (forwarded ports)

[2020-10-14 21:08] #456 closed

[2020-10-20 16:23] retr0h commented on #327
@debianmaster You can also start k3s with Docker instead of containerd.

[2020-10-21 18:36] retr0h commented on #289
@optimus-kart any news on this?

[2020-11-02 18:18] dependabot-preview[bot] opened #461 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/ksync/update-logs/53173403).

[2020-11-03 18:23] #461 closed

[2020-11-05 18:23] dependabot-preview[bot] opened #463 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/ksync/update-logs/53687726).

[2020-11-06 18:21] #463 closed

[2020-11-18 09:12] 1ricardo opened #465 "Cannot finish watch process successfully"
Hi,
I trying to start working with KSync, but it crash in loop. I tried to use both guides [k8s doc](https://kubernetes.io/blog/2018/05/01/developing-on-kubernetes/#walkthrough-ksync) and [github](https://github.com/ksync/ksync) but still I have some problems when I run `ksync watch -n dok`

I did following commands:

[code]

And I see a new pods in kube-system namespace

[code]

Now when I start

[2020-11-24 12:24] lyzhang1999 opened #466 "some question for ksync"
I want to know how ksync uses syncthing to establish a connection with Pod? Is it kubectl port-forward?
Does it need discover server for syncthing connect to Pod? I have try to start syncthing one in Pod and one in my macOS, but i can connect to syncthing in the pod.

[2020-12-11 18:31] #231 closed

[2021-01-17 01:48] #466 closed

[2021-01-27 18:45] aberle opened #487 "ksync not working at all on an EKS cluster; syncthing process stops running"
Creating a simple spec to watch a directory with a single file starts to run, but then `syncthing` stops running.

[code]

After a while, `kysnc watch` will just start logging messages that look like:

[code]

and nothing works until I restart. I see a defunct `syncthing` process running when this happens:

[code]

All the matching pods are found, but their `STATUS` is stuck at `starting`:

[code]

[2021-01-27 20:34] dindurthy commented on #293
We have a similar situation where the cluster is shared and engineers don't all have cluster admin. We got around this by having our CI system, which has cluster admin access, run the `ksync init --local=false`, and our engineers run `ksync init --remote=false`. The cli options are a bit non intuitive, in that `ksync init --local=true` will fail for engineers since it is implicitly running with `-

[2021-02-05 09:11] andig opened #490 "go1.16rc1 build fails"
Run of `go mod tidy` is needed:

[code]

[2021-02-06 00:36] #490 closed

[2021-02-08 11:50] notwiben commented on #244
why not setup ksync using helm ?

[2021-02-10 21:05] timfallmk commented on #244
That's a possibility if you want. You should be able to deploy it anyway you wish.

[2021-02-12 10:56] #454 closed

[2021-02-15 12:54] carlocab opened #495 "0.4.6 retagged?"
When Homebrew [updated ksync to 0.4.6](https://github.com/Homebrew/homebrew-core/pull/70653), the sha was recorded as a63f23dba397a540cca9cbde5001afa5cbd8b2ae. However, it seems 0.4.6 has been retagged to bfb445b179a0405ab4a01b999010010406f425b7.

I can update the hash in the Homebrew formula, however, I'd like to double-check that this was intentional and that nothing's amiss here. Thanks!

[2021-02-20 11:36] yudistrange commented on #260
Yes please @timfallmk
That would be really helpful 😃

[2021-02-24 02:14] Bo98 opened #504 "0.4.6 does not build with Go 1.16"
[code]

It looks like the `go.sum` in 0.4.6 is missing entries. `go mod tidy` fixes it. I suspect the problem is from dependabot-preview not correctly updating `go.sum` for dependency updates. The problem is [fixed](https://github.com/dependabot/dependabot-core/issues/2229) in the new native GitHub Dependabot (migration instructions can be found on the dependabot.com dashboard when you login).

[2021-02-24 22:58] dindurthy opened #505 "Connection resets breaking synchronization"
Howdy. We've had quite a bit of success with ksync, but this one is stymieing us. Any help would be appreciated.

We are running an EKS cluster initialized by ksync. It's a shared cluster and most of my colleagues are using ksync with no problems. However, I have one engineer (so far) facing this.

**TLDR** the ksync watch process is stuck logging updating due to connection resets and the pod neve

[2021-03-05 19:35] timfallmk commented on #504
I'll take a look at this. Thanks! Go mod issues plague us with updates

[2021-03-05 19:36] timfallmk commented on #495
It was likely intentional, although I don't personally remember. I have re-pushed tags before when a release mechanism was changed/didn't work. Sorry about that!

[2021-03-05 19:36] #495 closed

[2021-03-05 19:37] timfallmk commented on #504
I'll take a look at this!

[2021-03-05 19:49] carlocab commented on #495
I see, thanks for clarifying.

It would help if you just tagged new versions. The [git docs](https://git-scm.com/docs/git-tag#_on_re_tagging) even describe re-tagging as the "insane" thing to do.

[2021-03-11 23:55] timfallmk commented on #495
@carlocab It is yes. While this project was under active development it was the only way that we could test release processes without spinning several hundred new tags. Nowadays re-tagging will be avoided if at all possible.

[2021-03-23 16:03] #504 closed

[2021-03-24 12:40] SMillerDev commented on #504
It still doesn't build without errors: https://github.com/Homebrew/homebrew-core/runs/2180322675?check_suite_focus=true

[code]

[2021-03-24 13:11] Bo98 commented on #504
Caused by 71ae4b6491fb17102e56a84198cfefe717901c79 (in 0.4.7 tag)
but fixed by 14ec9e24670b90ee45d4571984e58d3bff02c50e (not in 0.4.7 tag)

[2021-03-24 22:00] timfallmk commented on #504
Some tag shuffling before release maybe have caused this. I'll push a new tag. Thanks for checking @SMillerDev @Bo98

[2021-03-27 04:59] timfallmk commented on #504
@Bo98 Do you have more info on migrating dependabot functions to the "standard" variant? We originally had to use the beta version as this repo gets auto-detected to JS (thanks to the demo site). I'm not seeing any instructions when logging in.

[2021-03-27 05:03] Bo98 commented on #504
The UI is a bit confusing - it's the "Create config file" button that does the migration I think.

[2021-03-27 05:13] timfallmk commented on #504
Much appreciated. I'll poke around a bit.

[2021-03-29 15:03] tetchel opened #517 "ksync init cannot connect to docker daemon"
hi, I am trying to run `ksync init` to set up ksync on a CodeReady Containers cluster running locally on my Fedora machine

`ksync init` failed first with this message:
[code]

Adding `sudo` results in the same error message.

`dockerd` is running and i can run all `docker` commands as my current user since I am part of the `docker` group.

Thanks for any help

[2021-03-29 15:04] tetchel commented on #517
i see https://github.com/ksync/ksync/issues/289 is open too but seems closed without resolution

[2021-03-29 15:06] tetchel commented on #517
It may be due to the container runtime I am using?

[code]

[2021-03-30 17:54] timfallmk commented on #517
@tetchel Looks like you're using BTRFs as a storage driver. Unfortunately `ksync` doesn't support that right now.

[2021-04-07 21:13] tetchel commented on #517
I switched to `overlay2` storage driver and am still getting the same result.

[code]

[2021-04-08 18:36] timfallmk commented on #517
That would indicate the local docker daemon isn't available. Is there some special configuration for redhat when running the daemon? Maybe check your local docker client setup to see how it connects.

[2021-04-08 18:41] tetchel commented on #517
I am just on a regular Fedora distribution. Docker is definitely running as I can build images, run `docker ps`, etc.

`/run/docker.sock` is there as expected, I'm not sure what else I would check.

[2021-04-08 19:19] timfallmk commented on #517
Well that would do it 😄 . The trace above shows it’s looking for the socket at `/var/run/docker.sock`, which is the default for most platforms. I vaguely remember RedHat doing something different.

There’s a ksync config option to give a path to the Docker socket for this reason. I can’t look it up at the moment, as I’m not at my machine, but it should™️ be in the documentation.

[2021-04-08 19:22] tetchel commented on #517
sorry, my mistake, it's in both places

[code]

[2021-04-08 19:26] timfallmk commented on #517
Hmm. There’s still an itch in the back of my brain about RH/Fedora releases doing something different here. Btw, I’m not sure it’s actually documented (oops), but here’s the relevant flag https://github.com/ksync/ksync/blob/87c8aa02b7292e06d14b1f48b06fd6100ecae4fd/cmd/ksync/ksync.go#L148

SELinux issue @grampelberg ?

[2021-04-08 19:28] timfallmk commented on #517
Two things to try:
1. If you haven’t run the doctor command.
2. Try both that an init as root and see if there’s a difference

[2021-04-15 16:55] tetchel commented on #517
It has the same problem

[code]

[2021-04-15 19:02] timfallmk commented on #517
I'm just shooting in the dark now, but does your docker startup config (wherever that is on Fedora) have anything in it that would be a non-standard setting? It sounds like there's something Fedora does that's non-standard but I don't know what.

[2021-04-15 19:13] timfallmk commented on #517
Some SELinux related? https://stackoverflow.com/questions/63215054/portainer-got-permission-denied-while-trying-to-connect-to-the-docker-daemon-so

[2021-04-26 21:03] NealWilxite opened #526 "ksync generates CSRF error"
Recently upgraded my computer, copied ksync and kube folders from old machine and updated project folder references in ksync.yaml.

Running "ksync watch" now generates the following:

[code]

Thought it was due to version of ksync (had upgraded to 0.4.7-hotfix) so downgraded to 0.4.5.  ksync version info below.

[code]

Still producing the same result. I am not sure what to try.

[2021-05-03 23:10] grampelberg commented on #526
Did anything change with your k8s cluster? It sounds like an issue related to auth. Increasing the logging verbosity and running `doctor` would help!

[2021-05-04 10:10] NealWilxite commented on #526
Thanks for the advice but I manage to figure out the issue. I had another instance of syncthing running in the background (from SyncTrayzor app). Doh!

[2021-05-04 10:10] #526 closed

[2021-05-06 18:18] ntorba commented on #487
@aberle Did you ever find a fix for this? I'm seeing the same issue on my EKS cluster

[2021-05-19 17:17] aberle commented on #487
Sorry, no. I gave up using `syncthing` since this was not working for me.

[2021-05-26 16:47] zawias-pro commented on #517
I have the same issue on my Linux mint.
[code]

[2021-06-16 07:34] Omkar-Shetkar opened #534 "Ksync spec in waiting state forever"
I have an example setup for ksync with k3s based Kubernetes cluster.
After I run _create_ command, I see that spec is stuck in waiting state.

If I run the same example in Katacoda with minikube, is running fine.

Any hints to debug the issue will be helpful or
is it a known issue?

[code]

[2021-06-22 06:18] Omkar-Shetkar commented on #534
Since k3s by default uses containerd run time, ksync was not able to sync with it.
k3s provides a configuration to use docker instead of containerd. By installing k3s with docker enabled, I am able to use ksync with k3s.
https://rancher.com/docs/k3s/latest/en/advanced/#using-docker-as-the-container-runtime
Thanks.

[2021-06-22 06:18] #534 closed

[2021-06-22 14:11] Omkar-Shetkar commented on #327
k3s provides a configuration to use docker instead of containerd. By installing k3s with docker enabled, I am able to use ksync with k3s.
https://rancher.com/docs/k3s/latest/en/advanced/#using-docker-as-the-container-runtime
Thanks.

[2021-07-16 07:08] mrtimp commented on #517
I'm not sure if this helps or not but I ran into a similar issue - not 100% the same as the one described here.  I'm currently using microk8s on macOS Big Sur (microk8s is installed/configured/managed via multipass and is a VirtualBox VM).  After a bit of debugging it turned out that the `rpc error: code = Unknown desc = Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the do

[2021-07-17 18:34] manning-ncsa opened #539 "Discussion forum for ksync project"
Is there a discussion forum for ksync? I do not see any references in the docs and I cannot find one in the usual places (IRC, Matrix, Discourse site from general web search). If there is not one, I recommend claiming some Matrix rooms like `#ksync-dev:matrix.org`. In fact, I just created a room for the purpose at [#ksync-general:matrix.org](https://matrix.to/#/#ksync-general:matrix.org), for whic

[2021-07-30 23:07] timfallmk commented on #517
Very creative!

On Fri, Jul 16, 2021 at 12:08 AM Tim Philips ***@***.***>
wrote:

[2021-08-03 21:35] timfallmk commented on #487
The error messages you're seeing are from the local `ksync` container being unable to connect to the (also local) syncthing instance. Probably a local networking problem (if you running containers in a vm locally, the networking setup here can cause this).

[2021-08-16 22:16] timfallmk commented on #539
This seems like a great idea. Unfortunately, as many people have noticed, @grampelberg and myself have both become involved in other things and this project has fallen by the wayside. I would be more than happy if you wanted to create and control spaces to discuss it. We've even discussed seeking a new maintainer(s) for the project.

[2021-08-17 11:52] manning-ncsa commented on #539
Shortly after creating this issue and failing to get ksync to work consistently (e.g. the initial file sync would work but then subsequent file updates were never synced), I discovered [Okteto](https://okteto.com/), which works well for our needs. Good luck with your current and future endeavors.

[2021-08-17 11:52] #539 closed

[2021-08-22 11:34] johnbendi commented on #272
Hello, I'm using microk8s.

When I try to run `ksync init`
I get the following error message `FATA[0000] Unable to get config for context (). Does 'kubectl --context= cluster-info' work? `

When I run `kubectl --context= cluster-info`
I get
[code]
My `kubectl version`
[code]

[2021-08-23 01:21] johnbendi opened #546 "Trouble using ksync with microk8s"
Hello, I'm using microk8s.

When I try to run `ksync init`
I get the following error message `FATA[0000] Unable to get config for context (). Does 'kubectl --context= cluster-info' work? `

When I run `kubectl --context= cluster-info`
I get
[code]
My `kubectl version`
[code]

_Originally posted by @johnbendi in https://github.com/ksync/ksync/issues/272#issuecomment-903254755_

[2021-08-23 01:37] johnbendi commented on #546
Doing `microk8s config > ~/.kube/config` solved this issue.

[2021-08-23 01:37] #546 closed

[2021-08-23 03:05] ineffyble opened #547 "ksync becoming unusable with modern k8s clusters due to deprecation of docker in favour of containerd"
Kubernetes [officially deprecated Docker as a container runtime](https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/) in k8s 1.20, in favour of containerd directly.

As a result, modern k8s clusters are starting to be built with containerd (for example, kops 1.20+ uses containerd as runtime by default to match the Kubernetes change).

As has been stated in various other issues

[2021-09-10 10:10] danwilxite commented on #547
+1
Docker runtime has now been removed in 1.22, so ksync can no longer work with the latest kubernetes versions.

[2021-09-10 20:09] apatil4 commented on #286
👍  for this feature

[2021-09-13 11:33] apatil4 opened #549 "Can ksync update a failed or completed kubernetes job?"
I am using an EKS cluster and been running ML experiments using Kubernetes jobs. A job brings up a pod that runs the ML experiment which can take a day or two. What we want is the pod fails or completes, we want to update the code and restart the experiment from start.
However, seems like the pod needs to be running for the ksync to update the live code. Is that correct?
**Note: A job does not cle

[2021-09-13 19:44] timfallmk commented on #549
This depends on how the data is stored for the target pod. Ksync doesn't actually do anything with the pods themselves, only access their volumes. If the data is stored separately it can be accessed anytime.

Pro-tip. You can always get a pod to "run" by exec-ing a long running command into it, i.e. `sleep 1000`, giving you enough time to access it.

[2021-09-13 19:44] #549 closed

[2021-10-16 12:02] neahan opened #554 "ksync triggering browser reloads"
is there a (easy) way to get kysnc to trigger a local browser to reload after files has been transfered to a pod.

I tried setting up my own system (get ksync to output to a log file, then gulp. js to watch it for changes, then browserSync to reload the browser) but it didn't work very well.

[2021-10-19 23:36] timfallmk commented on #554
I'm not sure there would other than maybe watching for `fsevents` for the data you're working on. Alternatively the `syncthing` logs might be useful.

[2021-11-03 21:17] #554 closed

[2022-04-12 23:52] zquintana opened #570 "Not seeing any daemon set pods after init on eks fargate"
Hey guys, this tool looks super promising. I was trying it out for our teams, and I found that the daemon sets applied, but there are no pods that come up with it. Any ideas why?

[2022-06-29 09:51] kaiivoschneider commented on #517
Alright it's been a year. Where is the support.

[2022-07-01 21:48] timfallmk commented on #517
@kaiivoschneider Was there something in particular you were looking for. In general this project is largely defunct and both @grampelberg and myself have moved on to other things. I do my best to answer what I can, but there won't be any significant work on the project.

[2022-07-01 21:51] timfallmk commented on #570
@zquintana This project is largely defunct, so keep that in mind. As is, it relies on direct access to the docker daemon. Moves to `runc/containerd` make this not longer work, and it would require a complete rewrite to update it. IIRC Fargate abstracts the container runtime away from user control anyway, so I doubt it would work anyway.

[2022-07-01 21:51] timfallmk commented on #547
This project is largely defunct due to this and both creators moving on.

[2022-07-01 21:51] #547 closed

[2022-07-13 13:43] CuteSmartTiger opened #588 "ksync watch & error"
INFO[0000] listening                                     bind=127.0.0.1 port=40322
INFO[0000] new pod detected                              pod=app-6689987b65-srldn spec=resolved-boa
ERRO[0005] context deadline exceeded                     ContainerName= LocalPath=/home/xiaoyao/ksync LocalReadOnly=false Name=resolved-boa Namespace=default Pod= Reload=true RemotePath=/code RemoteReadOnly=false Sele

[2022-07-14 00:50] timfallmk commented on #588
Is the `syncthing` process running and listening on port `8384`?

[2022-09-25 11:47] YuceS opened #592 "Does sync work with container and cri-o?"
I want to use sync with k0s that uses containerd but has a ctr interface. Would it work for this setup?

[2022-10-02 03:42] #592 closed

[2022-11-02 07:11] suzaku opened #597 "Katacoda scenario in README no longer works"
<img width="1182" alt="Screen Shot 2022-11-02 at 15 11 00" src="https://user-images.githubusercontent.com/116473/199423316-c955663f-902b-4b18-9598-baa63c398b0d.png">